<div class="product-grid-item complete-stack-product-item">

  <a href="{{ product.url }}" class="product-card-url">product card url</a>

  <div class="product_custom_tag">{{ product_custom_tag }}</div>

  <div class="complete-stack-product-details">

    <!-- Main Product Image Slider -->
    <div class="product_image_slider">
      <div class="product-media-item">
        {% render 'responsive-image', image: product.featured_image %}
      </div>
    </div>
  
    <div class="product-content-wrapper">
  
      <div class="product-details-wrapper">
        <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
          {{ product.metafields.judgeme.badge }}
        </div> 
  
        <a href="{{ product.url }}" class="product-title">{{ product.title }}</a>
  
        {% if product.metafields.custom.plp_product_short_description != blank %}
          <div class="product-description">
            {% assign string = product.metafields.custom.plp_product_short_description | strip_html %}
            {{ string }}
          </div>
        {% endif %}
      </div>
  
      <div class="shop-now-button small-hide">
        {% for option in product.options_with_values %}
          {% if option.name == "Flavor" %}
            {% assign flavor_count = option.values | size %}
          {% endif %}
        {% endfor %}

        {% if flavor_count > 0 %}
          <div class="flavors-available">{{ flavor_count }} flavors available </div>
        {% endif %}

        {%- if product.selected_or_first_available_variant.available -%}
            <a href="{{ product.url }}" class="button black-button" target="_blank">shop now</a>                   
        {%- else -%}
          {{ 'products.product.sold_out' | t }}
        {%- endif -%}
      </div>
    </div>

    <div class="shop-now-button large-up-hide medium-hide">
      {% for option in product.options_with_values %}
        {% if option.name == "Flavor" %}
          {% assign flavor_count = option.values | size %}
        {% endif %}
      {% endfor %}
    
      {% if flavour_count > 0 %}
        <div class="flavors-available">{{ flavor_count }} flavors available </div>
      {% endif %}
    
      {%- if product.selected_or_first_available_variant.available -%}
          <a href="{{ product.url }}" class="button black-button" target="_blank">shop now</a>                   
      {%- else -%}
        {{ 'products.product.sold_out' | t }}
      {%- endif -%}
    </div>

  </div>
  
</div>