{{ 'new-megamenu.css' | asset_url | stylesheet_tag }}

{% unless block.settings.show %}
  <li class="menu-item-has-children main--menu-items">
    <a href="{{ block.settings.main_url }}" class="main-menu-title">{{ block.settings.main_link }}</a>
    <div class="menu-subs menu-mega menu-column-2 new-megamenu-wrapper">
      <div class="container new-megamenu-inner">
        <div class="megamenu-header">
          <h4 class="title">{{ block.settings.main_link }}</h4>
          {% if block.settings.main_url != blank %}
            <a href="{{ block.settings.main_url }}" class="btn_link link link-expand" aria-label="Menu Item Button URL">
              <span>View All</span>
              {% render 'right-arrow' %}
            </a>
          {% endif %}
        </div>
        <div class="megamenu-body">
            {% if block.settings.enable_item_1 %}
              <div class="list-item">
                <ul class="list-item-column">
                {% if block.settings.pro_title1 != blank or block.settings.pro_subtitle1 != blank %}
                  <li>
                    <a href="{{ block.settings.url_pro1 }}">
                      {% if block.settings.pro_img_1 != blank %}
                        <img
                          src="{{ block.settings.pro_img_1 | img_url:'' }}"
                          loading="lazy"
                          alt="First Product Image 1"
                          width="auto"
                          height="auto"
                        >
                      {% endif %}
                      <div class="content-wrapper">
                        <span>{{ block.settings.pro_title1 }}</span>
                        <p>{{ block.settings.pro_subtitle1 | truncate: 98, '...' }}</p>
                      </div>
                    </a>
                  </li>
                {% endif %}
                {% if block.settings.secpro_title1 != blank or block.settings.secpro_subtitle1 != blank %}
                  <li>
                    <a href="{{ block.settings.securl_pro1 }}">
                      {% if block.settings.secpro_img_1 != blank %}
                        <img
                          src="{{ block.settings.secpro_img_1 | img_url:'' }}"
                          loading="lazy"
                          alt="Second Product Image 1"
                          width="auto"
                          height="auto"
                        >
                      {% endif %}
                      <div class="content-wrapper">
                        <span>{{ block.settings.secpro_title1 }}</span>
                        <p>{{ block.settings.secpro_subtitle1 | truncate: 98, '...' }}</p>
                      </div>
                    </a>
                  </li>
                {% endif %}
                {% if block.settings.thpro_title1 != blank or block.settings.thpro_subtitle1 != blank %}
                  <li>
                    <a href="{{ block.settings.thurl_pro1 }}">
                      {% if block.settings.thcpro_img_1 != blank %}
                        <img
                          src="{{ block.settings.thcpro_img_1 | img_url:'' }}"
                          loading="lazy"
                          alt="Third Product Image 1"
                          width="auto"
                          height="auto"
                        >
                      {% endif %}
                      <div class="content-wrapper">
                        <span>{{ block.settings.thpro_title1 }}</span>
                        <p>{{ block.settings.thpro_subtitle1 | truncate: 98, '...' }}</p>
                      </div>
                    </a>
                  </li>
                {% endif %}
              </ul>
              </div>
            {% endif %}
            {% if block.settings.enable_item_2 %}
              <div class="list-item">
                <ul class="list-item-column">
                {% if block.settings.pro_title2 != blank or block.settings.pro_subtitle2 != blank %}
                  <li>
                    <a href="{{ block.settings.url_pro2 }}">
                      {% if block.settings.pro_img_2 != blank %}
                        <img
                          src="{{ block.settings.pro_img_2 | img_url:'' }}"
                          loading="lazy"
                          alt="First Product Image 2"
                          width="auto"
                          height="auto"
                        >
                      {% endif %}
                      <div class="content-wrapper">
                        <span class="menu-item-title">{{ block.settings.pro_title2 }}</span>
                        <p class="menu-item-text">{{ block.settings.pro_subtitle2 | truncate: 98, '...' }}</p>
                      </div>
                    </a>
                  </li>
                {% endif %}
                {% if block.settings.secpro_title2 != blank or block.settings.secpro_subtitle2 != blank %}
                  <li>
                    <a href="{{ block.settings.securl_pro2 }}">
                      {% if block.settings.secpro_img_2 != blank %}
                        <img
                          src="{{ block.settings.secpro_img_2 | img_url:'' }}"
                          loading="lazy"
                          alt="Second Product Image 2"
                          width="auto"
                          height="auto"
                        >
                      {% endif %}
                      <div class="content-wrapper">
                        <span>{{ block.settings.secpro_title2 }}</span>
                        <p>{{ block.settings.secpro_subtitle2 | truncate: 98, '...' }}</p>
                      </div>
                    </a>
                  </li>
                {% endif %}
                {% if block.settings.thpro_title2 != blank or block.settings.thpro_subtitle2 != blank %}
                  <li>
                    <a href="{{ block.settings.thurl_pro2 }}">
                      {% if block.settings.thcpro_img_2 != blank %}
                        <img
                          src="{{ block.settings.thcpro_img_2 | img_url:'' }}"
                          loading="lazy"
                          alt="Third Product Image 2"
                          width="auto"
                          height="auto"
                        >
                      {% endif %}
                      <div class="content-wrapper">
                        <span>{{ block.settings.thpro_title2 }}</span>
                        <p>{{ block.settings.thpro_subtitle2 | truncate: 98, '...' }}</p>
                      </div>
                    </a>
                  </li>
                {% endif %}
              </ul>
              </div>
            {% endif %}
            {% if block.settings.enable_promo %}
              <div class="list-item promotion-banner-wrapper">
                <div class="promotion-banner">
                  <a href="{{ block.settings.block_link }}" class="menu-block-link" aria-label="Menu Block Link">Goal Block Link</a>
                  <div class="block-header">
                    <div class="heading">
                      {% if block.settings.block_description != blank %}
                        <h3>{{ block.settings.block_heading }}</h3>
                      {% endif %}
                      {% if block.settings.block_link != blank %}
                        <a href="{{ block.settings.block_link }}" class="" aria-label="Goal Block Link">
                          {% if block.settings.block_link != blank %}{% render 'right-arrow' %}{% endif %}
                        </a>
                      {% endif %}
                    </div>
                    {% if block.settings.block_description != blank %}
                      <p>{{ block.settings.block_description }}</p>
                    {% endif %}
                  </div>
                  {% if block.settings.block_image != blank %}
                    <div class="image__wrapper">{% render 'responsive-image', image: block.settings.block_image, image_alt: block.settings.block_heading %}</div>
                  {% else %}
                    <div class="image__wrapper placeholder-image">{{ 'image' | placeholder_svg_tag }}</div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% if block.settings.enable_promo2 %}
            <div class="list-item promotion-banner-wrapper">
              <div class="promotion-banner">
                <a href="{{ block.settings.block_link2 }}" class="menu-block-link" aria-label="Menu Block Link">Goal Block Link</a>
                <div class="block-header">
                  <div class="heading">
                    {% if block.settings.block_description2 != blank %}
                      <h3>{{ block.settings.block_heading2 }}</h3>
                    {% endif %}
                    {% if block.settings.block_link2 != blank %}
                      <a href="{{ block.settings.block_link2 }}" class="" aria-label="Goal Block Link">
                        {% if block.settings.block_link2 != blank %}{% render 'right-arrow' %}{% endif %}
                      </a>
                    {% endif %}
                  </div>
                  {% if block.settings.block_description2 != blank %}
                    <p>{{ block.settings.block_description2 }}</p>
                  {% endif %}
                </div>
                {% if block.settings.block_image2 != blank %}
                  <div class="image__wrapper">{% render 'responsive-image', image: block.settings.block_image2, image_alt: block.settings.block_heading2 %}</div>
                {% else %}
                  <div class="image__wrapper placeholder-image">{{ 'image' | placeholder_svg_tag }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
{% endunless %}