<div class="product-grid-item swiper-slide">
  <a href="{{ product.url }}" class="product-card-url" target="_blank">product card url</a>
  {% assign best-seller = false %}
  {% assign new_arrival = false %}
  {% for tag in product.tags %}
    {% if product.tags contains "best-seller" %}
      {% assign best-seller = true %}
    {% endif %}
    {% if product.tags contains "new" or product.tags contains "New" %}
      {% assign new_arrival = true %}
    {% endif %}
  {% endfor %}
  {% if best-seller %}
    <div class="product-tag">{{ 'products.product.tags.best_seller' | t }}</div>
  {% endif %}
  {% if new_arrival %}
    <div class="product-tag new_arrival">{{ 'products.product.tags.new' | t }}</div>
  {% endif %}
  <!-- Main Product Image Slider -->
  <div class="product_image_slider">
      <div class="product-media-item">
        {% render 'responsive-image', image: product.featured_image %}
      </div>
  </div>

  <div class="product-content-wrapper">

    <div class="product-details-wrapper">
      <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
        {{ product.metafields.judgeme.badge }} <span class="jdgm-rating-count">{{ product.metafields.reviews.rating.value }}</span>
      </div> 

      <a href="{{ product.url }}" class="product-title" target="_blank">{{ product.title }}</a>

    </div>

    <div class="compare-product-feature-list">
      {% assign compare_product_feature_list = product.metafields.custom.compare_product_feature_list.value %}
      {% for feature_list in compare_product_feature_list %}
        <div class="feature-list-item">
          {{ feature_list.image | image_url: width: auto, height: auto | image_tag }}
          {{ feature_list.title | metafield_tag }}
        </div>
      {% endfor %}
    </div>

    <div class="price-button-wrapper">
      <div class="shop-now-button">
 
        {% for option in product.options_with_values %}
          {% if option.name == "Flavor" %}
            {% assign flavor_count = option.values | size %}
          {% endif %}
        {% endfor %}
        
        {%- if product.selected_or_first_available_variant.available -%}
            <a href="{{ product.url }}" target="_blank">shop {% if flavor_count > 0 %}{{ flavor_count }} flavors {% else %}now{% endif %} {% render 'right-arrow' %}</a>                          
        {%- else -%}
          {{ 'products.product.sold_out' | t }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>