<li class="menu-item-has-children menu-item-has-children-m">
  <a href="#">
    {{- block.settings.main_link }}
    {% render 'icon-chevron-down-light' -%}
  </a>
  <div class="menu-subs menu-subs-m menu-mega menu-column-4 mobile-subnavigation">
    <div class="list-item">
      <ul class="mobile-subnavigation-inner">
        <li>
          <a href="{{ block.settings.url_pro1 }}">
            <img
              src="{{ block.settings.pro_img_1 | img_url:'master' }}"
              loading="lazy"
              alt="First Product Image 1"
            >
            <div class="content-wrapper">
              <span>{{ block.settings.pro_title1 }}</span>
              <p>{{ block.settings.pro_subtitle1 }}</p>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ block.settings.securl_pro1 }}">
            <img
              src="{{ block.settings.secpro_img_1 | img_url:'master' }}"
              loading="lazy"
              alt="Second Product Image 1"
            >
            <div class="content-wrapper">
              <span>{{ block.settings.secpro_title1 }}</span>
              <p>{{ block.settings.secpro_subtitle1 }}</p>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ block.settings.thurl_pro1 }}">
            <img
              src="{{ block.settings.thcpro_img_1 | img_url:'master' }}"
              loading="lazy"
              alt="Third Product Image 1"
            >
            <div class="content-wrapper">
              <span>{{ block.settings.thpro_title1 }}</span>
              <p>{{ block.settings.thpro_subtitle1 }}</p>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ block.settings.url_pro2 }}">
            <img
              src="{{ block.settings.pro_img_2 | img_url:'master' }}"
              loading="lazy"
              alt="First Product Image 2"
            >
            <div class="content-wrapper">
              <span>{{ block.settings.pro_title2 }}</span>
              <p>{{ block.settings.pro_subtitle2 }}</p>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ block.settings.securl_pro2 }}">
            <img
              src="{{ block.settings.secpro_img_2 | img_url:'master' }}"
              loading="lazy"
              alt="Second Product Image 2"
            >
            <div class="content-wrapper">
              <span>{{ block.settings.secpro_title2 }}</span>
              <p>{{ block.settings.secpro_subtitle2 }}</p>
            </div>
          </a>
        </li>
        <li>
          <a href="{{ block.settings.thurl_pro2 }}">
            <img
              src="{{ block.settings.thcpro_img_2 | img_url:'master' }}"
              loading="lazy"
              alt="Third Product Image 2"
            >
            <div class="content-wrapper">
              <span>{{ block.settings.thpro_title2 }}</span>
              <p>{{ block.settings.thpro_subtitle2 }}</p>
            </div>
          </a>
        </li>
      </ul>
      <div class="view-all-link">
      {% if block.settings.main_url != blank %}
        <a href="{{ block.settings.main_url }}" class="btn_link link" aria-label="Menu Item Button URL">
          <span>View All</span>
          {% render 'right-arrow' %}
        </a>
      {% endif %}
      </div>
    </div>
  </div>
</li>