<product-grid-item class="{% for tag in product.tags %}{% if tag contains 'TLsvegan' %} vegan_class {% elsif tag contains "StimulantFree" %} StimulantFree {% endif %} {% endfor %}bg-white flex flex-col p-4 rounded-xl text-blue-500 xgen-new-product stack-products_{{block_id}}_{{product.id}}">
  <div class="xgen-product-img">
    {% assign split_title = product.title | split: '|' %}

    {% if product.variants.size == 1 or product.tags contains 'use-featured-image' %}
      <a class="block mx-auto w-64" href="{{ product.url | within: collection }}">
        {% assign product_featured_image = product.featured_image | split: '/' | last | split: '.' | first | replace: '/', ' ' | replace: '-', ' ' | replace: '_', ' ' %}
        <img src="{{product.featured_image | img_url: 'master'}}" alt="{% if product.featured_image.alt %}{{ product.featured_image.alt }}{% else %}{{ product_featured_image }}{% endif %}" loading="lazy" width="256" height="256">
        <!--
          {% render 'old-lazy-image',
            height: 500,
            image: product.featured_image,
            width: 500,
          %}
        -->
      </a>
    {% else %}
      <div class="swiper render-swiper">
        <div class="swiper-wrapper">
          {% for variant in product.variants %}
            {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
              {% continue %}
            {% endif %}

            <div class="swiper-slide" data-variant-id="{{ variant.id }}">
              <a class="block mx-auto w-64" href="{{ product.url | within: collection }}">
                {% assign product_featured_image1 = product.featured_image | split: '/' | last | split: '.' | first | replace: '/', ' ' | replace: '-', ' ' | replace: '_', ' ' %}
                <img src="{{product.featured_image | img_url: 'master'}}" alt="{% if product.featured_image.alt %}{{ product.featured_image.alt }}{% else %}{{ product_featured_image1 }}{% endif %}" loading="lazy" width="256" height="256">
                <!--
                  {% render 'old-lazy-image',
                    height: 500,
                    image: variant.image,
                    width: 500,
                  %}
                -->
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="xgen-product-info">
    <div class="xgen-product-info-in">
      <div class="xgan-ptag">{{ product_type }}</div>
      <h3 class="font-normal">
        {{ split_title[1] }}
      </h3>

      <h2 class="font-semibold text-xl xgen-ptitle">
        {{ split_title[0] }}
      </h2>

      <div class="xgen-pdesc">
        {% if product.metafields.my_fields.sub_coll_product_details != blank %}
          {{ product.metafields.my_fields.sub_coll_product_details }}
        {% endif %}
      </div>
    </div>
    <div class="package-list-wraper">
      <div class="package-list  accordions  sb-accordions--legacy">
        {% assign stack_products = product.metafields.my_fields.stack_products | split: ',' %}
        {% assign stack_products_length = stack_products.size %}
        <p>Package Includes</p>
        <h5>{{ stack_products_length }} Pre-selected Items {% render 'sdark-arrow' %}</h5>
      </div>
      <div class="panel">
        <div class="packageslide slider ">
          {% assign stack_products = product.metafields.my_fields.stack_products | split: ',' %}
          {% assign stack_products_length = stack_products.size %}
          {% if stack_products_length > 0 %}
            {% for product_handle in stack_products %}
              {% assign pro_handle = product_handle | strip %}
              
              {% for pure_product in collections.all.products %}
                {% if pure_product.available == true %}
                  <span yes></span>
                {% else %}
                  <span no></span>
                {% endif %}
                {% if pure_product.handle == pro_handle %}
                  <div class="items stack-item">
                    <div class="items-img">
                      {% assign pure_product_featured_image = pure_product.featured_image | split: '/' | last | split: '.' | first | replace: '/', ' ' | replace: '-', ' ' | replace: '_', ' ' %}
                      <img src="{{pure_product.featured_image | img_url : 'master'}}" alt="{% if product.featured_image.alt %}{{ product.featured_image.alt }}{% else %}{{ pure_product_featured_image }}{% endif %}" loading="lazy" width="100" height="100">
                    </div>
                    <div class="stack-text">
                      <h3>{{ pure_product.title }}</h3>
                      {% if pure_product.variants.size > 0 %}
                        {% if pure_product.options[0] %}
                          <div class="input-wraper">
                            {% assign used = '' %}
                            <label for="select-one_{{product.id}}{{pure_product.id}}">
                              {{- pure_product.options[0] -}}
                            </label>
                            <select
                              id="select-one_{{product.id}}{{pure_product.id}}"
                              onchange="letsDoThis_{{product.id}}_{{pure_product.id}}()"
                            >
                              {% for variant in pure_product.variants %}
                                {% unless variant.inventory_quantity == 0 %}
                                  {% unless used contains variant.option1 %}
                                    <option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
                                    {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
                                  {% endunless %}
                                {% endunless %}
                              {% endfor %}
                            </select>
                          </div>
                        {% endif %}
                        {% if pure_product.options[1] %}
                          <div class="input-wraper">
                            {% assign used = '' %}
                            <label for="select-one_{{product.id}}{{pure_product.id}}">
                              {{- pure_product.options[1] -}}
                            </label>
                            <select
                              id="select-two_{{product.id}}{{pure_product.id}}"
                              onchange="letsDoThis_{{product.id}}_{{pure_product.id}}()"
                            >
                              {% for variant in pure_product.variants %}
                                {% unless variant.inventory_quantity == 0 %}
                                  {% unless used contains variant.option2 %}
                                    <option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
                                    {% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
                                  {% endunless %}
                                {% endunless %}
                              {% endfor %}
                            </select>
                          </div>
                        {% endif %}
                        {% if pure_product.options[2] %}
                          <div class="input-wraper">
                            {% assign used = '' %}
                            <label for="select-one_{{product.id}}{{pure_product.id}}">
                              {{- pure_product.options[2] -}}
                            </label>
                            <select
                              id="select-three_{{product.id}}{{pure_product.id}}"
                              onchange="letsDoThis_{{product.id}}_{{pure_product.id}}()"
                            >
                              {% for variant in pure_product.variants %}
                                {% unless variant.inventory_quantity == 0 %}
                                  {% unless used contains variant.option3 %}
                                    <option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
                                    {% capture used %}{{ used }} {{ variant.option3 }}{% endcapture %}
                                  {% endunless %}
                                {% endunless %}
                              {% endfor %}
                            </select>
                          </div>
                        {% endif %}
                      {% endif %}
                      <input
                        type="hidden"
                        name="id"
                        id="product-select_{{product.id}}_{{pure_product.id}}"
                        class="stack_vid"
                        value="{% if pure_product.selected_or_first_available_variant.available %}{{ pure_product.selected_or_first_available_variant.id }}{% endif %}"
                      >
                      <div
                        class="p1_selling_plan_{{product.id}}_{{block_id}}_{{pure_product.id}}"
                        style="display:none;"
                      ></div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% else %}
            it is empty
          {% endif %}
        </div>
      </div>

      {% assign stack_products = product.metafields.my_fields.stack_products | split: ',' %}
      {% assign stack_products_length = stack_products.size %}
      {% if stack_products_length > 0 %}
        {% for product_handle in stack_products %}
          {% assign pro_handle = product_handle | strip %}
          {% for pure_product in collections.all.products %}
            {% if pure_product.handle == pro_handle %}
              <script type="text/javascript">
                                function letsDoThis_{{product.id}}_{{pure_product.id}}()
                                {
                                  ////console.log("clicked!");
                                    {% if pure_product.options[0] %}
                                        var opt1 = document.getElementById('select-one_{{product.id}}{{pure_product.id}}').value;
                                    {% endif %}


                                    {% if pure_product.options[1] %}
                                        var opt2 = document.getElementById('select-two_{{product.id}}{{pure_product.id}}').value;
                                    {% endif %}


                                    {% if pure_product.options[2] %}
                                        var opt3 = document.getElementById('select-three_{{product.id}}{{pure_product.id}}').value;
                                    {% endif %}


                                    var id = '';

                                    {% for v in pure_product.variants %}

                						 {% unless v.inventory_quantity == 0 %}

                                        	if(opt1=="{{ v.option1 }}" {% if pure_product.options[1] %} && opt2 =="{{ v.option2 }}" {% endif %} {% if pure_product.options[2] %} && opt3 == "{{ v.option3 }}" {% endif %})
                                        	{
                                            	var id = {{ v.id }};
                                            	var price = "{{ v.price | money }}";
                                        	}
                                   		{% endunless %}

                                    {% endfor %}
                                    if(id!='')
                                    {
                                        document.getElementById('product-select_{{product.id}}_{{pure_product.id}}').value = id;
                						//document.getElementById('price_{{pure_product.id}}').innerHTML = price;
                                    }
                                    else
                                    {
                                        document.getElementById('product-select_{{product.id}}_{{pure_product.id}}').value = '';
                						//document.getElementById('price_{{pure_product.id}}').innerHTML = 'Unavailable';
                                    }
                                }

                                var variant_values = {{ pure_product.variants | json }};
                                ////console.log(variant_values);
                                var len = variant_values.length;
                                for(var i = 0; i < len; i++)
                                {
                                    ////console.log(variant_values[i].id);
                                    var len2 = variant_values[i].selling_plan_allocations.length;
                                    var plans = variant_values[i].selling_plan_allocations;
                                    for(var j=0; j < len2; j++)
                                    {
                                        document.querySelector(".p1_selling_plan_{{product.id}}_{{block_id}}_{{pure_product.id}}").insertAdjacentHTML('beforeend', '<input class="onetime selling_plan_'+j+'" data-stack="{{block.id}}_{{product.id}}" data-price="'+plans[j].price+'" data-otp="'+plans[j].compare_at_price+'" name="selling_plan" value="'+plans[j].selling_plan_id+'">');
                //                             //console.log(plans[j].selling_plan_id);
                                    }
                                    if(i == 0)
                                    {
                                        break;
                                    }

                                }
              </script>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
      <div class="package-list accordions  sb-accordions--legacy np_last">
        <p>Deliver</p>
        <h5>
          <div class="freq_text  freq_text_{{block_id}}_{{product.id}}"></div>
          <div class="price_update">
            <span class="real_price_{{block_id}}_{{product.id}}"></span
            ><span class="com_price_{{block_id}}_{{product.id}} line_thue"></span>
          </div>
          {% render 'sdark-arrow' %}
        </h5>
      </div>

      <div class="package-list panel">
        <div class="stack-row">
          <div class="stack-row-item stack-row-item_{{block_id}}_{{product.id}}">
            <input
              id="{{block_id}}_{{product.id}}_a"
              type="radio"
              data-text="One-Time Order"
              class="stack-radio-2"
              name="purchaseoption_{{block_id}}_{{product.id}}"
              value="onetime"
            >
            <label for="{{block_id}}_{{product.id}}_a" class=""
              >One-Time Order <br>
              <small>Give it a try</small></label
            >
            <span class="pass_otp_{{block_id}}_{{product.id}} take_price"></span>
          </div>

          <div class="stack-row-item stack-row-item_{{block_id}}_{{product.id}} active_class">
            <input
              id="{{block_id}}_{{product.id}}_b"
              type="radio"
              data-text="Deliver Every Month"
              class="stack-radio ddoption1"
              name="purchaseoption_{{block_id}}_{{product.id}}"
              value="selling_plan_0"
              checked
            >
            <label for="{{block_id}}_{{product.id}}_b" class="">
              {{ dis_text_month -}}
              <br>
              <small>{{ sub_percent_text }}</small></label
            >
            <span class="sub_price take_price"></span>
          </div>

          <div class="stack-row-item stack-row-item_{{block_id}}_{{product.id}}">
            <input
              id="{{block_id}}_{{product.id}}_c"
              type="radio"
              data-text="Deliver Every 45 days"
              class="stack-radio ddoption1"
              name="purchaseoption_{{block_id}}_{{product.id}}"
              value="selling_plan_1"
            >
            <label for="{{block_id}}_{{product.id}}_c" class="">
              {{ dis_text_days }}
              <br>
              <small>{{ sub_percent_text }}</small></label
            >
            <span class="sub_price take_price"></span>
          </div>

          <div class="stack-row-item stack-row-item_{{block_id}}_{{product.id}}">
            <input
              id="{{block_id}}_{{product.id}}_d"
              type="radio"
              data-text="Deliver Every 60 days"
              class="stack-radio ddoption1"
              name="purchaseoption_{{block_id}}_{{product.id}}"
              value="selling_plan_2"
            >
            <label for="{{block_id}}_{{product.id}}_d" class="">
              Deliver Every 60 days <br>
              <small>{{ sub_percent_text }}</small></label
            >
            <span class="sub_price take_price"></span>
          </div>
        </div>
      </div>

      <div class="gap-8 grid grid-cols-2 items-center mt-4 price-btn-grid">
        <!--
          <h6 class="update_main_price_{{block_id}}_{{product.id}}">
          	{{ product.price | money }}
          </h6>
        -->
        <div class=" pricetext">
          {% for variant in product.variants %}
            {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
              {% continue %}
            {% endif %}

            <div class="font-semibold  text-blue-400 text-xl variant-price">
              <div class="real_price_{{block_id}}_{{product.id}}"></div>
              <del class="com_price_{{block_id}}_{{product.id}}"></del>
            </div>
          {% endfor %}
        </div>
        <button class="submit-stack-products_{{block_id}}_{{product.id}} button-alt">Subscribe</button>
      </div>
    </div>
  </div>
</product-grid-item>
<script type="text/javascript">
  /**
   * Initialize stack product functionality when DOM is ready
   * Handles pricing calculations and purchase option changes
   */
  document.addEventListener('DOMContentLoaded', function() {
    const blockId = '{{block_id}}';
    const productId = '{{product.id}}';
    const stackProductsSelector = `.stack-products_${blockId}_${productId}`;
    
    /**
     * Format price from cents to dollars
     * @param {number} num - Price in cents
     * @returns {string} - Formatted price
     */
    function formatPrice(num) {
      return (num / 100).toFixed(2);
    }
    
    /**
     * Update pricing display based on selected purchase option
     */
    function updatePricing() {
      try {
        const checkedOption = document.querySelector(`input[name='purchaseoption_${blockId}_${productId}']:checked`);
        if (!checkedOption) return;
        
        const freqText = checkedOption.dataset.text || '';
        const sellingPlanVal = checkedOption.value;
        
        // Update frequency text
        const freqTextElement = document.querySelector(`.freq_text_${blockId}_${productId}`);
        if (freqTextElement) {
          freqTextElement.textContent = freqText;
        }
        
        let total = 0;
        let otpTotal = 0;
        
        // Calculate totals from stack items
        const stackItems = document.querySelectorAll(`${stackProductsSelector} .stack-item`);
        // console.log('stackItems', stackItems);
        stackItems.forEach(item => {
          const planElement = item.querySelector(`.${sellingPlanVal}`);
          if (!planElement) return;
          
          if (sellingPlanVal.startsWith('selling_plan_')) {
            // Subscription pricing
            const price = parseInt(planElement.dataset.price) || 0;
            const otpPrice = parseInt(planElement.dataset.otp) || 0;
            total += price;
            otpTotal += otpPrice;
          } else {
            // One-time pricing
            const otpPrice = parseInt(planElement.dataset.otp) || 0;
            total += otpPrice;
            otpTotal += otpPrice;
          }
        });
        // console.log('total', total);
        
        // Update price display
        const realPriceElements = document.querySelectorAll(`.real_price_${blockId}_${productId}`);
        const comPriceElements = document.querySelectorAll(`.com_price_${blockId}_${productId}`);
        
        if (realPriceElements.length) {
          realPriceElements.forEach(element => { 
            element.textContent = `$${formatPrice(total)}`;
          });
        }
        
        if (comPriceElements.length) {
          if (sellingPlanVal.startsWith('selling_plan_') && total !== otpTotal) {
            comPriceElements.forEach(element => { 
              element.textContent = `$${formatPrice(otpTotal)}`;
            });
          } else {
            comPriceElements.forEach(element => { 
              element.textContent = '';
            });
          }
        }
      } catch (error) {
        console.error('Error updating pricing:', error);
      }
    }
    
    /**
     * Handle purchase option changes
     */
    function handlePurchaseOptionChange(event) {
      try {
        const freqTextElement = document.querySelector(`.freq_text_${blockId}_${productId}`);
        if (freqTextElement) {
          freqTextElement.textContent = event.target.dataset.text || '';
        }
        
        // Update active class
        const allOptions = document.querySelectorAll(`.stack-row-item_${blockId}_${productId}`);
        allOptions.forEach(item => item.classList.remove('active_class'));
        
        const parentItem = event.target.closest(`.stack-row-item_${blockId}_${productId}`);
        if (parentItem) {
          parentItem.classList.add('active_class');
        }
        
        updatePricing();
      } catch (error) {
        console.error('Error handling purchase option change:', error);
      }
    }
    
    /**
     * Handle Add To Cart functionality
     */
    function handleAddToCart() {
      try {
        const checkedOption = document.querySelector(`input[name='purchaseoption_${blockId}_${productId}']:checked`);
        if (!checkedOption) return;
        
        const sellingPlanVal = checkedOption.value;
        const items = [];
        const quantityInput = document.querySelector("input[name='quantity']");
        const quantity = quantityInput ? parseInt(quantityInput.value) || 1 : 1;
        
        // Collect items from stack
        const stackItems = document.querySelectorAll(`${stackProductsSelector} .stack-item`);
        stackItems.forEach(item => {
          const variantIdInput = item.querySelector('.stack_vid');
          if (!variantIdInput || !variantIdInput.value) return;
          
          const variantId = parseInt(variantIdInput.value);
          if (isNaN(variantId)) return;
          
          if (sellingPlanVal.startsWith('selling_plan_')) {
            // Subscription item
            const planElement = item.querySelector(`.${sellingPlanVal}`);
            if (!planElement) return;
            
            const stackId = planElement.dataset.stack;
            const sellingPlanId = parseInt(planElement.value);
            
            if (!isNaN(sellingPlanId)) {
              items.push({
                id: variantId,
                quantity: quantity,
                selling_plan: sellingPlanId,
                properties: { 
                  stack_id: stackId, 
                  stack_product: '{{product.handle}}' 
                }
              });
            }
          } else {
            // One-time purchase
            items.push({
              id: variantId,
              quantity: quantity
            });
          }
        });
        
        if (items.length === 0) {
          console.warn('No items to Add To Cart');
          return;
        }
        
        //console.log('Adding items to cart:', items);
        
        // Add items to cart
        const formData = { items };

        const cart =  (document.querySelector('cart-notification') || document.querySelector('cart-drawer'))
        if (cart) {
          formData.sections  = cart.getSectionsToRender().map((section) => section.id)
        }
        
        fetch(`${window.Shopify.routes.root}cart/add.js`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then(data => {
          //console.log('Successfully added to cart:', data);
          if (cart) {
            cart.renderContents(data);
            publish(PUB_SUB_EVENTS.cartUpdate, {source: 'stack-product-grid'});
            cart.openCartDrawer()
          }
          // Optionally redirect to cart or show success message
          // window.location.href = '/cart';
        })
        .catch(error => {
          console.error('Error adding to cart:', error);
          // Handle error appropriately
        });
        
      } catch (error) {
        console.error('Error in handleAddToCart:', error);
      }
    }
    
    // Initialize functionality
    try {
      // Set up purchase option change listeners
      const purchaseOptions = document.querySelectorAll(`input[name='purchaseoption_${blockId}_${productId}']`);
      purchaseOptions.forEach(option => {
        option.addEventListener('change', handlePurchaseOptionChange);
      });
      
      // Set up Add To Cart button listener
      const submitButton = document.querySelector(`.submit-stack-products_${blockId}_${productId}`);
      if (submitButton) {
        submitButton.addEventListener('click', handleAddToCart);
      }
      
      // Initial pricing update
      updatePricing();
      
    } catch (error) {
      console.error('Error initializing stack product functionality:', error);
    }

  });
</script>
