<div class="product-grid-item">
  <a href="{{ product.url }}" class="product-card-url">product card url</a>
  {% assign best-seller = false %}
  {% for tag in product.tags %}
    {% if product.tags contains "best-seller" %}
      {% assign best-seller = true %}
    {% endif %}
  {% endfor %}
  {% comment %}
  {% if best-seller %}
    <div class="product-tag">Best Seller</div>
  {% endif %}
  {% endcomment %}
  <!-- Main Product Image Slider -->
  <div class="product_image_slider">
    
        <div class="product-media-item">
          {% render 'responsive-image-400', image: product.media[0] %}
        </div>
    
  </div>

  <div class="product-content-wrapper">

    <div class="product-details-wrapper">
      <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'> 
        {{ product.metafields.judgeme.badge }}
      </div> 

      <a href="{{ product.url }}" class="product-title">{{ product.title }}</a>

      {% if product.metafields.custom.plp_product_short_description != blank %}
        <div class="product-description">
          {% assign string = product.metafields.custom.plp_product_short_description | strip_html %}
          {{ string }}
        </div>
      {% endif %}
    </div>

    <div class="price-button-wrapper">
      <div class="product-price">
        {% if product.selected_or_first_available_selling_plan_allocation == blank %}
          <div>{{ product.first_available_variant.price | money }}</div>
          <del >{{ product.first_available_variant.compare_at_price | money }}</del>
        {% else %}
          <div  data-price="{{ product.first_available_variant.price | money }}"> {{ product.first_available_variant.price | money }} </div>
          <del >{{ product.first_available_variant.compare_at_price | money }}</del>
        {% endif %}
      </div>

      <div class="shop-now-button">
        {%- if product.selected_or_first_available_variant.available -%}

          {% for option in product.options_with_values %}
            {% if option.name == "Flavor" %}
              {% assign flavor_count = option.values | size %}
            {% endif %}
          {% endfor %}
          
          {%- if template.name == 'collection' -%}
            <a href="{{ product.url }}">
              shop {% if flavor_count > 0 %}{{ flavor_count }} flavors {% else %}now{% endif %} {% render 'right-arrow' %}
            </a>
          {%- else -%}
            <a href="{{ product.url }}">shop {% if flavor_count > 0 %}{{ flavor_count }} flavors {% else %}now{% endif %} {% render 'right-arrow' %}</a>            
          {%- endif -%}          
        {%- else -%}
          {{ 'products.product.sold_out' | t }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
