<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search">
    {% comment %}<label for="{{ label }}" class="sr-only">Search</label>{% endcomment %}
    <div class="bg-white border-2 border-gray-400 border-opacity-20 flex relative rounded-md predictive__search--wrapper">
      <button
        class="text-gray-400 px-4 py-3 transition-colors hover:text-orange-400 search-icon-button"
        type="submit"
        aria-label="Search Button"
      >
        {% render 'icon-search' %}
      </button>

      <div class="search-input-button-wrapper">
        <div class="search-input-button--inner">
          <input
            id="{{ label }}"
            class="focusme border-0 flex-1 outline-none pl-4 py-3 text-sm focus:ring-blue-400 focus:ring-2 predictive__search-input-wrapper"
            name="q"
            placeholder="Search"
            type="search"
            style="font-size: 1rem;"
            value="{{ search.terms | escape }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <label for="{{ label }}" class="search-input--label">Search</label>
    
          <button
            class="text-gray-400 px-4 py-3 transition-colors hover:text-orange-400"
            id="{{ close_id }}"
            type="button"
            aria-label="Search Icon Close"
          >
            {% comment %}{% render 'icon-close' %}{% endcomment %}
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1.10668L13 13.1067M13 1.10668L1 13.1067" stroke="#111314" stroke-linecap="round"/>
            </svg>
          </button>
        </div>
      </div>

      <input name="options[prefix]" type="hidden" value="last">

      {%- if settings.predictive_search_enabled -%}
        <div id="predictive-search" tabindex="-1"></div>
      {%- endif -%}
    </div>
  </form>
</predictive-search>
