{% comment %}
  {% render 'quick-view-button', show_quick_view: true, product: product, is_ab_test: true, ab_test_class: 'a-b-class' %}
{% endcomment %}

{% if show_quick_view %}
  <quick-view-custom class="{{ ab_test_class }}">
    <div>
      <!-- Add to Cart Form -->
      <!-- <form method="post" action="/cart/add" class="product-form" data-product-id="{{ product.id }}"> -->
        {% if product.variants.size == 1 %}
          {% comment %}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {% if product.selling_plan_groups.size > 0 %}
              {% assign first_selling_plan = product.selling_plan_groups[0].selling_plans[0] %}
              <input type="hidden" name="selling_plan" value="{{ first_selling_plan.id }}">
            {% endif %}
            <button type="submit" class="btn">Add to Cart</button>
          {% endcomment %}
           <button type="button" class="btn open-drawer btn-{{ product.id }}" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">Quick Add</button>
        {% else %}
           <button type="button" class="btn open-drawer btn-{{ product.id }}" data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}">Quick Add</button>
        {% endif %}
      <!-- </form> -->
    </div>
  </quick-view-custom>
{% endif %}