<div class="responsive-image-wrapper" style="max-width: {{ image.width }}px; aspect-ratio: {{ image.width }}/{{ image.height }};">
  <img
    src="{{ image | img_url: '400x' }}"
    srcset="
      {{ image | img_url: '200x' }} 200w,
      {{ image | img_url: '400x' }} 400w,
      {{ image | img_url: '600x' }} 600w,
      {{ image | img_url: '800x' }} 800w,
      {{ image | img_url: '1024x' }} 1024w
    "
    sizes="(max-width: 600px) 100vw, 50vw"
    width="{{ image.width }}"
    height="{{ image.height }}"
    alt="{{ image.alt | default: image_alt | escape }}"
    loading="lazy"
    decoding="async"
  />
</div>

<style>
  .responsive-image-wrapper {
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
  }

  .responsive-image-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
  }
</style>


