{% comment %}
  @liquidDoc
  @name sb-how-to-use-step
  @description Renders a step for the How to Use section
  @param settings {Object} - The step settings
  @param step_count {Number} - The index of the current step
{% endcomment %}

{% stylesheet %}
.sb-how-to-use-step {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  padding-left: 16px;
}

.sb-how-to-use-step__icon-wrapper {
  position: relative;
  flex-shrink: 0;
}

.sb-how-to-use-step__icon-container {
  width: 88px;
  height: 88px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.sb-how-to-use-step__icon-container img {
  height: 100%;

}

.sb-how-to-use-step__counter {
  position: absolute;
  left: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--sb-ch-bg-color, var(--sb-bg-color, #fff));
  border: 1px solid var(--sb-ch-fg-color, var(--sb-fg-color, #fff));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.2;
  color: var(--sb-ch-fg-color, var(--sb-fg-color, #fff));
  z-index: 1;
  font-family: var(--sb-font-family-heading);
}

.sb-how-to-use-step__content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sb-how-to-use-step__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--sb-ch-fg-color, var(--sb-fg-color, #fff));
  margin: 0;
}

.sb-how-to-use-step__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #fffc;
  margin: 0;
}

.sb-how-to-use-step__description p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .sb-how-to-use-step {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    flex: 1;
    position: relative;
    padding-left: 0;
  }

  .sb-how-to-use-step__icon-wrapper {
    margin-right: 0;
    align-self: flex-start;
  }

  .sb-how-to-use-step__counter {
    position: absolute;
    left: 0;
    top: -60px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    background: var(--sb-ch-bg-color, var(--sb-bg-color, #fff));
    border: 1px solid var(--sb-ch-fg-color, var(--sb-fg-color, #fff));
  }

  .sb-how-to-use-step__content {
    gap: 16px;
  }

  .sb-how-to-use-step__icon-container {
    width: 140px;
    height: 140px;
    border-radius: 6px;
  }

  .sb-how-to-use-step__icon-container img {
    height: 100%;
    width: 100%;
  }

  .sb-how-to-use-step__title {
    font-size: 18px;
    line-height: 1.4;
  }

  .sb-how-to-use-step__description {
    font-size: 16px;
    line-height: 1.4;
  }
}
{% endstylesheet %}

<div class="sb-how-to-use-step">
  <div class="sb-how-to-use-step__icon-wrapper">
    {% if settings.step_image != blank %}
      <div class="sb-how-to-use-step__icon-container">
        {{ settings.step_image | image_url: width: 100 | image_tag }}
      </div>
    {% endif %}
    <div class="sb-how-to-use-step__counter">
      {% if settings.step_number_image != blank %}
        {{ settings.step_number_image | image_url: width: 100 | image_tag }}
      {% else %}
        {{ step_count }}
      {% endif %}
    </div>
  </div>
  
  <div class="sb-how-to-use-step__content">
    {% if settings.step_title != blank %}
      <h3 class="sb-how-to-use-step__title">{{ settings.step_title }}</h3>
    {% endif %}
    
    {% if settings.step_description != blank %}
      <div class="sb-how-to-use-step__description">
        {{ settings.step_description }}
      </div>
    {% endif %}
  </div>
</div>