{% stylesheet %}
  .sb-featured-post {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--featured-posts-bg-color, #fff);
    color: var(--featured-posts-fg-color, #000);
  }

  .sb-featured-post__image-wrapper {
    width: 100%;
    height: 160px;
    overflow: hidden;
  }

  .sb-featured-post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sb-featured-post__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 12px;
    gap: 24px;
  }

  .sb-featured-post__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .sb-featured-post__article-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    color: var(--sb-fg-color, #000);
  }

  .sb-featured-post__description {
    font-size: 14px;
    line-height: 1.5;
    color: var(--sb-fg-color, #000);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    opacity: 0.72;
  }

  .sb-featured-post__description.__desktop {
    display: none;
  }

  .sb-featured-post__description.__mobile {
    display: block;
  }

  .sb-featured-post__blog-title {
    display: inline-block;
    font-size: 12px;
    color: var(--sb-fg-color, #000);
    opacity: 0.6;
    margin: 4px 0 0;
    font-weight: 400;
    font-family: var(--font-body-family);
  }

  .sb-featured-post__arrow {
    margin: 0;
    flex-shrink: 0;
    width: 22px;
  }
  
  .sb-featured-post__arrow svg { 
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    .sb-featured-post {
      max-width: 100%;
      gap: 40px;
      align-items: flex-start;
    }

    .sb-featured-post__image-wrapper {
      height: 300px;
    }

    .sb-featured-post__content-wrapper {
      padding: 20px 16px 24px;
    }

    .sb-featured-post__blog-title {
      order: -1;
      margin: 0;
      font-size: 14px;
    }

    .sb-featured-post__article-title {
      margin: 0;
    }

    .sb-featured-post__description {
      font-size: 16px;
      line-height: 1.6;
      -webkit-line-clamp: 3;
      margin: 0;
    }

    .sb-featured-post__description.__desktop {
      display: block;
    }

    .sb-featured-post__description.__mobile {
      display: none;
    }

    .sb-featured-post__arrow {
      display: none;
    }
  }
{% endstylesheet %}

{%  if block.settings.article != empty %}
{% assign article = block.settings.article %} 
{% assign blog = block.settings.blog | default: blog %}
  {% capture children %}
    <a href="{{ article.url }}" class="sb-featured-post">
      {% if article.image != blank %}
        <div class="sb-featured-post__image-wrapper">
        {{ article.image | image_url: width: 900  | image_tag: 
          loading: 'lazy',
          class: 'sb-featured-post__image',
          height: article.image.height,
          alt: article.image.alt | default: article.title
        }}
        </div>
      {% endif %}
      <div class="sb-featured-post__content-container">
        <div class="sb-featured-post__content-wrapper">
          <div class="sb-featured-post__content">
            <h4 class="sb-featured-post__article-title">{{ article.title }}</h4>
            <p class="sb-featured-post__description __mobile">
              {% if article.excerpt != blank %}
                {{ article.excerpt | strip_html | truncatewords: 9 }}
              {% else %}
                {{ article.content | strip_html | truncatewords: 9 }}
              {% endif %}
            </p>
            <p class="sb-featured-post__description __desktop">
              {% if article.excerpt != blank %}
                {{ article.excerpt | strip_html | truncatewords: 30 }}
              {% else %}
                {{ article.content | strip_html | truncatewords: 30 }}
              {% endif %}
            </p>
            {% if blog != blank %}
              <h3 class="sb-featured-post__blog-title">{{ blog.title }}</h3>
            {% endif %}
          </div>
          <div class="sb-featured-post__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="23" viewBox="0 0 18 23" fill="none">
              <g clip-path="url(#clip0_5948_5008)">
                <path d="M-1.74846e-07 13.5532L16 13.5532M16 13.5532L11.75 17.5532M16 13.5532L11.75 9.55322" stroke="#111314" stroke-width="1.28571" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0_5948_5008">
                  <rect width="22" height="18" fill="white" transform="translate(18 0.0532227) rotate(90)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
    </a>
  {% endcapture %}
  {% render 'swiper-slide', children: children %}
{% endif %}

{% schema %}
{
  "name": "Featured Post",
  "tag": null,
  "settings": [
    {
      "type": "article",
      "label": "Article",
      "id": "article",
    },
    {
      "type": "blog",
      "label": "Blog",
      "id": "blog",
      "info": "If no blog is selected, the title of the current blog will be used"
    }
  ],
  "presets": [
    {
      "name": "Featured Post",
    }
  ]
}
{% endschema %}
