{% comment %} NOTE - this should be closable {% endcomment %}

<script src="{{ 'sb-ajax-form.js' | asset_url }}" defer></script>
<script src="{{ 'sb-mini-newsletter-form.js' | asset_url }}" defer></script>

<sb-mini-newsletter-form 
  class="sb-mini-newsletter sb-styled-element {% if block.settings.sticky_on_mobile %} sb-element--sticky {% endif %}" 
  style="{%  render 'style-attributes', settings: block.settings %}"
  success-message="{{ block.settings.success_message }}"
  {% if block.settings.dismissable %}dismissable="true"{% endif %}
  {% if block.settings.timeout != blank %}timeout="{{ block.settings.timeout }}"{% endif %}
>
  <div class="sb-mini-newsletter__inner">
    {% if block.settings.heading != blank or block.settings.subheading != blank %}
      <div class="sb-mini-newsletter__content-wrapper">
        {% if block.settings.heading != blank %}
          <h2 class="sb-mini-newsletter__heading">{{ block.settings.heading }}</h2>
        {% endif %}
        {% if block.settings.subheading != blank %}
          <p class="sb-mini-newsletter__subheading" {% if section.settings.fg_copy_color.alpha > 0 %} style="--sb-fg-color: {{ section.settings.fg_copy_color }};"{% endif %}>{{ block.settings.subheading }}</p>
        {% endif %}
      </div>
    {% endif %}
    
    <form class="sb-mini-newsletter__form sb-ajax-form" method="post" action="/contact#contact_form" id="mini-newsletter-form">
      <input type="hidden" name="form_type" value="customer">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="contact[tags]" value="newsletter">
      
      <div class="sb-mini-newsletter__form-row">
        <div class="sb-mini-newsletter__input-wrapper">
          <input 
            type="email" 
            name="contact[email]" 
            id="mini-newsletter-email" 
            class="sb-mini-newsletter__input" 
            placeholder="Email Address"
            required
          >
          <button type="submit" class="sb-mini-newsletter__submit">
            <span class="sb-mini-newsletter__submit-arrow">→</span>
          </button>
        </div>
      </div>
    </form>
    
    <div class="sb-mini-newsletter__success-message">
      <p>{{ block.settings.success_message }}</p>
    </div>
    
    {% if block.settings.dismissable %}
    <button type="button" class="sb-mini-newsletter__close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_5948_5233)">
          <path d="M5.98941 5.98959L18.0102 18.0104M18.0102 5.98959L5.98941 18.0104" stroke="currentColor" stroke-linecap="round"/>
        </g>
        <defs>
          <clipPath id="clip0_5948_5233">
            <rect width="24" height="24" fill="currentColor"/>
          </clipPath>
        </defs>
      </svg>
    </button>
    {% endif %}
  </div>
</sb-mini-newsletter-form>

{% stylesheet %}
  sb-mini-newsletter-form {
    display: block;
  }
  
  .sb-mini-newsletter {
    background: var(--sb-bg-color, #1D2732);
    color: var(--sb-fg-color, #ffffff);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    max-width: 100%;
    width: 100%;
  }
  
  .sb-mini-newsletter__inner {
    position: relative;
  }
  
  .sb-mini-newsletter--fade-out {
    opacity: 0;
  }
  
  .sb-mini-newsletter__heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
    font-family: var(--font-body-family);
    color: var(--sb-fg-color, #ffffff);
  }
  
  .sb-mini-newsletter__subheading {
    font-size: 16px;
    margin: 0 0 18px;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.72;
    color: var(--sb-fg-color, #F8F9FB);
  }
  
  .sb-mini-newsletter__form-row {
    display: flex;
    align-items: center;
  }
  
  .sb-mini-newsletter__input-wrapper {
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
  }
  
  .sb-mini-newsletter__input {
    width: 100%;
    padding: 8px 50px 8px 16px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border: none;
    height: 52px;
  }
  
  .sb-mini-newsletter__submit {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--sb-acc-color, #000);
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  
  .sb-mini-newsletter__submit-arrow {
    font-size: 18px;
  }
  
  .sb-mini-newsletter__close {
    position: absolute;
    top: -6px;
    right: -6px;
    background: transparent;
    border: none;
    color: var(--sb-fg-color, #fff);
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
  }
  
  .sb-mini-newsletter__success-message {
    display: none;
    text-align: center;
    padding: 12px 0;
  }
  
  .sb-element--sticky {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: calc(100% - 30px);
    z-index: 4;
  }
  @media (min-width: 990px) {
    .sb-mini-newsletter {
      width: 100%;
      z-index: unset;
    }
    .sb-element--sticky { 
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .sb-mini-newsletter__heading {
      font-size: 18px;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Newsletter Signup",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Stay Informed"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Sign up for our weekly guide to better health."
    },
    {
      "type": "text",
      "id": "success_message",
      "label": "Success Message",
      "default": "Thank you for subscribing!"
    },
    {
      "type": "range",
      "id": "timeout",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 3,
      "label": "Success Message Timeout (seconds)"
    },
    {
      "type": "checkbox",
      "id": "sticky_on_mobile",
      "label": "Sticky on Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dismissable",
      "label": "Dismissable",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 24,
      "label": "Top Padding"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 24,
      "label": "Bottom Padding"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "fg_copy_color",
      "label": "Subheading color"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1D2732"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Signup"
    }
  ]
}
{% endschema %}
