{{ 'multiple-calculators.css' | asset_url | stylesheet_tag }}
<style>
.xgen-new-collection .xgen-new-product .xgen-pdesc {min-height: 170px;}
</style>

<div class="tlresult-wraper page-error-area"  style="display:none;">
  <div class="max-w-7xl mx-auto">
    <p class="page-error" style="text-align: center;font-size: 33px;text-transform: capitalize;"></p>
  </div>
</div>

<div class="tlresult-wraper tl-bmr"  style="display:none;">
  <div class="max-w-7xl mx-auto">
    <div class="xheading">
      <h2 class="bmr-output-one">Your BMR is 1612 and you need 1934 calories every day</h2>
<!--       <p>Hit these calories each day to optimize and maintain your performance day to day</p> -->
    </div>
    <div class="tlres">
      <div class="circle-wraper">
        <div class="circle">
          <p class="bmr-output-two">You Need <br><strong>1934</strong> <br>Cal/day</p>
        </div>
      </div>

      <div class="out-wraper">
        <div class="xreslist">
          <i class="xsedentary"></i> 
          <span class="xname">Sedentary</span> 
          <span class="xcount bmr-cal-one">1934</span>
        </div>

        <div class="xreslist">
          <i class="xlight"></i> 
          <span class="xname">Light</span> 
          <span class="xcount bmr-cal-two">2217</span>
        </div>

        <div class="xreslist">
          <i class="xmoderate"></i> 
          <span class="xname">Moderate</span> 
          <span class="xcount bmr-cal-three">2499</span>
        </div>

        <div class="xreslist">
          <i class="xhigh"></i> 
          <span class="xname">High</span> 
          <span class="xcount bmr-cal-four">2781</span>
        </div>

        <div class="xreslist">
          <i class="xathletic"></i> 
          <span class="xname">Athletic</span> 
          <span class="xcount bmr-cal-five">3063</span>
        </div>
      </div>

    </div>
   </div>
</div>

<div class="tlresult-wraper tl-tdee-r"  style="display:none;">
  <div class="max-w-7xl mx-auto">
    <div class="xheading">
      <h2 class="tdee-output-one">Your TDEE is 1612 and you need 1934 calories every day</h2>
<!--       <p>Hit these calories each day to optimize and maintain your performance day to day</p> -->
    </div>
    <div class="tlres">
      <div class="circle-wraper">
        <div class="circle">
          <p class="tdee-output-two">You Need <br><strong>1934</strong> <br>Cal/day</p>
        </div>
      </div>

      <div class="out-wraper">
        <div class="xreslist">
          <i class="xsedentary"></i> 
          <span class="xname">Sedentary</span> 
          <span class="xcount tdee-cal-one">1934</span>
        </div>

        <div class="xreslist">
          <i class="xlight"></i> 
          <span class="xname">Light</span> 
          <span class="xcount tdee-cal-two">2217</span>
        </div>

        <div class="xreslist">
          <i class="xmoderate"></i> 
          <span class="xname">Moderate</span> 
          <span class="xcount tdee-cal-three">2499</span>
        </div>

        <div class="xreslist">
          <i class="xhigh"></i> 
          <span class="xname">High</span> 
          <span class="xcount tdee-cal-four">2781</span>
        </div>

        <div class="xreslist">
          <i class="xathletic"></i> 
          <span class="xname">Athletic</span> 
          <span class="xcount tdee-cal-five">3063</span>
        </div>
      </div>

    </div>
   </div>
</div>

<!---protien-->
<div class="tlresult-wraper tl-protein" style="display:none;">
  <div class="max-w-7xl mx-auto">

<!--      <div class="proteinoutput1"></div>
  <div class="proteinoutput2"></div>
  <div class="proteinoutput3"></div> -->
    
    
    <div class="xheading">
      <h2>Recommended Minimum Daily Protein Intake = <span class="pro-one">[# calculated]  grams</span></h2>
      <p>You’ll notice our protein calculator suggests eating more protein for fat loss than muscle building. This is not an error. As referenced on the previous page, recent studies have shown that athletes and bodybuilders are able to maintain more lean body mass during a weight-loss phase by consuming a larger proportion of calories from protein. 
      <br>
        During a bulking phase, protein intake doesn’t need to be as high since you will be in an energy surplus — allowing for more calories from carbohydrates and fats.
      </p>
    </div>
    <div class="tlres">
      <div class="circle-wraper">
        <div class="circle">
          <p><strong class="proteinoutput1">80 g</strong> <br>per day</p>
        </div>
      </div>

      <div class="out-wraper">
        <div class="xreslist">
          <i class="xsedentary"></i> 
          <span class="xname">Recommended Dietary Allowance (RDA)</span> 
          <span class="xcount proteinoutput1">80 g</span>
        </div>

        <div class="xreslist">
          <i class="xlight"></i> 
          <span class="xname">Bulking</span> 
          <span class="xcount proteinoutput2">130 g</span>
        </div>

        <div class="xreslist">
          <i class="xhigh"></i> 
          <span class="xname">Fat Loss</span> 
          <span class="xcount proteinoutput3">90 g</span>
        </div>

      </div>

    </div>
  </div>
</div>




<div class="tlresult-bodyfat" style="display:none;">
  <div class="max-w-7xl mx-auto">
  
  <div class="xheading bodyfat">
    <h2 class="fat_percenteage">Your estimated body fat is considered [descriptor provided by chart below] for your age and biological sex</h2>
<!--     <p>Essential body fat level for an average person like you should have <span class="fat_percenteage">x-x%</span> of body fat.</p> -->
    </div>
    
    <ul class="bodyfat-graph">
   		<li class="xathletic"><span id="xathletic_inn">1%</span></li>
      	<li class="xgreen"><span id="xgreen_inn">4%</span></li>
      	<li class="xsedentary"><span id="xsedentary_inn">7%</span></li>
      	<li class="xlight"><span id="xlight_inn">15%</span></li>
      	<li class="xmoderate"><span id="xmoderate_inn">20%</span></li>
      	<li class="xhigh"><span id="xhigh_inn">28%</span></li>
    </ul>
    
    <div class="xavge">
      <span>Too Low</span>
      <span>Obese</span>
    </div>
    
    <div class="xavge1">
      <p><span class="bfatoutput1">5%</span> <br>Your Body Fat Percent</p>
      <p><span class="bfatoutput2">3kg</span> <br>Total Body Fat weight</p>
    </div>
    
    <div class="out-wraper" style="display:none;">
      	<div class="xreslist " style="background-color: #efefef;padding: 0;">
          <h3 class="body-fat-chart"> 
            IDEAL BODY FAT PERCENTAGE CHART
            <br>
            (American Council on Exercise)</h3>
      	</div>
      	<div class="xreslist" style="background-color: #efefef;">
          <span class="xname" style="padding:0 5px;">Description</span> 
          <span class="xcount" style="padding:0 5px;">Men</span>
          <span class="xcount" style="padding:0 5px;">Women</span>
        </div>  
      	<div class="xreslist">
          <i class="xathletic"></i> 
          <span class="xname">Critically low</span> 
          <span class="xcount"><2%</span>
          <span class="xcount"><10%</span>
        </div>

        <div class="xreslist">
          <i class="xgreen"></i> 
          <span class="xname">Ultra-lean</span> 
          <span class="xcount">2-5%</span>
          <span class="xcount">10-13%</span>
        </div>

        <div class="xreslist">
          <i class="xsedentary"></i> 
          <span class="xname">Very lean</span> 
          <span class="xcount">6-13%</span>
          <span class="xcount">14-20%</span>
        </div>
      
      	<div class="xreslist">
          <i class="xlight"></i> 
          <span class="xname">Fairly Lean</span> 
          <span class="xcount">14-17%</span>
          <span class="xcount">21-24%</span>
        </div>
      
      	<div class="xreslist">
          <i class="xmoderate"></i> 
          <span class="xname">Average</span> 
          <span class="xcount">18-24%</span>
          <span class="xcount">25-31%</span>
        </div>
      
      	<div class="xreslist">
          <i class="xhigh"></i> 
          <span class="xname">Obese</span> 
          <span class="xcount">25%+</span>
          <span class="xcount">32%+</span>
        </div>

      </div>
      <p class="xviewmore xviewmore1 ">Show Legends</p>
    
  </div>
</div>
  <script>
    $(".xviewmore1").click(function(){
      var text = $(".xviewmore1").text();
      $(".out-wraper").toggle('slow');
      if(text === 'Hide Legends')
      {
        	$(".xviewmore1").text('Show Legends');
      }
      else
      {
      	$(".xviewmore1").text('Hide Legends');
      }
  	  
	});
  </script>
  
  
  
<div class="tlresult-onerep" style="display:none;">
  <div class="max-w-7xl mx-auto">
  
  <div class="xheading">
      <h2 class="one-rep-output">Your One-Rep Max is 213kg</h2>
<!--       <p>Ut tellus elementum sagittis vitae et leo duis. Vitae sapien pellentesque habitant morbi</p> -->
    </div>
    
    <ul class="onerep-graph">
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>1 RM (100%)</p>
          <p id="1rm100">213 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>2 RM (95%)</p>
          <p id="1rm95">202 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>3 RM (90%)</p>
          <p id="1rm90">192 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>4 RM (85%)</p>
          <p id="1rm85">181 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>5 RM (80%)</p>
          <p id="1rm80">160 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>6 RM (75%)</p>
          <p id="1rm75">160 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>7 RM (70%)</p>
          <p id="1rm70">160 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>8 RM (65%)</p>
          <p id="1rm65">160 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>9 RM (60%)</p>
          <p id="1rm60">160 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>10 RM (55%)</p>
          <p id="1rm55">160 KG</p>
        </div>
      </li>
      <li class="">
        <span class="line"></span>
        <div class="linetext">
          <p>11 RM (50%)</p>
          <p id="1rm50">160 KG</p>
        </div>
      </li>
      
    </ul>
    
    <p class="xviewmore xviewmore2">View More</p>
    <script>
      
      
     var $items = $(".onerep-graph li");
		$items.hide();
		$items.slice(0, Math.floor($items.length/2)).show(); 
    	$(".xviewmore2").click(function()
		{
      		var text = $(".xviewmore2").text();
            if(text === 'Hide Legends')
            {
                //var $items = $(".onerep-graph li");//  $items.hide('slow');//$items.slice(0, Math.floor($items.length/2)).show();//$(".xviewmore2").prop('disabled', true);
            }
            else
            {
                var $items = $(".onerep-graph li");
                $items.show('slow');
                $(".xviewmore2").text('Hide Legends');
              	$(".xviewmore2").hide();

            }
		});
  </script>
    
  </div>
</div>
<div class="flex xgen-new-collection" id="xgen-new-collection">
	<div class="flex-1"> 
		{% for block in section.blocks %}
      		{% assign handle = block.settings.page_url | strip %}
      		{% assign product_list = handle | split: '/' %}  
    		{% if product_list[2] == 'bmr-calculator' %}
              <div  id="BMR-output-six" style="display:none;">
                <div class="xgen-tagging">
                  {% if block.settings.heading != blank %}<h2 class="bmr_user_goal">{{block.settings.heading}}</h2>{% endif %}
                  {% if block.settings.detail != blank %}<p class="bmr_goal_subtitle">{{block.settings.detail}}</p>{% endif %}
                </div>
                <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3">
                    {% assign product_list = 'proteinseries-100-grass-fed-whey-protein-isolate,preseries-bulk-preworkout,physiqueseries-fat-burner' | split: ',' %}  
                    {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                </div>
              </div>
            {% endif %}
            {% if product_list[2] == 'bodyfat-calculator' %}
                <div id="bfat-output" style="display:none;">
                  <div class="xgen-tagging">
                    {% if block.settings.heading != blank %}<h2 class="user_goal">{{block.settings.heading}}</h2>{% endif %}
                    {% if block.settings.detail != blank %}<p class="goal_subtitle">{{block.settings.detail}}</p>{% endif %}
                  </div>
                  <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="bfat-output-one"  style="display:none;">
                    {% assign product_list = 'preseries-bulk-preworkout,proteinseries-mass-gainer,strengthseries-growth' | split: ',' %}  
                    {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                  </div>
                  <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="bfat-output-two" style="display:none;">
                    {% assign product_list = 'preseries-lean-pre-workout,proteinseries-100-grass-fed-whey-protein-isolate,physiqueseries-fat-burner-stim-free' | split: ',' %}  
                    {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                  </div>
                  <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="bfat-output-three" style="display:none;">
                    {% assign product_list = 'meal-replacement-shake,preseries-stim-free-preworkout,physiqueseries-fat-burner' | split: ',' %}  
                    {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                  </div>
              	</div>
            {% endif %}
            {% if product_list[2] == 'one-rep-max-calculator' %}
                <div  id="onerep-output-four" style="display:none;">
                  <div class="xgen-tagging">
                    {% if block.settings.heading != blank %}<h2 class="user_goal">{{block.settings.heading}}</h2>{% endif %}
                    {% if block.settings.detail != blank %}<p class="goal_subtitle">{{block.settings.detail}}</p>{% endif %}
                  </div>
                  <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3">
                    {% assign product_list = 'strengthseries-creapure-hmb-creatine-supplement,preseries-bulk-preworkout,strengthseries-build' | split: ',' %}  
                    {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                  </div>
              	</div>
                {% endif %}
                {% if product_list[2] == 'protein-calculator' %}
                <div  id="protein-output-five" style="display:none;">
                  <div class="xgen-tagging">
                      {% if block.settings.heading != blank %}<h2 class="user_goal">{{block.settings.heading}}</h2>{% endif %}
                      {% if block.settings.detail != blank %}<p class="goal_subtitle">{{block.settings.detail}}</p>{% endif %}
                  </div>
                  <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3">
                      {% assign product_list = 'proteinseries-100-grass-fed-whey-protein-isolate,proteinseries-100-grass-fed-casein-protein,protein-series-organic-vegan' | split: ',' %}  
                      {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                  </div>
              	</div>
                {% endif %}
                {% if product_list[2] == 'tdee-calculator' %}
                <div  id="tdee-output" style="display:none;">
                <div class="xgen-tagging">
                  {% if block.settings.heading != blank %}<h2 class="user_goal">{{block.settings.heading}}</h2>{% endif %}
                      {% if block.settings.detail != blank %}<p class="goal_subtitle">{{block.settings.detail}}</p>{% endif %}
                </div>
                <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="tdee-output-one"  style="display:none;">
                {% assign product_list = 'preseries-stim-free-preworkout,proteinseries-100-grass-fed-whey-protein-isolate,coreseries-bcaa-glutamine' | split: ',' %}  
                {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                </div>
                <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="tdee-output-two"  style="display:none;">
                {% assign product_list = 'preseries-lean-pre-workout,physiqueseries-fat-burner,proteinseries-100-grass-fed-whey-protein-isolate' | split: ',' %}  
                {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                </div>
                <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="tdee-output-three"  style="display:none;">
                {% assign product_list = 'preseries-bulk-preworkout,proteinseries-100-grass-fed-whey-protein-isolate,strengthseries-carb-powder' | split: ',' %}  
                {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                </div>
                 <div  class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-3" id="tdee-output-four"  style="display:none;">
                {% assign product_list = 'preseries-lean-pre-workout,physiqueseries-fat-burner-stim-free,physiqueseries-fat-burner-stim-free' | split: ',' %}  
                {% for product_handle in product_list  %}{% assign product =  all_products[product_handle ]%}{% render 'single_product_grid' with product: product %}{% endfor %}
                </div>
              </div>
    	{% endif %}
    {% endfor %}
  </div>
</div>
    


{% comment %}
    <div class="flex xgen-new-collection" id="xgen-new-collection">
  	<div class="flex-1"> 
  		<div  class="pt-4">
    		<div class="xgen-tagging">
        		<h2>Science backed formulas to user’s_goal_here</h2>
            	<p>The recommendations below are tailored to help you with _________. We stand behind our products 100%, and encourage you to give them a try.</p>
            	<div class="tagging-grid xgenstack-tab">
              		<ul id="tabs-nav">
                      {% for block in section.blocks %}
                        {% if forloop.first == true %}
                        <li><a   href="#tab_{{forloop.index}}" class="tablinks active" id="protab_{{ forloop.index }}" >{{block.settings.heading_type}}</a></li>
                        {% else %}
                        <li><a href="#tab_{{forloop.index}}" class="tablinks" id="protab_{{ forloop.index }}">{{block.settings.heading_type}}</a></li>
                        {% endif %}
                      {% endfor %}
               			
               		</ul>
            	</div>
          	</div>
          {% for block in section.blocks %}
          
          {% assign discount_text1 = section.settings.discount_month %}
           {% assign discount_text2 = section.settings.discount_days %}
            {% assign percent_text =  section.settings.percent_text %}
          
      		<div id="tab_{{forloop.index}}" class="xgenstack-tabcontent tab-content">
              	{% assign collection_1 = block.settings.collection_1 %}

              {% if collection_1 == 'stacks' %}
              <div class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3">
              	{% for product in collections[collection_1].products %}
    				{% render 'stack-product-grid' with product: product, block_id: block.id, dis_text_month: discount_text1, dis_text_days: discount_text2, sub_percent_text: percent_text %}
				{% endfor %}
                </div>
              {% else %}
              <div class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3">
              	{% for product in collections[collection_1].products %}
    				{% render 'single_product_grid' with product: product %}
				{% endfor %}
                </div>
              {% endif %}
			</div>
          {% endfor %}
	    </div>
    </div>
</div> 
{% endcomment %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.5/math.min.js"></script> 
<script>  
  
    $(document).ready(function () {  
     
       var acc = document.getElementsByClassName("accordions");
      var i;
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;;
          panel.classList.toggle("show");
//           if (panel.classList.contains === "show") {
//             panel.classList.remove("hide");
            
//           } else {
//             panel.classList.remove("show");
//           }
        });
      }
      
       $('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('#tabs-nav li').click(function(){
  $('#tabs-nav li a').removeClass('active');
  $(this).find("a").addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});
        
        function GetParameterValues(param) {  
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
            for (var i = 0; i < url.length; i++) {  
                var urlparam = url[i].split('=');  
                if (urlparam[0] == param) {  
                    return urlparam[1];  
                }  
            }  
        }  
      
       var cal_name = GetParameterValues('calculator-name');  
       
      	if(cal_name == 'tdee')
        {
          	var BMR;
        	var calculatorname = GetParameterValues('calculator-name'); 
            var height =  parseFloat(GetParameterValues('height')); 
            var heightunit = GetParameterValues('height-unit'); 
            var weight =  parseFloat(GetParameterValues('weight')); 
            var weightunit = GetParameterValues('weight-unit'); 
            var gender = GetParameterValues('fgender'); 
            var activityfactor =  parseFloat(GetParameterValues('activity_factor')); 
            var age = GetParameterValues('age'); 
          	var goal = GetParameterValues('Goal'); 
          	var decodedgoal = decodeURIComponent(Goal);
//           	alert(decodedgoal);
          
          	if(weightunit == 'lbs')
            {
                weight = weight/2.2046;
            }

            if(heightunit == 'in')
            {
                height = height*2.54;	
            }

            if(gender == 'male')
            {
                var wv = 10 * weight;
                var hv = 6.25 * height;
                var av = 5 * age;
                BMR = wv + hv - av;
                BMR = BMR + 5;
              console.log(BMR);
                var tdee = BMR * activityfactor;
                var fixed_tdee = tdee.toFixed();
                $(".tdee-output-one").text(fixed_tdee+ " calories per day.");
              	$(".tdee-output-two").html("<span style='color:#6C787C;'>You Need<span> <br><strong>"+fixed_tdee+"</strong> <br><span style='color:#6C787C;'>Cal/day</span>");
              
              var Sedentary = BMR * 1.2;
              var fixed_Sedentary = Sedentary.toFixed();;
              $(".tdee-cal-one").text(fixed_Sedentary);

              var Lightly_active=  BMR * 1.375 ;
              var fixed_Lightly_active = Lightly_active.toFixed();;
              $(".tdee-cal-two").text(fixed_Lightly_active);

              var Moderately_active=  BMR * 1.55;
              var fixed_Moderately_active = Moderately_active.toFixed();;
              $(".tdee-cal-three").text(fixed_Moderately_active);

              var Very_active=  BMR * 1.725;
              var fixed_Very_active= Very_active.toFixed();;
              $(".tdee-cal-four").text(fixed_Very_active);

              var Extra_active= BMR * 1.9;
              var fixed_Extra_active = Extra_active.toFixed();;
              $(".tdee-cal-five").text(fixed_Extra_active);
              $(".tl-tdee-r").show('slow');
              
            }
            else
            {
                var wv = 10 * weight;
                var hv = 6.25 * height;
                var av = 5 * age;
                BMR = wv + hv - av;
                BMR = BMR - 161;	
                var tdee = BMR * activityfactor;
                var fixed_tdee = tdee.toFixed();
                $(".tdee-output-one").text("The estimated TDEE (Total Daily Energy Expenditure) is: " +fixed_tdee+ " calories per day.");
              	$(".tdee-output-two").html("<span style='color:#6C787C;'>You Need<span> <br><strong>"+fixed_tdee+"</strong> <br><span style='color:#6C787C;'>Cal/day</span>");
              	
              var Sedentary = BMR * 1.2;
              var fixed_Sedentary = Sedentary.toFixed();;
              $(".tdee-cal-one").text(fixed_Sedentary);

              var Lightly_active=  BMR * 1.375 ;
              var fixed_Lightly_active = Lightly_active.toFixed();;
              $(".tdee-cal-two").text(fixed_Lightly_active);

              var Moderately_active=  BMR * 1.55;
              var fixed_Moderately_active = Moderately_active.toFixed();;
              $(".tdee-cal-three").text(fixed_Moderately_active);

              var Very_active=  BMR * 1.725;
              var fixed_Very_active= Very_active.toFixed();;
              $(".tdee-cal-four").text(fixed_Very_active);

              var Extra_active= BMR * 1.9;
              var fixed_Extra_active = Extra_active.toFixed();;
              $(".tdee-cal-five").text(fixed_Extra_active);
              $(".tl-tdee-r").show('slow');
            }
          
          	$(".tdee-resourse-detail").show();
          	$("#tdee-output").show();
          	if(decodedgoal == "Lose Weight"){$("#tdee-output-two").show();}
          	else if(decodedgoal == "Bulk Up"){$("#tdee-output-three").show();}
          	else if(decodedgoal == "Body Recomposition"){$("#tdee-output-four").show();}
          	else{$("#tdee-output-one").show();}
          	
           	console.log(age, gender, weight, weightunit, height, heightunit, calculatorname, activityfactor);
          
        }
		else if(cal_name == 'bmr')
        {
          
          var Goal = parseFloat(GetParameterValues('Lifestyle')); 
           var email = GetParameterValues('email'); 
           var term1 = GetParameterValues('term1'); 
           var term2 = GetParameterValues('term2'); 
          var BMR;
          var calculatorname = GetParameterValues('calculator-name'); 
          var height = parseFloat(GetParameterValues('height')); 
          var heightunit = GetParameterValues('height-unit'); 
          var weight = parseFloat(GetParameterValues('weight')); 
          var weightunit = GetParameterValues('weight-unit'); 
          var gender = GetParameterValues('fgender');
          var age = GetParameterValues('age');
          console.log(gender, weight, weightunit, calculatorname, height,heightunit, age);
          
          if(weightunit == 'lbs')
          {
              weight = weight/2.2046;
          }

          if(heightunit == 'in')
          {
              height = height*2.54;	
          }
          if(gender == 'male')
          {
              var wv = 10 * weight;
              var hv = 6.25 * height;
              var av = 5 * age;
              BMR = wv + hv - av;
              BMR = BMR + 5;
              var fixed_bmr = BMR.toFixed();
            	
              var Goal_val = BMR * Goal;
              var fixed_goal_val = Goal_val.toFixed();
            $(".bmr-output-one").html("YOUR <span style='color:#5cdbf2;'>BMR is " +fixed_bmr+ " </span>and you need " +fixed_goal_val+" calories every day.");
            $(".bmr-output-two").html("<span style='color:#6C787C;'>You Need<span> <br><strong>"+fixed_goal_val+"</strong> <br><span style='color:#6C787C;'>Cal/day</span>");
            
              var Sedentary = BMR * 1.2;
              var fixed_Sedentary = Sedentary.toFixed();;
              $(".bmr-cal-one").text(fixed_Sedentary);

              var Lightly_active=  BMR * 1.375 ;
              var fixed_Lightly_active = Lightly_active.toFixed();;
              $(".bmr-cal-two").text(fixed_Lightly_active);

              var Moderately_active=  BMR * 1.55;
              var fixed_Moderately_active = Moderately_active.toFixed();;
              $(".bmr-cal-three").text(fixed_Moderately_active);

              var Very_active=  BMR * 1.725;
              var fixed_Very_active= Very_active.toFixed();;
              $(".bmr-cal-four").text(fixed_Very_active);

              var Extra_active= BMR * 1.9;
              var fixed_Extra_active = Extra_active.toFixed();;
              $(".bmr-cal-five").text(fixed_Extra_active);
            	$(".bmr-resourse-detail").show();
              $(".tl-bmr").show('slow');
              $("#BMR-output-six").show();
          }
          else
          {
              var wv = 10 * weight;
              var hv = 6.25 * height;
              var av = 5 * age;
              BMR = wv + hv - av;
              BMR = BMR - 161;	
              var fixed_bmr = BMR.toFixed();
            
              var Goal_val = BMR * Goal;
              var fixed_goal_val = Goal_val.toFixed();
              $(".bmr-output-one").html("YOUR <span style='color:#5cdbf2;'>BMR is " +fixed_bmr+ " </span>and you need " +fixed_goal_val+" calories every day.");
            	$(".bmr-output-two").html("<span style='color:#6C787C;'>You Need<span> <br><strong>"+fixed_goal_val+"</strong> <br><span style='color:#6C787C;'>Cal/day</span>");
            
              var Sedentary = BMR * 1.2;
              var fixed_Sedentary = Sedentary.toFixed();;
              $(".bmr-cal-one").text(fixed_Sedentary);

              var Lightly_active=  BMR * 1.375 ;
              var fixed_Lightly_active = Lightly_active.toFixed();;
              $(".bmr-cal-two").text(fixed_Lightly_active);

              var Moderately_active=  BMR * 1.55;
              var fixed_Moderately_active = Moderately_active.toFixed();;
              $(".bmr-cal-three").text(fixed_Moderately_active);

              var Very_active=  BMR * 1.725;
              var fixed_Very_active= Very_active.toFixed();;
              $(".bmr-cal-four").text(fixed_Very_active);

              var Extra_active= BMR * 1.9;
              var fixed_Extra_active = Extra_active.toFixed();;
              $(".bmr-cal-five").text(fixed_Extra_active);
            	$(".bmr-resourse-detail").show();
              $(".tl-bmr").show('slow');
              $("#BMR-output-six").show();
          }
        }
      	else if(cal_name == 'rep')
        {
            var calculatorname = GetParameterValues('calculator-name'); 
            var gender = GetParameterValues('fgender'); 
            var weight = parseFloat(GetParameterValues('or-weight')); 
            var weightunit = GetParameterValues('weight-unit'); 
            var reps = parseFloat(GetParameterValues('or-reps')); 
          	var onerepmax = 0;
          	console.log(gender, weight, weightunit, calculatorname, reps);
            if (isNaN(weight)) 
            {
                $('#1rm100').html("Your One-Rep Max (one-rm): ?");
            } 
            else 
            {
                onerepmax = Math.round(weight / reps);
              	$(".one-rep-output").html("Your Projected 1-Rep Max: "  + onerepmax +" "+weightunit);
                $('#1rm100').text(onerepmax+ " " +  weightunit);
                $('#1rm95').text(Math.round(0.95 * onerepmax) + " " +  weightunit);
                $('#1rm90').text(Math.round(0.90 * onerepmax) + " " +  weightunit);
                $('#1rm85').text(Math.round(0.85 * onerepmax) + " " +  weightunit);
                $('#1rm80').text(Math.round(0.80 * onerepmax) + " " +  weightunit);
                $('#1rm75').text(Math.round(0.75 * onerepmax) + " " +  weightunit);
                $('#1rm70').text(Math.round(0.70 * onerepmax)+ " " +  weightunit);
				$('#1rm65').text(Math.round(0.65 * onerepmax)+ " " +  weightunit);
                $('#1rm60').text(Math.round(0.60 * onerepmax)+ " " +  weightunit);
                $('#1rm55').text(Math.round(0.55 * onerepmax)+ " " +  weightunit);
                $('#1rm50').text(Math.round(0.50 * onerepmax)+ " " +  weightunit); 
              
              	$("#onerep-output-four").show('slow');
               //	$('.one-rep-output').text("Your One-Rep Max is "+onerepmax+ " " +  weightunit); 
                $(".onerep-resourse-detail").show();
              	$(".tlresult-onerep").show('slow');
              	var valueCount= parseInt($('input[id="inc"]').val());
    			valueCount++;
				$('input[id="inc"]').val(valueCount);
             };         	

        }
		else if(cal_name == 'bfat')
        {
          
          var Goal = GetParameterValues('Goal'); 
          var decodedgoal = decodeURIComponent(Goal);
          
          var email = GetParameterValues('email'); 
          var term1 = GetParameterValues('term1'); 
          var term2 = GetParameterValues('term2'); 
          
          var calculatorname = GetParameterValues('calculator-name'); 
          var age = GetParameterValues('age'); 
          var gender = GetParameterValues('fgender'); 
          
          var weight = parseFloat(GetParameterValues('Weight')); 
          var weightunit = GetParameterValues('weight-unit'); 
          
          var height = parseFloat(GetParameterValues('Height')); 
          var heightunit = GetParameterValues('height-unit'); 
          
          var neck = parseFloat(GetParameterValues('Neck')); 
          var neckunit = GetParameterValues('neck-unit'); 
          
          var waist = parseFloat(GetParameterValues('Waist')); 
          var waistunit = GetParameterValues('waist-unit'); 
          
          var hip = parseFloat(GetParameterValues('Hip')); 
          var hipunit = GetParameterValues('hip-unit'); 

          if(weightunit == 'lbs')
          {
              weight = weight/2.2046;
          }

          if(heightunit == 'in')
          {
              height = height*2.54;	
          }

          if(neckunit == 'in')
          {
              neck = neck*2.54;	
          }

          if(waistunit == 'in')
          {
              waist = waist*2.54;	
          }

          if(hipunit == 'in')
          {
              hip = hip*2.54;	
          }
          
          console.log(age, gender, weight, weightunit, height, heightunit, calculatorname, waist, waistunit, neck, neckunit, hip, hipunit);
          let bfp = '';
          if(gender == 'male')
          {
              bfp = 495/(1.0324 - 0.19077*Math.log10(waist-neck) + 0.15456*Math.log10(height)) - 450;
              var fixed_bfp = bfp.toFixed();
              $('.bfatoutput1').text(fixed_bfp+"%");
            	//$('.fat_percenteage').text(fixed_bfp+"%");
            
              if(fixed_bfp < 2)
                {
                  $('#xathletic_inn').text(fixed_bfp+"%");
                  $('#xathletic_inn').addClass('active');

                }
                else if(fixed_bfp >= 2 && fixed_bfp <= 5)
                {
                  $('#xgreen_inn').text(fixed_bfp+"%");
                  $('#xgreen_inn').addClass('active');
                }
                else if(fixed_bfp >= 6 && fixed_bfp <= 13)
                {
                  $('#xsedentary_inn').text(fixed_bfp+"%");
                  $('#xsedentary_inn').addClass('active');
                }
                else if(fixed_bfp >= 14 && fixed_bfp <= 17)
                {
                  $('#xlight_inn').text(fixed_bfp+"%");
                  $('#xlight_inn').addClass('active');
                }
                else if(fixed_bfp >= 18 && fixed_bfp <= 24)
                {
                  $('#xmoderate_inn').text(fixed_bfp+"%");
                  $('#xmoderate_inn').addClass('active');
                }
                else
                {
                  $('#xhigh_inn').text(fixed_bfp+"%");
                  $('#xhigh_inn').addClass('active');
                }
            
            	
            
            	if(fixed_bfp < 14)
                {
                  
            		$('#bfat-output-one').show();
                }
            	else if(fixed_bfp >= 14 && fixed_bfp < 18)
                {
                	$('#bfat-output-two').show();
                }
            	else if(fixed_bfp >= 18)
                {
                	$('#bfat-output-three').show();
                }
            	else
            	{
					// showing products gretaer then 18 once again in else
                  	$('#bfat-output-three').show();
                }
            	
            	$('#bfat-output').show();

              	var amt_fat = bfp * weight / 100;
              	var fixed_amt_fat = amt_fat.toFixed();
              	$('.bfatoutput2').text(fixed_amt_fat+' '+weightunit);
//             	$('.fat_percenteage').html("Your estimated body fat is considered "+ fixed_bfp+"% for your age and biological sex.");
                $(".fat-resourse-detail").show('slow');
            	$(".tlresult-bodyfat").show('slow');
            
          }
          else
          {
              bfp = 163.205 * Math.log10(math.unit(waist, 'cm').toNumber('in') + math.unit(hip, 'cm').toNumber('in') - math.unit(neck, 'cm').toNumber('in')) - 97.684 * Math.log10(math.unit(height, 'cm').toNumber('in')) - 78.387;
              var fixed_bfp = bfp.toFixed();
              $('.bfatoutput1').text(fixed_bfp+"%");
            	//$('.fat_percenteage').text(fixed_bfp+"%");
            
            	if(fixed_bfp < 10)
                {
                  $('#xathletic_inn').text(fixed_bfp+"%");
                  $('#xathletic_inn').addClass('active');

                }
                else if(fixed_bfp >= 10 && fixed_bfp <= 13)
                {
                  $('#xgreen_inn').text(fixed_bfp+"%");
                  $('#xgreen_inn').addClass('active');
                }
                else if(fixed_bfp >= 14 && fixed_bfp <= 20)
                {
                  $('#xsedentary_inn').text(fixed_bfp+"%");
                  $('#xsedentary_inn').addClass('active');
                }
                else if(fixed_bfp >= 21 && fixed_bfp <= 24)
                {
                  $('#xlight_inn').text(fixed_bfp+"%");
                  $('#xlight_inn').addClass('active');
                }
                else if(fixed_bfp >= 25 && fixed_bfp <= 31)
                {
                  $('#xmoderate_inn').text(fixed_bfp+"%");
                  $('#xmoderate_inn').addClass('active');
                }
                else
                {
                  $('#xhigh_inn').text(fixed_bfp+"%");
                  $('#xhigh_inn').addClass('active');
                }
            	
            	if(fixed_bfp < 21)
                {
            		$('#bfat-output-one').show();
                }
            	else if(fixed_bfp >= 21 && fixed_bfp < 25)
                {
                	$('#bfat-output-two').show();
                }
            	else if(fixed_bfp >= 25)
                {
                	$('#bfat-output-three').show();
                }
            	else
            	{
					// showing products gretaer then 18 once again in else
                  	$('#bfat-output-three').show();
                }
            
            	$('#bfat-output').show();
              	var amt_fat = bfp * weight / 100;
              	var fixed_amt_fat = amt_fat.toFixed();
              	$('.bfatoutput2').text(fixed_amt_fat+' '+weightunit);
//             	$('.fat_percenteage').html("Your estimated body fat is considered "+ fixed_bfp+"% for your age and biological sex.");
            	$(".fat-resourse-detail").show('slow');
              	$(".tlresult-bodyfat").show('slow');
          }
        }
      	else if(cal_name == 'protein')
        {	
          var calculatorname = GetParameterValues('calculator-name'); 
          var height = parseFloat(GetParameterValues('height')); 
          var heightunit = GetParameterValues('height-unit'); 
          var weight = parseFloat(GetParameterValues('weight')); 
          var weightunit = GetParameterValues('weight-unit'); 
          var gender = GetParameterValues('gender'); 
          if(weightunit == 'lbs')
          {
              weight = weight/2.2046;
          }
          if(heightunit == 'in')
          {
              height = height*2.54;	
          }
          
          if(gender == 'male')
          {
            var sedentary_adults = 0.8;
            // var building_muscle_mass = 1.4; Last
            // var fat_loss = 1.85; Last
            var building_muscle_mass = 1.3;
            var fat_loss = 1.9;

            var sedentary_adults_result = sedentary_adults * weight;
            var building_muscle_mass_result = building_muscle_mass * weight;
            var fat_loss_result = fat_loss * weight;

            var fixed_sedentary_adults_result = sedentary_adults_result.toFixed();
            var fixed_building_muscle_mass_result = building_muscle_mass_result.toFixed();
            var fixed_fat_loss_result = fat_loss_result.toFixed();

            
            $(".pro-one").text(fixed_sedentary_adults_result + " grams");
            $(".proteinoutput1").text(fixed_sedentary_adults_result+ " g");
            $(".proteinoutput2").text(fixed_building_muscle_mass_result+ " g");
            $(".proteinoutput3").text(fixed_fat_loss_result+ " g");
            //$(".goal_subtitle").text("Meeting your protein needs through whole foods alone can be tough, especially if you’re looking to build muscle or cut body fat (while maintaining lean body mass). Our ProteinSeries lineup makes it easier to hit your daily protein goals without triggering your gag reflex.");
            $("#protein-output-five").show();
            $(".protein-resourse-detail").show();
            
            $(".tl-protein").show('slow');
          }
          else
          {
            var sedentary_adults = 0.8;
            // var building_muscle_mass = 1.4; Last
            // var fat_loss = 1.85; Last
            var building_muscle_mass = 1.3;
            var fat_loss = 1.9;

            var sedentary_adults_result = sedentary_adults * weight;
            var building_muscle_mass_result = building_muscle_mass * weight;
            var fat_loss_result = fat_loss * weight;

            var fixed_sedentary_adults_result = sedentary_adults_result.toFixed();
            var fixed_building_muscle_mass_result = building_muscle_mass_result.toFixed();
            var fixed_fat_loss_result = fat_loss_result.toFixed();

           	$(".proteinoutput1").text(fixed_sedentary_adults_result+ " g");
            $(".proteinoutput2").text(fixed_building_muscle_mass_result+ " g");
            $(".proteinoutput3").text(fixed_fat_loss_result+ " g");
//             $(".goal_subtitle").text("Meeting your protein needs through whole foods alone can be tough, especially if you’re looking to build muscle or cut body fat (while maintaining lean body mass). Our ProteinSeries lineup makes it easier to hit your daily protein goals without triggering your gag reflex.");
            $("#protein-output-five").show();
            $(".protein-resourse-detail").show();
            $(".tl-protein").show('slow');
          }
          
          $(".tl-protein").show('slow');
          
        }
      	else if(cal_name == 'tl_macro')
        {
        
        }
      	else
      	{
//       		$(".page-error").text("No result found...");
          	$(".page-error-area").show();
      	}
    });  
</script> 

{% schema %}
  {
    "name": "Calculator results",
    "settings": [
  
  ],
	"blocks":[
		{
			"name":"product",
			"type":"text",
			"settings":[
  				{
                    "type":"url",
                    "id":"page_url",
                    "label":"Choose calculator page"
                },
    			{
                    "type":"text",
                    "id":"heading",
                    "label":"heading"
                },
    			{
                    "type":"richtext",
                    "id":"detail",
                    "label":"Details on result page"
                }
			]
		}
	],
	
	"presets":[
		{
			"name": "Calculator results"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

