{{ 'faq-section.css' | asset_url | stylesheet_tag }}

{% style %}
  #section-{{ section.id }} {
    background:{{ section.settings.bg_color }};
  }

  #section-{{ section.id }} .faq-section-title,
  #section-{{ section.id }} .faq-section-question {
    color: {{ section.settings.title_color }};
  }

  #section-{{ section.id }} .faq-section-answer {
    color: {{ section.settings.text_color }};
  }
  
{% endstyle %}
<div class="faq-section" id="section-{{ section.id }}">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <h2 class="faq-section-title">{{ section.settings.title }}</h2>
    {%- endif -%}
    
    <div class="faq-section-inner small-hide">
      {% if template.name == 'collection' %}
        {% if collection.metafields.custom.faq != blank %}
          {% for faq in collection.metafields.custom.faq.value %}     
            <div class="faq-section-item">
              <h3 class="faq-section-question">
                {{ faq.question }}
              </h3>
              <div class="faq-section-answer">{{ faq.answer }}</div>  
            </div>
          {% endfor %}
        {% else %}
          {% for block in section.blocks %}
            <div class="faq-section-item">
              <h3 class="faq-section-question">
                {{ block.settings.question }}
              </h3>
              <div class="faq-section-answer">{{ block.settings.answer }}</div>  
            </div>
          {% endfor %} 
        {% endif %}
      {% else %}
        {% for block in section.blocks %}
          <div class="faq-section-item">
            <h3 class="faq-section-question">
              {{ block.settings.question }}
            </h3>
            <div class="faq-section-answer">{{ block.settings.answer }}</div>  
          </div>
        {% endfor %} 
      {% endif %}        
    </div>

    <div class="faq-section-mobile medium-hide large-up-hide">
      {% if template.name == 'collection' %}
        {% if collection.metafields.custom.faq != blank %}
          {% for faq in collection.metafields.custom.faq.value %}     
            <div class="faq-section-item">
              <h3 class="faq-section-question">
                {{ faq.question }}
                <span class="faq-accordion-icons">
                  <svg class="faq-accordion-plus-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M0 9.4523V8.22153H7.38462V0.836914H8.61539V8.22153H16V9.4523H8.61539V16.8369H7.38462V9.4523H0Z" fill="#111314"></path>
                  </svg>
                  <svg class="faq-accordion-minus-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20.5 12H3.5" stroke="white" stroke-linecap="round"></path>
                  </svg>
                </span>
              </h3>
              <div class="faq-section-answer">{{ faq.answer }}</div>  
            </div>
          {% endfor %}
        {% else %}
          {% for block in section.blocks %}
            <div class="faq-section-item">
              <h3 class="faq-section-question">
                {{ block.settings.question }}
                <span class="faq-accordion-icons">
                  <svg class="faq-accordion-plus-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M0 9.4523V8.22153H7.38462V0.836914H8.61539V8.22153H16V9.4523H8.61539V16.8369H7.38462V9.4523H0Z" fill="#111314"></path>
                  </svg>
                  <svg class="faq-accordion-minus-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20.5 12H3.5" stroke="white" stroke-linecap="round"></path>
                  </svg>
                </span>
              </h3>
              <div class="faq-section-answer">{{ block.settings.answer }}</div>  
            </div>
          {% endfor %} 
        {% endif %}
      {% else %}
        {% for block in section.blocks %}
          <div class="faq-section-item">
            <h3 class="faq-section-question">
              {{ block.settings.question }}
              <span class="faq-accordion-icons">
                <svg class="faq-accordion-plus-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                  <path d="M0 9.4523V8.22153H7.38462V0.836914H8.61539V8.22153H16V9.4523H8.61539V16.8369H7.38462V9.4523H0Z" fill="#111314"></path>
                </svg>
                <svg class="faq-accordion-minus-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M20.5 12H3.5" stroke="white" stroke-linecap="round"></path>
                </svg>
              </span>
            </h3>
            <div class="faq-section-answer">{{ block.settings.answer }}</div>  
          </div>
        {% endfor %} 
      {% endif %} 
                
    </div>
    {% if section.settings.button_url != blank %}
      <a href="{{ section.settings.button_url }}" class="btn_link link medium-hide large-up-hide" aria-label="{{ section.settings.button_text }}">
        <span>{{ section.settings.button_text }}</span>
        {% render 'right-arrow' %}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Faq Section",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default":"View All"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#111314"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#676767"
      },
      {
       "type": "header",
        "content": "section padding"
      },
      {
        "type": "range",
        "id": "padding-top",
        "label": "Padding top",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "default": 36
      },
      {
       "type": "range",
        "id": "padding-bottom",
        "label": "Paading bottom",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "default": 36
      }
    ],
    "blocks": [
      {
        "name":"Faq Content",
        "type": "text",
        "settings": [

          {
            "type": "text",
            "id": "question",
            "label": "Question",
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Faq Section"
      }
    ]
  }
{% endschema %}