<div class="bg-gray-300">
  <div class="max-w-7xl mx-auto px-4 py-8">
    <div class="flex justify-between">
      <div class="md:flex md:items-center">
        <h2 class="font-bold text-blue-500 text-xl md:border-l-8 md:border-blue-500 md:pl-2 md:text-2xl">
          BLOG CONTENT
        </h2>

        <h3 class="font-semibold text-gray-500 md:ml-4">
          Knowledge is Power
        </h3>
      </div>

      <a
        class="text-blue-500 text-sm transition-opacity underline hover:opacity-70 sm:text-base"
        href="/blogs/all"
      >
        BROWSE ALL
      </a>
    </div>

    {%- liquid
      assign primary_article = section.blocks[0].settings.article
      assign primary_article_description = section.blocks[0].settings.description
    -%}

    <div class="gap-6 grid grid-cols-1 my-8 lg:gap-12 lg:grid-cols-2">
      <div class="overflow-hidden rounded-xl">
        {% render 'lazy-image',
          crop: 'top',
          height: 400,
          image: primary_article.image,
          width: 600,
        %}
      </div>

      <div class="space-y-6">
        <ul class="flex overflow-auto space-x-4">
          {% for tag in primary_article.tags %}
            {% if tag == 'newest' %}
              <li class="bg-green border-2 border-green min-w-max px-4 py-1 rounded-md text-xs text-white">
                {{ tag | upcase }}
              </li>
            {% else %}
              <li class="bg-transparent border-2 border-blue-500 min-w-max px-4 py-1 rounded-md text-xs text-blue-500">
                {{ tag | upcase }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="space-y-4">
          <p class="font-bold text-blue-500 text-xl sm:text-2xl">
            {{ primary_article.title }}
          </p>

          <p class="text-gray-500 text-sm sm:text-base">
            {{ primary_article.author }}
          </p>

          <div class="leading-loose text-gray-500 text-sm sm:text-base sm:leading-loose">
            {%- if primary_article_description == blank -%}
              {{ primary_article.excerpt | truncatewords: 20, '...' }}
            {%- else -%}
              <p>{{ primary_article_description }}</p>
            {%- endif -%}
          </div>

          <p class="text-blue-500 text-sm transition-opacity hover:opacity-70 md:text-base">
            <a class="underline" href="{{ primary_article.url }}">
              READ ARTICLE
            </a>

            &rarr;
          </p>
        </div>
      </div>
    </div>

    <h4 class="text-blue-500 font-bold mb-8 text-lg sm:text-xl md:text-2xl">
      MOST RECOMMENDED
    </h4>

    <div class="gap-6 grid grid-cols-1 lg:grid-cols-3">
      {% for block in section.blocks %}
        {% if forloop.index0 == 0 %}
          {% continue %}
        {% endif %}

        {% assign article = block.settings.article %}

        <div class="relative sm:gap-4 sm:grid sm:grid-cols-2 lg:block">
          <a class="block overflow-hidden rounded-xl transition-opacity hover:opacity-70" href="{{ article.url }}">
            {% render 'lazy-image',
              crop: 'top',
              height: 300,
              image: article.image,
              width: 400,
            %}
          </a>

          <div class="absolute bg-white bg-opacity-80 bottom-4 left-4 right-4 rounded-xl shadow-md p-4 space-y-4 z-10 sm:bg-transparent sm:bottom-0 sm:left-0 sm:p-0 sm:relative sm:right-0 sm:shadow-none lg:mt-4 xl:mt-6 xl:space-y-6">
            <ul class="flex space-x-4">
              {% for tag in article.tags %}
                {% if tag == 'newest' %}
                  <li class="bg-green border-2 border-green px-4 py-1 rounded-md text-xs text-white">
                    {{ tag | upcase }}
                  </li>
                {% else %}
                  <li class="bg-transparent border-2 border-blue-500 px-4 py-1 rounded-md text-xs text-blue-500">
                    {{ tag | upcase }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            <div class="space-y-2 sm:space-y-4">
              <a href="{{ article.url }}">
                <p class="font-bold text-blue-500 sm:text-xl xl:text-2xl">
                  {{ article.title }}
                </p>
              </a>

              <p class="text-gray-500 text-sm sm:text-base">
                {{ article.author }}
              </p>

              <div class="hidden leading-loose text-gray-500 lg:block">
                {%- if block.settings.description == blank -%}
                  {{ article.excerpt | truncatewords: 15, '...' }}
                {%- else -%}
                  <p>{{ block.settings.description }}</p>
                {%- endif -%}
              </div>

              <p class="text-blue-500 text-sm transition-opacity hover:opacity-70 md:text-base">
                <a class="underline" href="{{ article.url }}">
                  READ ARTICLE
                </a>

                &rarr;
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "blocks": [
    {
      "limit": 4,
      "name": "Referenced Article",
      "settings": [
        {
          "id": "article",
          "label": "Article",
          "type": "article"
        },
        {
          "id": "description",
          "info": "If blank blog excerpt will automatically popuplate",
          "label": "Description",
          "type": "textarea"
        }
      ],
      "type": "referenced_article"
    }
  ],
  "name": "Featured Blog",
  "settings": [

  ]
}
{% endschema %}