<div class="max-w-7xl mb-8 mx-auto px-4 py-8">
  <div class="flex justify-between mb-8">
    <div class="md:flex md:items-center">
      <h2 class="font-bold text-blue-500 text-xl md:border-l-8 md:border-blue-500 md:pl-2 md:text-2xl">
        CATEGORIES
      </h2>

      <h3 class="font-semibold text-gray-500 md:ml-4">
        Browse Products With Your Goals in Mind.
      </h3>
    </div>

    <a
      class="min-w-max pl-2 text-blue-500 text-right text-sm transition-opacity underline hover:opacity-70 sm:text-base"
      href="/collections/all"
    >
      SHOP ALL
    </a>
  </div>


  <div class="gap-8 grid grid-cols-1 lg:grid-cols-2">
    <div>
      <div class="bg-gray-300 p-4 rounded-md lg:p-8">
        <div class="flex flex-row items-center justify-center">
          <div>
            <div aria-label="Categories" class="gap-4 grid grid-flow-col grid-rows-4" role="tablist">
              {% for block in section.blocks %}
                <button
                  aria-controls="category-{{ forloop.index }}-tab category-{{ forloop.index }}-products-tab"
                  aria-selected="{% if forloop.index0 == 0 %}true{% else %}false{% endif %}"
                  class="category-tab flex h-14 items-center justify-center p-3 rounded-md transition-opacity w-14 hover:opacity-70 {% if forloop.index0 > 0 %}bg-white text-gray-400{% else %}bg-blue-400 text-white{% endif %}"
                  id="category-{{ forloop.index }}"
                  role="tab"
                >
                  {{ block.settings.icon_svg }}
                </button>
              {% endfor %}
            </div>
          </div>

          <div class="ml-4 lg:ml-8">
            {% for block in section.blocks %}
              <div
                aria-labelledby="category-{{ forloop.index }}"
                class="category-tab-panel {% unless forloop.index0 == 0 %}hidden{% endunless %}"
                id="category-{{ forloop.index }}-tab"
                role="tabpanel"
                tabindex="0"
              >
                <div class="relative">
                  <div class="max-w-sm">
                    {%- render 'lazy-image',
                      image: block.settings.image,
                      image_class: 'rounded-md shadow-md',
                      width: 400
                    -%}
                  </div>

                  <div class="absolute bg-black bg-opacity-60 bottom-0 font-bold left-0 p-4 right-0 rounded-b-md text-blue-400 z-10 lg:hidden">
                    <h3>{{ block.settings.title }}</h3>
                  </div>
                </div>

                <div class="hidden mt-8 lg:block">
                  <h3 class="text-blue-400 text-xl">
                    {{ block.settings.title }}
                  </h3>

                  <p class="mt-4 text-gray-500 text-sm leading-relaxed">
                    {{ block.settings.caption }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="font-bold text-blue-500 text-lg">
        RECOMMENDED
      </h2>

      {% for block in section.blocks %}
        <div
          class="category-tab-panel {% unless forloop.index0 == 0 %}hidden{% endunless %} mt-4 space-y-4"
          id="category-{{ forloop.index }}-products-tab"
          role="tabpanel"
          tabindex="0"
        >
          {% comment %}
            TODO: determine how to add product reviews from Yotpo
          {% endcomment %}

          {% for product in block.settings.collection.all_products limit: 3 %}
            {% assign split_title = product.title | split: '|' %}

            <div class="bg-gray-300 p-2 relative rounded-md text-blue-500">
              <div class="flex items-center">
                <div class="bg-white h-28 overflow-hidden pt-4 relative rounded-md w-28">
                  <a href="{{ product.url | within: block.settings.collection }}">
                    {%- render 'lazy-image',
                      height: 128,
                      image: product.featured_image,
                      width: 128,
                    -%}
                  </a>
                </div>

                <div class="flex-1 ml-4">
                  <p class="text-sm">{{ split_title[1] }}</p>
                  <p class="font-bold">{{ split_title[0] }}</p>

                  {% if product.price_varies %}
                    <p class="font-bold my-2 text-sm">{{ product.price_min | money }} - {{ product.price_max | money }}</p>
                  {% else %}
                    <p class="font-bold my-2 text-sm">{{ product.price | money }}</p>
                  {% endif %}

                  <a
                    class="font-semibold text-orange-500 text-xs underline"
                    href="{{ product.url | within: block.settings.collection }}"
                  >
                    VIEW PRODUCT
                  </a>
                </div>

                <category-quick-add>
                  <button class="absolute bg-blue-400 bottom-0 dialog-open px-2 py-3 right-0 rounded-br-md rounded-tl-xl text-white transition-opacity hover:opacity-70" type="button">
                    {% render 'icon-plus' %}
                  </button>

                  <div class="absolute bg-white bottom-4 hidden opacity-0 p-4 right-4 rounded-md shadow-lg transition-opacity z-20" role="dialog">
                    <div class="flex items-center mb-3">
                      <p class="flex-1 font-bold mr-2 text-sm">{{ product.title }}</p>

                      <button class="dialog-close transition-colors hover:text-orange-500" type="button">
                        {% render 'icon-close' %}
                      </button>
                    </div>

                    {% form 'product', product %}
                      <custom-select>
                        {% comment %}
                          TODO: aria controls
                          TODO: determine if there's a way to create this as a snippet and pass values down
                        {% endcomment %}
                        <div class="relative">
                          <button
                            aria-haspopup="listbox"
                            class="select {% if product.variants.size == 1 %}hidden{% endif %}"
                            type="button"
                          >
                            <div class="flex-1 text text-sm"></div>

                            <div class="ml-4 text-gray-500">
                              {% render 'icon-chevron-down' %}
                            </div>
                          </button>

                          <ul
                            class="select-list hidden opacity-0"
                            role="listbox"
                          >
                            {% for variant in product.variants %}
                              {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
                                {% continue %}
                              {% endif %}

                              <li
                                class="select-option"
                                data-value="{{ variant.id }}"
                                role="listitem"
                              >
                                {{ variant.title | replace: '/ 1 Tub', '' }}
                              </li>
                            {% endfor %}
                          </ul>

                          <select class="hidden" name="id">
                            {% for variant in product.variants %}
                              {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
                                {% continue %}
                              {% endif %}

                              <option
                                data-available="{{ variant.available }}"
                                value="{{ variant.id }}"
                                {% if forloop.index0 == 0 %}selected="selected"{% endif %}
                              >
                                {{ variant.title }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>
                      </custom-select>

                      <div class="gap-8 grid grid-cols-2 items-center mt-4">
                        <div>
                          <quantity-input>
                            <div class="flex items-center text-blue-500">
                              <button
                                class="quantity-button"
                                type="button"
                              >
                                {% render 'icon-minus' %}
                              </button>

                              <input
                                class="border-0 bg-transparent hide-selectors outline-none text-center w-12"
                                min="1"
                                name="quantity"
                                readonly
                                type="number"
                                value="1"
                              />

                              <button
                                class="quantity-button"
                                type="button"
                              >
                                {% render 'icon-plus' %}
                              </button>
                            </div>
                          </quantity-input>
                        </div>

                        {% assign default_variant = product.variants[0] %}

                        <button
                          class="border-2 px-4 py-3 rounded-md text-sm transition-opacity hover:opacity-70 {% if default_variant.available %}border-blue-400 text-blue-400{% else %}border-gray-400 opacity-70 text-gray-400{% endif %}"
                          type="submit"
                          {% unless default_variant.available %}disabled="disabled"{% endunless %}
                        >
                          {% if default_variant.available %}Quick Add{% else %}Sold Out{% endif %}
                        </button>
                      </div>
                    {% endform %}
                  </div>
                </category-quick-add>
              </div>
            </div>
          {% endfor %}

          <a
            class="bg-gray-300 block mt-3 py-2 rounded-md text-blue-500 text-center text-sm transition-opacity hover:opacity-70"
            href="{{ block.settings.collection.url }}"
          >
            SHOP ALL
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.category-tab').forEach((elem) => elem.addEventListener('click', function() {
    document.querySelectorAll('.category-tab-panel').forEach((elem) => elem.classList.add('hidden'));
    document.querySelectorAll('.category-tab').forEach((elem) => {
      elem.classList.remove('bg-blue-400', 'text-white');
      elem.classList.add('bg-white', 'text-gray-400');
    });

    const tabToShow = this.getAttribute('aria-controls')?.split(' ');

    tabToShow.forEach((elem) => document.getElementById(elem).classList.remove('hidden'));

    this.classList.remove('bg-white', 'text-gray-400');
    this.classList.add('bg-blue-400', 'text-white');
  }));
</script>

{% schema %}
{
  "blocks": [
    {
      "limit": 4,
      "name": "Category",
      "settings": [
        {
          "id": "collection",
          "label": "Collection",
          "type": "collection"
        },
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "id": "icon_svg",
          "label": "Icon",
          "type": "html"
        },
        {
          "id": "title",
          "label": "Title",
          "type": "text"
        },
        {
          "id": "caption",
          "label": "Caption",
          "type": "text"
        }
      ],
      "type": "category"
    }
  ],
  "name": "Categories"
}
{% endschema %}
