<section class="TL_aff_content">
  
  <style>
.slick-prev {    left: 25px !important;    z-index: 1;}
.slick-next {    right: 25px !important;    z-index: 1;}
.xgen-new-collection .xgen-new-product .xgen-ptitle {margin: 0px 0;}
.xgen-new-collection .xgen-new-product .button-alt {width: auto;}
</style>

<div class="flex xgen-new-collection affiliate-xgen recharge-xgen" id="xgen-new-collection">
  <div class="flex-1">
    <div  class="pt-4">
          <div class="xgen-tagging">
            {% if section.settings.img != blank %}
              {% assign image_name = section.settings.img | split: '/' | last | split: '.' | first | replace: '/', ' ' | replace: '-', ' ' | replace: '_', ' ' %}
              <img src="{{ section.settings.img | img_url: 'master' }}" alt="{% if section.settings.img.alt %}{{ section.settings.img.alt }}{% else %}{{ image_name }}{% endif %}" loading="lazy">
            {% endif %}
            {% if section.settings.title != blank %}
            	<h2>{{ section.settings.title}}</h2>
            {% endif %}
            
            {% if section.settings.subtitle != blank %}
            	<p>{{ section.settings.subtitle}}</p>
            {% endif %}
          
          </div>
      
      <!--static tagging -->
      
      
      {% for block in section.blocks %}
          <div class="gap-8 grid grid-cols-1 mb-8 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3">
		  {% assign product_1 = block.settings.product_1 | strip %}
          {% assign product_2 = block.settings.product_2  %}
          {% assign product_3 = block.settings.product_3 | strip  %}
          
            {% assign p_type1 = block.settings.product_type %}
            {% assign p_type2= block.settings.product_type_1 %}
            {% assign p_type3 = block.settings.product_type_2 %}

            {% assign detail1 = block.settings.detail_1 %}
            {% assign detail2 = block.settings.detail_2 %}
            {% assign detail3 = block.settings.detail_3 %}
            
            
            {% assign discount_text1 = section.settings.discount_month %}
            {% assign discount_text2 = section.settings.discount_days %}
            {% assign percent_text =  section.settings.percent_text %}
            
          {% if product_1 != blank %}
            {% for pure_product in collections.all.products %}
              {% if pure_product.handle == product_1 %}
                {% render 'influencer-single-product-grid' with product: pure_product, block_id: block.id, product_type: p_type1, dis_text_month: discount_text1, dis_text_days: discount_text2, sub_percent_text: percent_text, detail: detail1%} 
              {% endif %}
            {% endfor %}
          {% endif %}
        
          {% if product_2 != blank %}
          	 
                {% render 'influencer-single-product-grid' with product: product_2, block_id: block.id, product_type: p_type2, dis_text_month: discount_text1, dis_text_days: discount_text2, sub_percent_text: percent_text, detail: detail2  %}
             
          {% endif %}
          {% if product_3 != blank %}
          	 {% for pure_product in collections.all.products %}
              {% if pure_product.handle == product_3 %}
                {% render 'influencer-single-product-grid' with product: pure_product, block_id: block.id, product_type: p_type3, dis_text_month: discount_text1, dis_text_days: discount_text2, sub_percent_text: percent_text, detail: detail3 %} 
              {% endif %}
            {% endfor %}
          {% endif %}
         </div>
    
     {% endfor %}
      
    </div>
  </div>
</div>

</section>

  <script>
  
  var acc = document.getElementsByClassName("accordions");
      var i;
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;;
          panel.classList.toggle("show");
//           if (panel.classList.contains === "show") {
//             panel.classList.remove("hide");
            
//           } else {
//             panel.classList.remove("show");
//           }
        });
      }
  
  $('#tabs-nav li:first-child').addClass('active');
$('.tab-content').hide();
$('.tab-content:first').show();

// Click function
$('#tabs-nav li').click(function(){
  $('#tabs-nav li a').removeClass('active');
  $(this).find("a").addClass('active');
  $('.tab-content').hide();
  
  var activeTab = $(this).find('a').attr('href');
  $(activeTab).fadeIn();
  return false;
});
  
// function openCity(evt, cityName) {
//   var i, tabcontent, tablinks;
//   tabcontent = document.getElementsByClassName("xgenstack-tabcontent");
//   for (i = 0; i < tabcontent.length; i++) {
//     tabcontent[i].style.display = "none";
//   }
//   tablinks = document.getElementsByClassName("tablinks");
//   for (i = 0; i < tablinks.length; i++) {
//     tablinks[i].className = tablinks[i].className.replace(" active", "");
//   }
//   document.getElementById(cityName).style.display = "block";
//   evt.currentTarget.className += " active";
// }

// // Get the element with id="defaultOpen" and click on it
// document.getElementById("protab_1").click();
  
</script>


<style>
  :root {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: #41B5E8;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
  
    var slickSetSelected = function() {
        var slideTrack = this.$slideTrack,
            currentSlide = this.currentSlide;

        slideTrack.find('.slick-selected').removeClass('slick-selected');
        slideTrack.find('[index="' + currentSlide + '"]').addClass('slick-selected');
    };
  
  /*$(".packageslide").slick({
    dots: false,
    infinite: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    focusOnSelect: true,
//     centerMode: true,
    arrows:true
  });*/
  
  
  /*$('.packageslide').hide();
  $('.package-list-wraper>.openslide').click(function (e) {
        e.preventDefault();
    	$(this).find('.packageslide').slideToggle(200);
       // $('.packageslide').slideToggle(200);
    	//$(this).find('.packageslide').css({"display":"block"});
    });*/
  
//   $('.package-list-wraper>.openslide').click(function (e) {
//         e.preventDefault();
//     	$(this).find('.packageslide').toggleClass('show');
//     });
  
</script>



{% schema %}
  {
    "name": "influencer-product",
    "settings": [
	{
    	"type":"image_picker",
        "id":"img",
        "label":"Select Image"
	},
      {
    	"type":"text",
        "id":"title",
        "label":"Section Title"
	},
    {
    	"type":"textarea",
        "id":"subtitle",
        "label":"Section Subtitle"
	},
	{
    	"type":"text",
        "id":"discount_month",
        "label":"Discount text by month",
		"default":"Deliver Every Month"
	},
	{
    	"type":"text",
        "id":"discount_days",
        "label":"Discount text by days",
		"default":"Deliver Every 45 days"
	},
	{
    	"type":"text",
        "id":"percent_text",
        "label":"Subcription percent Off text",
		"default":"10% Off"
	}
],
	"blocks":[
		{
			"name":"product",
			"type":"text",
			"settings":[
				{
                    "type":"text",
                    "id":"collection_type",
                    "label":"collection type"
                },
				{
                  	"type":"header",
                  	"content":"product"
  				},
				{
                    "type":"text",
                    "id":"product_type",
                    "label":"Product type"
                },
				{
                    "type":"product",
                    "id":"product_1",
                    "label":"Select single product"
                },
                {
                    "type":"html",
                    "id":"detail_1",
                    "label":"Product deatil"
                },
				{
                  	"type":"header",
                  	"content":"product"
  				},
				{
                    "type":"text",
                    "id":"product_type_1",
                    "label":"Product type"
                },
				{
                    "type":"product",
                    "id":"product_2",
                    "label":"Select stack product"
                },
                {
                    "type":"html",
                    "id":"detail_2",
                    "label":"Product deatil"
                },
				{
                  	"type":"header",
                  	"content":"product"
  				},
                {
                    "type":"text",
                    "id":"product_type_2",
                    "label":"Product type"
                },
				{
                    "type":"product",
                    "id":"product_3",
                    "label":"Select simple product"
                },
                {
                    "type":"html",
                    "id":"detail_3",
                    "label":"Product deatil"
                }
			]
		}
	],
	
	"presets":[
		{
			"name": "Influencer Product"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}