<style>
@media only screen and (max-width: 600px) {
 .grid-cols-2 {    grid-template-columns: repeat(1,minmax(0,1fr));}
}
</style>

<div class="max-w-5xl mx-auto my-8 px-4 text-blue-500">
  <div class="max-w-[640px] mx-auto">
    {% render 'lazy-image',
      image: images['TL_03.jpg'],
      width: 640,
    %}
  </div>

  <h1 class="my-8 text-center text-xl md:text-2xl lg:text-3xl">
    {{ page.title }}
  </h1>

  <div class="mb-8 space-y-4">
    <p>This macro calculator uses an advanced algorithm that can compute your specific calorie and macro based on personal information, lifestyle habits, AND any diet you may be following. Not only that, but with these specific inputs, our algorithm is capable of providing you with tailored supplement recommendations that will help you hit your macronutrient numbers, intensify your workouts and recovery, and accelerate weight loss or muscle gains.</p>
    <p>The macro calculator is broken down into 6 easy steps.</p>
    <ul class="space-y-4">
      <li>
        <strong>Step 1</strong>: Basic Information
      </li>
      <li>
        <strong>Step 2</strong>: Select Your Lifestyle
      </li>
      <li>
        <strong>Step 3</strong>: Select Your Workout Style
      </li>
      <li>
        <strong>Step 4</strong>: What's Your Current Workout Routine?
      </li>
      <li>
        <strong>Step 5</strong>: What's Your Goal?
      </li>
      <li>
        <strong>Step 6</strong>: Following Any Diets? (Protein : Carbs : Fat)
      </li>
    </ul>
  </div>

  <div class="flex flex-col gap-4 items-center justify-between mb-8 lg:flex-row">
    <h2 class="text-center text-2xl sm:text-left">
      Calculator Your Optimal Macros and Calories
    </h2>

    <div class="border-2 border-blue-500 inline-flex overflow-hidden rounded-xl">
      <input class="hidden radio" checked id="units-imperial" name="units" type="radio" value="imperial">
      <label class="cursor-pointer py-3 px-8 text-sm transition-colors" for="units-imperial">Imperial</label>

      <input class="hidden radio" id="units-metric" name="units" type="radio" value="metric">
      <label class="cursor-pointer py-3 px-8 text-sm transition-colors" for="units-metric">Metric</label>
    </div>
  </div>

  <div class="mb-8 space-y-8" id="steps-container">
    <div id="step-1">
      <div class="bg-blue-500 p-3 text-white">
        Step 1: Basic Information
      </div>

      <div class="bg-gray-300 divide-y-2 divide-gray-400 divide-opacity-25">
        <div class="flex items-center justify-between p-3">
          <p>Gender</p>

          <div class="border-2 border-blue-500 inline-flex overflow-hidden rounded-xl">
            <input class="hidden radio" checked id="gender-male" name="gender" type="radio" value="male">
            <label class="cursor-pointer py-3 px-8 text-sm transition-colors" for="gender-male">Male</label>

            <input class="hidden radio" id="gender-female" name="gender" type="radio" value="female">
            <label class="cursor-pointer py-3 px-8 text-sm transition-colors" for="gender-female">Female</label>
          </div>
        </div>

        <div class="flex items-center justify-between p-3">
          <label for="age">Age</label>

          <input class="text-input flex-grow-0 w-24" id="age" placeholder="Years" type="number">
        </div>

        <div class="flex items-center justify-between p-3">
          <p>Height</p>

          <div id="height-imperial">
            <input class="text-input flex-grow-0 w-24" id="height-ft" placeholder="ft" type="number">
            <input class="text-input flex-grow-0 w-24" id="height-in" placeholder="in" type="number">
          </div>

          <div id="height-metric" class="hidden">
            <input class="text-input flex-grow-0 w-24" id="height-cm" placeholder="cm" type="number">
          </div>
        </div>

        <div class="flex items-center justify-between p-3">
          <label for="current-weight">Current Weight</label>

          <input class="text-input flex-grow-0 w-24" id="current-weight" placeholder="lbs" type="number">
        </div>

        <div class="flex items-center justify-between p-3">
          <label for="goal-weight">Goal Weight</label>

          <input class="text-input flex-grow-0 w-24" id="goal-weight" placeholder="lbs" type="number">
        </div>
      </div>
    </div>

    <div class="hidden" id="step-2">
      <div class="bg-blue-500 p-3 text-white">
        Step 2: Select Your Lifestyle
      </div>

      <div class="bg-gray-300">
        <div class="grid grid-cols-1 divide-y-2 divide-gray-400 divide-opacity-25 sm:divide-x-2 sm:grid-cols-4">
          <div>
            <input class="hidden radio" id="lifestyle-sedentary" name="lifestyle" type="radio" value="sedentary">
            <label class="block cursor-pointer p-4 text-center" for="lifestyle-sedentary">
              <span class="font-bold">Sedentary</span>
              <br>
              <span class="text-sm">Spend Most Of the Day Sitting ie. Working on Computer, No Exercise)</span>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="lifestyle-light-activity" name="lifestyle" type="radio" value="light-activity">
            <label class="block cursor-pointer p-4 text-center" for="lifestyle-light-activity">
              <span class="font-bold">Light Activity</span>
              <br>
              <span class="text-sm">Spend a Good Part Of The Day On Your Feet (Teacher, Real Estate)</span>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="lifestyle-active" name="lifestyle" type="radio" value="active">
            <label class="block cursor-pointer p-4 text-center" for="lifestyle-active">
              <span class="font-bold">Active</span>
              <br>
              <span class="text-sm">Spend A Good Part Of The Day Doing Physical Activites (Waitress, UPS Driver)</span>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="lifestyle-very-active" name="lifestyle" type="radio" value="very-active">
            <label class="block cursor-pointer p-4 text-center" for="lifestyle-very-active">
              <span class="font-bold">Very Active</span>
              <br>
              <span class="text-sm">Spend A Good Part Of The Day Doing Heavy Physical Activites (Brick Layer, Mover)</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden" id="step-3">
      <div class="bg-blue-500 p-3 text-white">
        Step 3: Select Your Workout Style
      </div>

      <div class="bg-gray-300">
        <div class="grid grid-cols-1 divide-y-2 divide-gray-400 divide-opacity-25 sm:grid-cols-3 sm:divide-x-2">
          <div>
            <input class="hidden radio" id="workout-light" name="workout-style" type="radio" value="light">
            <label class="block cursor-pointer p-8 text-center" for="workout-light">
              <span class="font-bold">Light</span>
              <br>
              <span class="text-sm">Light Weights. Easy Breathing. (130 BPM)</span>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="workout-moderate" name="workout-style" type="radio" value="moderate">
            <label class="block cursor-pointer p-8 text-center" for="workout-moderate">
              <span class="font-bold">Moderate</span>
              <br>
              <span class="text-sm">Moderate Weights. Elevated Heart Rate. (150 BPM)</span>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="workout-heavy" name="workout-style" type="radio" value="heavy">
            <label class="block cursor-pointer p-8 text-center" for="workout-heavy">
              <span class="font-bold">Heavy</span>
              <br>
              <span class="text-sm">Heavy Weights. Heavy Breathing. (180 BPM)</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden" id="step-4">
      <div class="bg-blue-500 p-3 text-white">
        Step 4: What's Your Current Workout Routine?
      </div>

      <div class="bg-gray-300 p-4">
        <div class="text-center">
          <span>I work out for</span>
          <input class="text-input flex-grow-0 mb-4 w-24 sm:mb-0" id="workout-duration-minutes" placeholder="mins" type="number">
          <span>minutes</span>
          <input class="text-input flex-grow-0 w-24" id="workout-duration-days" max="7" min="0" placeholder="days" type="number">
          <span>days per week.</span>
        </div>
      </div>
    </div>

    <div class="hidden" id="step-5">
      <div class="bg-blue-500 p-3 text-white">
        Step 5: What's Your Goal?
      </div>

      <div class="bg-gray-300">
        <div class="grid grid-cols-1 divide-y-2 divide-gray-400 divide-opacity-25 sm:divide-x-2 sm:grid-cols-4">
          <div>
            <input class="hidden radio" id="goal-lose-weight" name="goal" type="radio" value="lose-weight">
            <label class="cursor-pointer flex flex-col font-bold h-full justify-center p-4 text-center" for="goal-lose-weight">
              Lose a Lot of Weight
            </label>
          </div>

          <div>
            <input class="hidden radio" id="goal-get-shredded" name="goal" type="radio" value="get-shredded">
            <label class="cursor-pointer flex flex-col font-bold h-full justify-center p-4 text-center" for="goal-get-shredded">
              Get Shredded
            </label>
          </div>

          <div>
            <input class="hidden radio" id="goal-body-recomposition" name="goal" type="radio" value="body-recomposition">
            <label class="cursor-pointer flex flex-col h-full justify-center p-4 text-center" for="goal-body-recomposition">
              <div>
                <span class="font-bold">Body Recomposition</span>
                <br>
                <span class="text-sm">(lose a little fat gain a little muscle)</span>
              </div>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="goal-bulk-up" name="goal" type="radio" value="bulk-up">
            <label class="cursor-pointer flex flex-col font-bold h-full justify-center p-4 text-center" for="goal-bulk-up">
              Bulk Up
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden" id="step-6">
      <div class="bg-blue-500 p-3 text-white">
        Step 6: Following Any Diets? (Protein : Carbs : Fat)
      </div>

      <div class="bg-gray-300">
        <div class="grid grid-cols-1 divide-y-2 divide-gray-400 divide-opacity-25 sm:divide-x-2 sm:grid-cols-5">
          <div>
            <input class="hidden radio" id="diet-low-carb" name="diet" type="radio" value="low-carb">
            <label class="cursor-pointer flex flex-col h-full justify-center p-4 text-center" for="diet-low-carb">
              <div>
                <span class="font-bold">Low Carb/High Protein</span>
                <br>
                <span class="text-sm">(50 : 20 : 30)</span>
              </div>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="diet-vegan" name="diet" type="radio" value="vegan">
            <label class="cursor-pointer flex flex-col h-full justify-center p-4 text-center" for="diet-vegan">
              <div>
                <span class="font-bold">Vegan</span>
                <br>
                <span class="text-sm">(40 : 30 : 30)</span>
              </div>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="diet-keto" name="diet" type="radio" value="keto">
            <label class="cursor-pointer flex flex-col h-full justify-center p-4 text-center" for="diet-keto">
              <div>
                <span class="font-bold">Keto</span>
                <br>
                <span class="text-sm">(30 : 5 : 65)</span>
              </div>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="diet-the-zone" name="diet" type="radio" value="the-zone">
            <label class="cursor-pointer flex flex-col h-full justify-center p-4 text-center" for="diet-the-zone">
              <div>
                <span class="font-bold">The Zone</span>
                <br>
                <span class="text-sm">(40 : 30 : 30)</span>
              </div>
            </label>
          </div>

          <div>
            <input class="hidden radio" id="diet-undecided" name="diet" type="radio" value="undecided">
            <label class="cursor-pointer flex flex-col h-full justify-center p-4 text-center" for="diet-undecided">
              <div>
                <span class="font-bold">Undecided</span>
                <br>
                <span class="text-sm">(Have us recommend)</span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="button bg-orange-400 px-12" id="next-info-step" type="button">Next</button>
    </div>
  </div>

  <div class="mb-8">
    <form class="bg-blue-500 hidden p-8" id="signup-form">
      <input type="hidden" name="g" value="PQWfMq">
			<input type="hidden" name="$fields" value="calculator_goal, calculator_result">
			<input type="hidden" name="calculator_goal" value="" id="calculator-goal-field">
			<input type="hidden" name="calculator_result" value="" id="calculator-result-field">

      <div class="flex flex-col gap-8 items-center lg:flex-row">
        <p class="text-white">Enter Your Email For Results</p>
        <input class="text-input" id="k_id_email" name="email" placeholder="your email" required type="email">
        <button class="button bg-orange-400 px-12 disabled:bg-gray-400" disabled type="submit">Calculate</button>
      </div>
    </form>
  </div>

  <div class="hidden mb-8 space-y-8" id="results">
    <div class="bg-gray-300 p-4 space-y-4 text-center">
      <h2 class="text-2xl">Your Health Calculator Results</h2>

      <p>Recommended Diet: <span id="diet-recommendation"></span></p>

      <p>
        Recommended Calories: <span class="font-bold" id="calculated-calories"></span> Calories Per Day. (TDEE: <span id="calculated-tdee"></span>)
      </p>

      <div class="gap-8 grid grid-cols-1 sm:grid-cols-3">
        <div class="bg-blue-500 p-4 text-white">
          <div id="calculated-protein"></div>
        </div>

        <div class="bg-blue-500 p-4 text-white">
          <div id="calculated-carbs"></div>
        </div>

        <div class="bg-blue-500 p-4 text-white">
          <div id="calculated-fat"></div>
        </div>
      </div>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl">Supplement Recommendations</h3>

      <p>
        At Transparent Labs, we work hard to provide the best products formulated in accordance with scientific studies. The ingredients used in Transparent Labs products will help you build muscle, lose weight, and hit your fitness and nutritional goals.
      </p>

      <p>
        The recommendations below are tailored to your specific needs. We stand behind our products 100%, and encourage you to give them a try.
      </p>
    </div>

    <div class="gap-8 grid grid-cols-2 sm:max-w-lg sm:mx-auto lg:grid-cols-3 lg:max-w-full" id="recommendations">
      {%- assign handles = 'physiqueseries-fat-burner;proteinseries-100-grass-fed-whey-protein-isolate;proteinseries-100-grass-fed-whey-protein-concentrate;preseries-lean-pre-workout;proteinseries-mass-gainer;coreseries-krill-oil;coreseries-bcaa-glutamine;preseries-bulk-preworkout;protein-series-organic-vegan;strengthseries-zmo' | split: ';' -%}

      {%- for handle in handles -%}
      {%- assign product = all_products[handle] -%}
      <div class="bg-gray-300 p-4 rounded-xl transition-opacity hover:opacity-70">
        <a data-handle="{{ handle }}" href="{{ product.url }}">
          <div class="mb-4">
            {% render 'lazy-image',
              image: product.featured_image,
              width: 640,
            %}
          </div>

          <p class="font-bold text-center">{{ product.title }}</p>
        </a>
{% form 'product', product, data-productid: product.id %}
        <custom-select>
          <div class="relative">
            <button
              aria-haspopup="listbox"
              class="select"
              type="button"
            >
              <div class="flex-1 text text-sm"></div>

              <div class="ml-4 text-gray-500">
                {% render 'icon-chevron-down' %}
              </div>
            </button>

            <ul
              class="select-list hidden opacity-0"
              role="listbox"
            >
              {% for variant in product.variants %}
                {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
                  {% continue %}
                {% endif %}

                <li
                  class="select-option"
                  data-value="{{ variant.id }}"
                  role="listitem"
                >
                  {{ variant.title | replace: '/ 1 Tub', '' }}
                </li>
              {% endfor %}
            </ul>

            <select class="hidden" name="id" data-productid="{{ product.id }}">
              {% for variant in product.variants %}
                {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
                  {% continue %}
                {% endif %}

                <option
                  data-available="{{ variant.available }}"
                  value="{{ variant.id }}"
                  {% if forloop.index0 == 0 %}selected="selected"{% endif %}
                >
                  {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          </div>
        </custom-select>

        <div class="gap-8 grid grid-cols-2 items-center sm-flex mt-4">
          <div>
            <quantity-input>
              <div class="flex items-center text-blue-500">
                <button class="quantity-button"  type="button">
                  {% render 'icon-minus' %}
                </button>
                <input class="border-0 bg-transparent hide-selectors outline-none text-center w-12" min="1" name="quantity" readonly type="number" value="1" />
                <button class="quantity-button" type="button" > {% render 'icon-plus' %}  </button>
              </div>
            </quantity-input>
          </div>

          {% assign default_variant = product.variants[0] %}
          {% comment %}
            class="border-2 px-4 py-3 rounded-md text-sm transition-opacity hover:opacity-70 {% if default_variant.available %}border-blue-400 text-blue-400{% else %}border-gray-400 opacity-70 text-gray-400{% endif %}"
          {% endcomment %}
          <button class="button-alt btn-sm-full" style="margin: 10px 0;" type="submit"  {% unless default_variant.available %}disabled="disabled"{% endunless %}>
            {% if default_variant.available %}Add{% else %}Sold Out{% endif %}
          </button>
        </div>
      {% endform %}
      </div>
      
      <script>
               
    document.querySelector('#product_form_{{product.id}}').addEventListener('submit', function(event) {
  	event.preventDefault();

    const config = {
      headers: {
        'Accept': 'application/javascript',
        'Content-Type': 'application/json',
      },
      method: 'POST',
      'X-Requested-With': 'XMLHttpRequest',
    };

    config.body = JSON.stringify({
      id: this.querySelector('select[name="id"]').value,
      quantity: this.querySelector('input[name="quantity"]').value,
    });

    fetch('/cart/add', config)
      .then((response) => response.json())
      .then((response) => {
        if (response.status) {
          console.error(response);
        }
      })
      .catch((e) => {
        console.error(e);
      })
      .finally(() => {
        openCartMenu();
      });
  
});
        
      </script>
      
      
      {%- endfor -%}
    </div>

    <div class="space-y-4">
      <h3 class="text-xl">Frequently Asked Questions</h3>

      <div>
        {% render 'accordion',
          answer: "Macronutrients, or 'macros' for short, are a few various nutrients your body needs in the right amounts for optimal health. The 3 main macros you should know about are carbohydrates (carbs), protein, and fats. Understanding exactly how many macros you should aim to consume is a daunting task. This is why we created an accurate, easy to use macro calculator that's tailored to effectively help you reach your goals."
          id: 'what-are-macros',
          question: 'What are macronutriets?',
        %}
      </div>

      <div>
        {% capture answer %}
          <div class="space-y-4">
            <p>Our macro calculator is designed to offer a simple selection of 4 distinct workout routines. Whether you're looking to drop some pounds, bulk up, get shredded or re-composition (bulk muscle, shred fat) you're physique, you'll find there's a macro routine that's right for you.</p>
            <p><strong>Lose A Lot of Weight -</strong></p>
            <p>In today's day and age, losing pounds has never been easier. This fitness diet helps encourage safe and steady weight loss by moderately decreasing your total protein, carb, and fat intake. For the best weight loss results, we suggest following it alongside a quality fat-burner and consistent workout schedule.</p>
            <p><strong>Get Shredded -</strong></p>
            <p>Get Shredded is primarily used by those looking to prevent fat gain, improve fat loss, and promote lean muscle growth. This is done by moderately lowering general carb intake whilst simultaneously raising both protein and fat intake, resulting in a naturally enhanced physique.</p>
            <p><strong>Body Re-composition -</strong></p>
            <p>This dietary routine is largely ideal for those who want to cut body fat and build lean muscle at the same time. Body Re-composition calculates a well-balanced intake of carbs, protein, and fat resulting in less overall gained calories.</p>
            <p><strong>Bulk Up -</strong></p>
            <p>Bulk Up's routine is designed to help boost your overall caloric intake by providing more protein, fat, and carbs. It's especially helpful for strength trainers, hard-gainers, and those wanting to increase their body mass in general. If you find yourself struggling to meet daily macro goals, a mass gainer may be able to help.</p>
          </div>
        {% endcapture %}

        {% render 'accordion',
          answer: answer,
          id: 'which-workout-routine',
          question: 'Which workout routine is the best for me?',
        %}
      </div>

      <div>
        {% capture answer %}
          <div class="space-y-4">
            <p>Your TDEE (Total daily energy expenditure) is your personal benchmark of daily activity. Basically, it's how much you burn in a day.</p>
            <p>A heightened TDEE means you'll need to meet a higher daily macro goal in order to maintain and/or build your physique.</p>
            <p>If you're trying to lose weight, you'll instead need to burn slightly more macros than you consume. This will cause a small but consistent macro net loss, resulting in a steady loss of unwanted weight over time.</p>
            <p>There are four separate categories your TDEE can fall under. They are:</p>
            <ul class="list-disc pl-4 space-y-4">
              <li>Sedentary: You spend most of the day sitting and don't usually exercise. (Working on a computer)</li>
              <li>Light Activity: You spend a good part of the day active on your feet. (Teacher or real estate agent)</li>
              <li>Active: You spend a good part of the day doing physical activities. (Waitress, mail delivery)</li>
              <li>Very Active: You spend a good part of the day doing strong physical activities. (Construction worker, Athlete)</li>
            </ul>
            <p>For example: if you're sedentary and your goal is to burn fat, your daily macro burn goal may be above average. However, if you raise your TDEE and begin exercising, your body will begin metabolizing additional macros, like fat, to provide the necessary energy for your workout. This causes your net caloric expenditure to rise, enabling you to safely lose weight in the process.</p>
          </div>
        {% endcapture %}

        {% render 'accordion',
          answer: answer,
          id: 'tdee-levels-explained',
          question: 'TDEE Activity levels explained / What are TDEE activity levels, and how do they help?',
        %}
      </div>

      <div>
        {% capture answer %}
          <div class="space-y-4">
            <p>What macros don't provide the body, micronutrients do. Micronutrients, or micros, make up a wide range of distinct nutrients your body requires in small amounts to function properly. Essential nutrients such as vitamins, minerals, and antioxidants are the most common micros.</p>
            <p>The most popular source of micros are whole foods like fruit and vegetables. This is because of their inherently high micro to macronutrient ratio, making them great value meal options.</p>
            <p>Overall, following the basic and bland IIFYM (if it fits your macros) will work. But if you want to feel better, perform better, and look overall healthier - then taking time to get in macro nutrient dense foods like vegetables is a must.</p>
            <p>Likewise, avoiding processed foods and general 'junk food' will help.</p>
            <p>So what's next?</p>
            <p>Simply fill out the free macro calculator above, and we'll send you what nutritional goals you should strive for to meet your goals. Easy as that.</p>
          </div>
        {% endcapture %}

        {% render 'accordion',
          answer: answer,
          id: 'what-about-micronutrients',
          question: 'What about micronutrients?',
        %}
      </div>
    </div>
  </div>

  <div class="space-y-4 rich-text">
    <h2 class="text-2xl">What Are Macronutrients ("Macros")?</h2>
    <p>Macronutrients (aka "macros") are nutrients that a living organism needs in relatively large amounts for proper biological function. For humans, these nutrients are water, fat, carbohydrate (carbs), and protein.</p>
    <blockquote>The primary function of macronutrients, aside from water, is to provide energy (calories) for life-sustaining processes. However, macronutrients play expansive roles that go well beyond their energy provisions in the body.</blockquote>
    <p>For example, fat and protein are biologically "essential" for humans since they provide fatty acids and amino acids, respectively, that are necessary for cellular integrity and synthesizing and repairing body tissues. In other words, we must consume fat and protein regularly to survive. The same goes for water.</p>
    <p>Carbohydrates and alcohol are not considered "essential" macronutrients for humans since the body can create glucose and ethanol endogenously from other substrates.</p>
    <p>Below, you can learn more about protein, carbs, and fat and how these macronutrients work in the body:</p>

    <h3 class="text-xl">Protein</h3>
    <p>Protein is an essential macronutrient comprised of organic molecules called amino acids. Each gram of protein contains 4 calories.</p>
    <p>Muscle tissue in the human body is the largest reservoir of amino acids, and most bodily tissues are frameworks of protein fibers synthesized by amino acids. Naturally, protein is a crucial component of a healthy diet. </p>
    <p>Amino acids in protein are integral to numerous physiological processes, notably:</p>

    <ul>
      <li>Muscle development</li>
      <li>Energy production</li>
      <li>Neurotransmitter synthesis</li>
      <li>Cardiovascular function</li>
      <li>Immune response</li>
    </ul>

    <p>A complete protein source, such as eggs and dairy milk, provides all nine <a target="_blank" href="https://www.transparentlabs.com/blogs/all/eaas-vs-bcaas-which-is-best-for-athletic-performance-and-building-muscle">essential amino acids</a> (EAAs) necessary for protein synthesis. Incomplete protein, like the protein in beans, lacks one or more of the EAAs.</p>
    <blockquote>While adequate protein intake is undoubtedly vital to building and maintaining muscle tissue, it is not advisable to eat tons of protein in hopes of building "extra" muscle. Most active gym-goers and athletes should aim for about 0.8 - 1.1 grams of protein per pound of body weight [<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/29182451/">2</a>]. For more on optimal protein intake, <a target="_blank" href="https://www.transparentlabs.com/blogs/all/how-much-protein-should-i-eat">read this</a>.</blockquote>

    <h3 class="text-xl">Fat</h3>
    <p>With 9 calories per gram, fat has more than double the energy content of carbohydrates and protein. Therefore, fatty foods like nuts and red meat are typically calorie-dense. </p>
    <p>Like protein, fat plays extensive roles throughout the body. Fat is essential for cellular integrity since fatty acids are core molecules of phospholipids in the cell membrane. Cholesterol, a special type of lipid (fat), serves as a precursor to steroid hormones. And, of course, fat is an important insulator for the body.</p>
    <blockquote>Fatty acids come in either saturated or unsaturated forms; the former tend to be abundant in animal foods like pork, steak, butter, and whole milk. The latter occurs primarily in plant foods like avocado, nuts, and seeds.</blockquote>
    <p>But there are some exceptions. Coconut is a rich source of medium-chain triglycerides (MCTs), which are saturated fats. The oft-lauded <a target="_blank" href="https://www.transparentlabs.com/blogs/all/krill-oil-vs-other-fish-oil">omega-3 fatty acids</a> are polyunsaturated and found primarily in seafood.</p>
    <p>Nonetheless, it's best to limit your intake of saturated fats and emphasize unsaturated fat sources in your diet.</p>

    <h3 class="text-xl">Carbohydrates</h3>
    <p>Similar to protein, every gram of carbohydrate (not including fiber) contains 4 calories. Carbs are typically categorized as either simple (mono and disaccharides) or complex (polysaccharides).</p>
    <p>Simple carbs are mostly found in foods like table sugar (sucrose), fruit, corn syrup, and honey. Complex carbohydrates are abundant in whole grains and starchy vegetables, such as oats and sweet potatoes.</p>
    <blockquote>Carbs are technically not essential for humans because we can produce glucose endogenously. But that doesn't necessarily mean a low-carb diet is optimal.</blockquote>
    <p>Numerous studies have shown that insulin augments the muscle protein synthetic response to a modest bolus of amino acids [<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/27525440/" rel="noopener noreferrer">3</a>]. In non-nerd terminology, this means carbohydrates can help improve muscle growth and preservation.</p>

    <h3 class="text-xl">Fiber</h3>
    <blockquote>Fiber is a subclass of carbohydrates that the body does not fully metabolize. Thus, fibers generally contain less than 2 calories per gram.</blockquote>
    <p>There are two classes of dietary fiber — soluble and insoluble. Soluble fiber forms a viscous gel-like substance when mixed in aqueous solutions, whereas insoluble fiber is immiscible in water. In the body, soluble fiber slows the digestive process by binding to liquid in the digestive tract. Consequently, soluble fiber can help promote satiety and enhance nutrient absorption.</p>
    <p>On the other hand, insoluble fiber passes through the digestive tract undissolved and adds bulk to waste in the intestines. Hence, insoluble fiber has a laxative effect and is generally good for staying regular.</p>
    <p>Most people should consume at least 10 grams of dietary fiber (as both soluble and insoluble fiber) per 1,000 calories. If you follow a <a target="_blank" href="https://www.transparentlabs.com/blogs/all/low-carb-vs-keto">low-carb or ketogenic diet</a>, your fiber intake may end up being well above that to reduce net carb load (i.e. total carbs less fiber).</p>

    <h3 class="text-xl">Micronutrients</h3>
    <div>
      {% render 'lazy-image',
        image: images['shutterstock_1113790910.jpg'],
        width: 1024,
      %}
    </div>

    <p>Micronutrients are nutrients that humans (and other animals) require in relatively small quantities for proper health and longevity. We typically classify micronutrients as being either <a target="_blank" href="https://www.transparentlabs.com/blogs/all/how-do-multivitamins-work">vitamins</a>, minerals, or polyphenols, many of which have antioxidant properties in the body.</p>
    <p>In contrast to macronutrients, micronutrients do not contain calories. Instead of being metabolized for energy, they function as cofactors and coenzymes (think: "helper molecules") for complex substrates like protein.</p>
    <p>While most people don't need to track their micronutrient intake rigorously, these nutrients are just as essential as macronutrients for overall wellness. It's crucial to include plenty of fruits and vegetables in your diet to help meet your needs of vitamins, minerals, and antioxidant polyphenols. Supplementing with a <a target="_blank" href="https://www.transparentlabs.com/products/wellnessseries-multivitamin">quality multivitamin</a> may also be prudent.</p>

    <h2 class="text-2xl">Tips to Make the Most of Your Diet</h2>
    <ul>
      <li>Plan and prepare your meals in advance to help stay on track with your nutrition goals (remember: failing to plan is planning to fail!).</li>
      <li><a target="_blank" href="https://www.transparentlabs.com/blogs/all/beginners-guide-to-counting-macros">Track your macros and calorie intake</a> by using a food logging app like <a target="_blank" href="https://www.myfitnesspal.com/">MyFitnessPal</a></li>
      <li>Include a quality protein source with every meal</li>
      <li>Aim for at least 3-4 meals/snack spread throughout the day</li>
      <li>Eat the majority of your carbs pre- and post-workout to refuel muscle glycogen and promote recovery</li>
      <li>Consume about 10 grams of fiber per 1,000 calories in your diet</li>
      <li>Don't skimp on fruits and vegetables — these are packed with vitamins and minerals.</li>
    </ul>

    <h2 class="text-2xl">Best Foods to Meet Your Macronutrient Needs</h2>
    <p>Barring any <a target="_blank" href="https://www.transparentlabs.com/blogs/all/food-allergy-vs-food-intolerance-whats-the-difference">food allergies or intolerances</a>, here are some of the best nutrient-dense foods to help you meet your protein, carb, and fat needs:</p>

    <h2 class="text-2xl">Complete Protein Sources</h2>
    <div>
      {% render 'lazy-image',
        image: images['shutterstock_1043899834.jpg'],
        width: 1024,
      %}
    </div>

    <ul>
      <li>Chicken breast (skinless)</li>
      <li>Ground chicken</li>
      <li>Ground turkey (&gt;93% lean)</li>
      <li>Lean steak cuts</li>
      <li>Ground beef (&gt;93% lean)</li>
      <li>Ground bison</li>
      <li>Freshwater fish</li>
      <li>Eggs</li>
      <li>Plain Greek yogurt</li>
      <li>Cottage cheese</li>
      <li><a target="_blank" href="https://www.transparentlabs.com/products/protein-series-organic-vegan">TL Organic Vegan Protein</a></li>
      <li><a target="_blank" href="https://www.transparentlabs.com/products/proteinseries-100-grass-fed-whey-protein-isolate">TL Grass-fed Whey Protein</a></li>
      <li><a target="_blank" href="https://www.transparentlabs.com/products/proteinseries-100-grass-fed-casein-protein">TL Grass-fed Casein Protein</a></li>
    </ul>

    <p>Note: These may also count as fat sources (e.g. steak, whole eggs, and 4% cottage cheese)</p>

    <h2 class="text-2xl">Complex Carbohydrate Sources</h2>
    <div>
      {% render 'lazy-image',
        image: images['shutterstock_1168594204_2.jpg'],
        width: 1024,
      %}
    </div>

    <ul>
      <li>Rolled oats and oat bran</li>
      <li>Cream of Rice</li>
      <li>Cream of Wheat</li>
      <li>Potatoes (sweet, red-skin, etc.)</li>
      <li>Yams</li>
      <li>Rice and rice cakes</li>
      <li>Quinoa</li>
      <li>Barley</li>
      <li>Couscous</li>
      <li>Pasta (preferably whole-grain varieties)</li>
      <li>Bread (preferably whole-grain varieties)</li>
      <li>Fruits and vegetables (note: limit fruit to 3-4 servings per day)</li>
    </ul>

    <h2 class="text-2xl">Quality Fat Sources</h2>
    <div>
      {% render 'lazy-image',
        image: images['variety-of-brown-nuts-on-brown-wooden-panel-high-angle-photo-1295572.jpg'],
        width: 1024,
      %}
    </div>

    <ul>
      <li>Avocados</li>
      <li>Nuts: almonds, cashews, walnuts, macadamia nuts, etc.</li>
      <li>Nut butter: peanut butter, cashew butter, almond butter, etc.</li>
      <li>Seeds: chia, sesame, flax, pumpkin, etc.</li>
      <li>Coconut flakes (unsweetened) and coconut oil</li>
      <li>Olive oil, macadamia nut oil, and avocado oil</li>
      <li><a target="_blank" href="https://www.transparentlabs.com/products/coreseries-krill-oil" rel="noopener noreferrer">Krill oil</a> (great source of omega-3 phospholipids)</li>
      <li>Low-fat cheese (preferably fresh, aged varieties)</li>
    </ul>

    <h2 class="text-2xl">Sample Meal Plan for Building Muscle and Burning Body Fat</h2>
    <p>If you're curious what a balanced meal plan for active gym-goers might look like, here's an example:</p>

    <ul>
      <li><b>Breakfast</b> — Omelet made with 4 egg whites + 2 whole eggs, 3 slices of whole-grain toast, 1 cup of fresh blueberries</li>
      <li><b>Pre-workout Meal</b> — 5 oz roast turkey breast, 1 cup (cooked) brown rice, 150 g steamed spinach, 1 tbsp macadamia nut oil</li>
      <li><b>Post-workout Protein Smoothie</b> — 1 scoop of <a target="_blank" href="https://www.transparentlabs.com/products/proteinseries-100-grass-fed-whey-protein-isolate-5lbs">TL Grass-Fed Whey Protein Isolate vanilla flavor</a> blended with 8 fl. oz of skim milk and a large banana</li>
      <li><b>Dinner</b> — 5 ounces lean beef/steak, black beans, asparagus</li>
      <li><b>Evening Snack</b> — 1 scoop <a target="_blank" href="https://www.transparentlabs.com/collections/proteinseries/products/proteinseries-100-grass-fed-casein-protein">TL Grass-Fed Casein</a> mixed with 6 oz cottage cheese and 1 tbsp of almond butter</li>
    </ul>

    <p>Note: the amounts of each food are to illustrate portion sizes; you will need to adjust them accordingly since portions will be relative to your specific macronutrient needs.</p>

    <h2 class="text-2xl">Still Not Sure What to Eat to Reach Your Goals?</h2>
    <p>We have a variety of nutrition guides to help you make the most of your healthy lifestyle:</p>

    <p><a target="_blank" href="https://www.transparentlabs.com/blogs/all/guide-for-lean-bulking-how-to-build-muscle-without-gaining-fat">NUTRITION AND SUPPLEMENT GUIDE FOR LEAN BULKING</a></p>
    <p><a target="_blank" href="https://www.transparentlabs.com/blogs/all/powerlifting-diet-performance-nutrition-strength-athlete">POWERLIFTING DIET 101: PERFORMANCE NUTRITION FOR THE STRENGTH ATHLETE</a></p>
    <p><a target="_blank" href="https://www.transparentlabs.com/blogs/all/pre-workout-nutrition-how-to-fuel-your-body">EVIDENCE-BASED PRE-WORKOUT NUTRITION: WHAT'S THE OPTIMAL FUEL FOR YOUR BODY?</a></p>
    <p><a target="_blank" href="https://www.transparentlabs.com/blogs/all/clean-eating-vs-flexible-dieting-iifym-which-is-best-to-lose-weight-build-muscle">CLEAN EATING VS. FLEXIBLE DIETING (IIFYM): WHICH IS BEST TO LOSE WEIGHT &amp; BUILD MUSCLE?</a></p>
    <p><a target="_blank" href="https://www.transparentlabs.com/blogs/all/are-cheat-days-good-for-weight-loss">ARE CHEAT DAYS GOOD FOR WEIGHT LOSS?</a></p>
    <p><a target="_blank" href="https://www.transparentlabs.com/blogs/all/how-to-eat-healthier-on-a-limited-food-budget">HOW TO EAT HEALTHIER ON A LIMITED FOOD BUDGET</a></p>

  </div>
</div>

