{% assign sca_product = product -%}
{%- assign sca_product_id_text = ',' | append: sca_product.id | append: ',' -%}
{%- assign sca_price = sca_product.price -%}
{%- assign sca_price_min = sca_product.price_min -%}
{%- assign sca_price_max = sca_product.price_max -%}
{%- assign sca_compare_at_price = sca_product.compare_at_price -%}
{%- assign sca_compare_at_price_min = sca_product.compare_at_price_min -%}
{%- assign sca_compare_at_price_max = sca_product.compare_at_price_max -%}
{%- assign sca_product_available = sca_product.available -%}
{%- assign sca_product_variantCount = sca_product.variants.size -%}
{%- assign sca_compare_at_price_varies = sca_product.compare_at_price_varies -%}
{%- assign sca_price_varies = sca_product.price_varies -%}
{%- assign sca_has_only_default_variant = false -%}
{%- capture sca_product_variants_json %}{{sca_product.variants | json }}{% endcapture %}
{% capture sca_product_json %}{ {% if sca_all_gift_products_ids == null or sca_all_gift_products_ids contains sca_product_id_text %}{% assign sca_product_available = false %}{% assign sca_product_variantCount = 0 %}{% assign sca_has_only_default_variant = true %}{% assign sca_is_first_variant = true %}{% capture sca_variants_json %} [{% for variant in sca_product.variants %}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% unless variant.title contains '% Off' %}{% unless variant.metafields.shappify_qb.qb_hide == "1" %}{% unless variant.metafields.shappify_bundle.is_bundle == "true" %}{% unless variant.metafields.brodev_scn.hide == "true" %}{% unless variant.metafields.wholesaler2.wholesale %}{% unless variant.metafields.Wholesaler.level %}{% unless variant.title contains '(Wholesale' %}{% if sca_is_first_variant%} {{ variant | json }}{% assign sca_price = variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price_max = variant.price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% assign sca_product_available = variant.available %} {% assign sca_product_variantCount = 1 %} {% assign sca_is_first_variant = false%}{% else %},{{variant | json }} {% if sca_price_min >= variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price = variant.price %}{% endif %} {% if sca_price_max <= variant.price %} {% assign sca_price_max = variant.price %} {% endif %} {% if variant.compare_at_price %} {% if sca_compare_at_price_min==null or sca_compare_at_price_min >= variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% endif %} {% if sca_compare_at_price_max==null or sca_compare_at_price_max < variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% endif %} {% endif %} {% if variant.available == true %} {% assign sca_product_available = true %} {% endif %} {% assign sca_product_variantCount = sca_product_variantCount | plus: 1 %}{% endif %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{%endfor%} ]{% endcapture %}{% if sca_price_min < sca_price_max %}{% assign sca_price_varies = true %}{% else %}{% assign sca_price_varies = false %}{% endif %}{% if sca_compare_at_price_min < sca_compare_at_price_max %}{% assign sca_compare_at_price_varies = true %}{% else %}{% assign sca_compare_at_price_varies = false %}{% endif %}{% if sca_product_variantCount > 1 %}{% assign sca_has_only_default_variant = false %}{% endif %}{% if sca_product_variantCount == sca_product.variants.size %} "variants":{{ sca_product.variants }},{% else %}{%assign sca_product_variants_json = sca_variants_json %} "variants":{{ sca_variants_json }},{% endif %}{% else %} "variants":{{ sca_product_variants_json }},{% endif %} "id": {{sca_product.id}}, "title": {{sca_product.title | json}}, "handle": {{sca_product.handle | json}}, "description": {{sca_product.description | json}}, "published_at": "{{sca_product.published_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "created_at": "{{sca_product.created_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "vendor": {{sca_product.vendor | json}}, "type": {{sca_product.type | json}}, "tags": {{sca_product.tags | json}}, "price": {{sca_price}}, "price_min": {{sca_price_min}}, "price_max": {{sca_price_max}}, "available": {{sca_product.available}}, "price_varies": {{sca_price_varies}}, "compare_at_price": {{sca_compare_at_price}}, "compare_at_price_min": {{sca_compare_at_price_min}}, "compare_at_price_max": {{sca_compare_at_price_max}}, "compare_at_price_varies": {{sca_compare_at_price_varies}}, "images": {{sca_product.images | json}}, "featured_image": {{sca_product.featured_image | json }}, "options": {{sca_product.options | json}}, "media": {{sca_product.media | json }}, "content": {{sca_product.content | json }}} {% endcapture %}

{% assign current_variant = product.selected_or_first_available_variant %}

<span class="hidden" id="stack-name">{{ product.title }}</span>
<span class="hidden" id="stack-price">{{ sca_price }}</span>

<div class="max-w-7xl mx-auto mt-8 px-4 text-blue-500 lg:mt-0">
  <div class="mb-8 text-sm uppercase">
    <a class="transition-colors hover:text-orange-500" href="/"> HOME </a>
    {% if collection %}
      <span class="text-gray-400">/</span>
      <a class="transition-colors hover:text-orange-500" href="{{ collection.url }}">
        {{ collection.title }}
      </a>
    {% endif %}
    <span class="text-gray-400">/ {{ product.title }}</span>
  </div>

  <div class="gap-4 grid grid-cols-1 max-w-xl mb-8 mx-auto lg:gap-8 lg:grid-cols-2 lg:max-w-full xl:gap-16">
    <div>
      <div>
        {% render 'lazy-image', image: product.featured_image, width: 800 %}
      </div>
    </div>

    <div>
      <div class="space-y-3 md:space-y-6">
        <h1 class="text-blue-500 text-3xl md:text-5xl">
          {{ product.title }}
        </h1>

        {% if sca_price < sca_compare_at_price %}
          <div>
            <h3 class="font-semibold text-blue-400 mb-2 text-lg sm:text-xl md:text-2xl">
              {{ sca_price | money }}
              <s>{{ sca_compare_at_price | money }}</s>
            </h3>

            <p class="font-bold md:text-xl">Save {{ sca_compare_at_price | minus: sca_price | money }}</p>
          </div>
        {% else %}
          <h3 class="font-semibold text-blue-400 text-lg sm:text-xl md:text-2xl">
            {{ sca_price | money }}
          </h3>
        {% endif %}
      </div>

      <div class="bg-gray-300 mt-6 p-4 rounded-xl space-y-4 md:space-y-6">
        {% assign keys = 'prod_1;prod_2;prod_3;prod_4;prod_5;prod_6' | split: ';' %}

        {% for key in keys %}
          {% if product.metafields.stack_product[key] %}
            {% assign stack_product = product.metafields.stack_product[key].value %}

            <div>
              <p class="mb-2 text-sm">Select {{ stack_product.metafields.product_details.title }}</p>

              <custom-select>
                <div class="relative">
                  <button
                    aria-haspopup="listbox"
                    class="select"
                    type="button"
                  >
                    <div class="flex-1 text text-sm"></div>

                    <div class="ml-4 text-gray-500">
                      {% render 'icon-chevron-down' %}
                    </div>
                  </button>

                  <ul
                    class="select-list hidden opacity-0"
                    role="listbox"
                  >
                    {% for variant in stack_product.variants %}
                      {% unless variant.metafields.secomapp.freegifts %}
                        {% unless variant.title contains '(Freegifts)' %}
                          {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
                            {% continue %}
                          {% endif %}

                          {% if variant.available %}
                            <li
                              class="select-option"
                              data-value="{{ variant.id }}"
                              role="listitem"
                            >
                              {{ variant.title | replace: '/ 1 Tub', '' }}
                            </li>
                          {% endif %}
                        {% endunless %}
                      {% endunless %}
                    {% endfor %}
                  </ul>

                  <select
                    class="hidden stack-variant-selection"
                    data-price="{{ product.metafields.stack_product_price[key] }}"
                  >
                    {% for variant in stack_product.variants %}
                      {% unless variant.metafields.secomapp.freegifts %}
                        {% unless variant.title contains '(Freegifts)' %}
                          {% if variant.option2 == '2 Tub' or variant.option2 == '3 Tub' %}
                            {% continue %}
                          {% endif %}

                          {% if variant.available %}
                            <option
                              value="{{ variant.id }}"
                              {% if forloop.index0 == 0 %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ variant.title }}
                            </option>
                          {% endif %}
                        {% endunless %}
                      {% endunless %}
                    {% endfor %}
                  </select>
                </div>
              </custom-select>
            </div>
          {% endif %}
        {% endfor %}

        <div>
          <div class="flex items-end">
            {% comment %}
              <div class="mr-4 md:mr-16">
                <p class="font-semibold mb-2 text-blue-500 text-sm">
                  Select Quantity:
                </p>

                <quantity-input>
                  <div class="flex items-center text-blue-500">
                    <button
                      class="border-2 border-blue-500 flex h-10 items-center justify-center rounded-md transition-opacity w-10 hover:opacity-70"
                      type="button"
                    >
                      {% render 'icon-minus' %}
                    </button>

                    <input
                      class="border-0 bg-transparent hide-selectors outline-none text-center w-16"
                      min="1"
                      name="quantity"
                      readonly
                      type="number"
                      value="1"
                    />

                    <button
                      class="border-2 border-blue-500 flex h-10 items-center justify-center rounded-md transition-opacity w-10 hover:opacity-70"
                      type="button"
                    >
                      {% render 'icon-plus' %}
                    </button>
                  </div>
                </quantity-input>
              </div>
            {% endcomment %}

            <input type="hidden" name="quantity" value="1">

            <button
              class="button text-base w-full {% unless current_variant.available %}opacity-70{% endunless %}"
              id="add-to-cart-button"
              type="button"
            >
              {% if current_variant.available %}Add to Cart{% else %}Sold Out{% endif %}
            </button>
          </div>
          {% render 'wonderment-pdp-eta' %}
        </div>
      </div>
    </div>
  </div>
</div>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {% if seo_media -%}
        {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ seo_media | img_url: media_size | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
  {% unless variant.metafields.secomapp.freegifts %}
  {% unless variant.title contains '(Freegifts)' %}

          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
  {%endunless%}
  {%endunless%}
        {%- endfor -%}
      ]
    }
</script>
<style>
  #gorgias-chat-container {   	display: none !important;   }
</style>
