{{ 'latest-blog.css' | asset_url | stylesheet_tag }}
{{ 'latest-blog-article.css' | asset_url | stylesheet_tag }}
<style>
  
  @media only screen and (min-width: 0px) and (max-width: 767px){
  .blog-wraper .blog-column {    flex: 0 0 100%;    min-height: auto;}
  .xt-latest-blog {        padding: 0 0 40px 0px;}
  
  }
</style>
  {% assign blog_tag = false %}
  {% assign base_url =  canonical_url %}
  {% assign splitted_url = base_url | split: '/' %}
  {% for chunks_of_url in splitted_url %}
  {% if forloop.last %}
    {% assign new_chunk = chunks_of_url | split: '-' %}
    {% assign downcased_new_chunk = new_chunk[0] | downcase %}
    {% if downcased_new_chunk == 'tlb' %}
      {% assign blog_tag =  true %}
    {% else %}
      {% assign blog_tag =  false %}
    {% endif %}
    {% endif %}
{% endfor %}




{% if blog_tag == true %}
  {% paginate blog.articles by 17 %}
  <!-- featured layout      -->
  <div class="xt-latest-blog">
    <div class="max-w-7xl mx-auto px-4">
    <div class="bread-audio">
    
    {% render 'breadcrumb' %}
    
    </div>
      <h2 class="title">{{ block.settings.block_heading }}</h2>
      <div class="blog-wraper">
      {% for article in blog.articles limit:1 %}
        {% if forloop.index == 1 %}
           <div class="blog-column single featured">
              <div class="blog-item">
                <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                <div class="blog-item-desc">
                  <h2>{{ article.title}}</h2>
            
                  <div class="author-wraper">
                    <div class="author-img" style="background:#41b5e8;">
                       <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy">
                    </div>
                    <div class="author-text">
                      <h4>{{ article.author}}</h4>
                      <span>M.S.(C), CISSN, CNC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
           <div class="blog-column">
          {% for article in blog.articles limit:3 %}
             {% if forloop.index == 2 or forloop.index == 3 %}
              <div class="blog-item" >
                <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                <div class="blog-item-desc">
                  <h2>{{ article.title}}</h2>
                   {% if section.settings.hide_info ==  true %}
                  <div class="author-wraper">
                    <div class="author-img" style="background:#41b5e8;">
                       <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                    </div>
                    <div class="author-text">
                      <h4>{{ article.author}}</h4>
                      <span>M.S.(C), CISSN, CNC</span>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
               {% endif %}
            {% endfor %}
             </div>
         <div class="blog-column">
          {% for article in blog.articles limit:5 %}
            {% if forloop.index == 4 or forloop.index == 5 %}
              <div class="blog-item" >
                <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                <div class="blog-item-desc">
                  <h2>{{ article.title}}</h2>
                  {% if section.settings.hide_info ==  true %}
                  <div class="author-wraper">
                    <div class="author-img" style="background:#41b5e8;">
                       <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article Author Image {{ forloop.index }}{% endif %}" loading="lazy" />
                    </div>
                    <div class="author-text">
                      <h4>{{ article.author}}</h4>
                      <span>M.S.(C), CISSN, CNC</span>
                    </div>
                  </div>
                    {% endif %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
            {% for article in blog.articles %}
              {% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 or forloop.index == 4 or forloop.index == 5 %}
                {% else %}
                <div class="blog-column">
                 <div class="blog-item" >
                <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                <div class="blog-item-desc">
                  <h2>{{ article.title}}</h2>
                 {% if section.settings.hide_info ==  true %}
                  <div class="author-wraper">
                    <div class="author-img" style="background:#41b5e8;">
                       <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article Author Image {{ forloop.index }}{% endif %}" loading="lazy" />
                    </div>
                    <div class="author-text">
                      <h4>{{ article.author}}</h4>
                      <span>M.S.(C), CISSN, CNC</span>
                    </div>
                  </div>
                   {% endif %}
                </div>
              </div>
                </div>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      <div class="pagination-wrapper">
      {%- if paginate.pages > 1 -%}
        <nav role="navigation">
          <ol class="pagination">
            {%- if paginate.previous-%}
              <li>
                <a href="{{ paginate.previous.url }}">
                  <span style="font-size:25px;" aria-hidden="true">&#8249;</span>
                  <span class="visuallyhidden">page</span>
                </a>
              </li>
            {%- else -%}
              <li class="disabled">
                <span style="font-size:25px;" aria-hidden="true">&#8249;</span>
                 <span class="visuallyhidden">page</span>
              </li>
            {%- endif -%}
    
            {%- for part in paginate.parts -%}
              {%- if part.is_link -%}
                <li>
                  <a href="{{ part.url }}">
                    <span class="visuallyhidden">page</span> {{ part.title }}
                  </a>
                </li>
              {%- else -%}
                {%- if part.title == paginate.current_page -%}
                  <li class="active" aria-current="page">
                    <span class="visuallyhidden">page</span> {{ part.title }}
                  </li>
                {%- else -%}
                  <li>
                    <span class="visuallyhidden">page</span> {{ part.title }}
                  </li>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
    
            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}">
                  <span class="visuallyhidden">page</span>
                  <span style="font-size:25px;" aria-hidden="true">&#8250;</span>
                </a>
              </li>
            {%- else -%}
              <li class="disabled">
                 <span class="visuallyhidden">page</span>
                <span style="font-size:25px;" aria-hidden="true">&#8250;</span>
              </li>
            {%- endif -%}
          </ol>
        </nav>
        {%- endif -%}
      </div>
    </div>
  {% endpaginate %}
{% else %}

  
<!--   show another layout -->
{% for block in section.blocks %}
  {% assign view_as = block.settings.layout %}
  {% assign tag = block.settings.view_all_tags | strip %}
  {% assign title = block.settings.block_heading %}

  {% if view_as == "featured" %}
    <!-- featured layout      -->
    <div class="xt-latest-blog tl_desktop" {% if title == 'All' or title == 'all' %} style="display:none;" {% endif %}>
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="title">{{ block.settings.block_heading }}</h2>
        <div class="blog-wraper">
          {% assign count = 1 %}
          {% for article in blog.articles %}
            {% if article.tags contains tag %}
              {% if count == 1 %}
                <div class="blog-column single featured">
                  <div class="blog-item">
                    <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title}}</h2>
                      {% if section.settings.hide_info ==  true %}
                      <div class="author-wraper">
                        <div class="author-img" style="background:#41b5e8;">
                           <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                        </div>
                        <div class="author-text">
                          <h4>{{ article.author}}</h4>
                          <span>M.S.(C), CISSN, CNC</span>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
          
          <div class="blog-column">
            {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 2 or count == 3 %}
                  <div class="blog-item" >
                    <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title}}</h2>
                    {% if section.settings.hide_info ==  true %}
                      <div class="author-wraper">
                        <div class="author-img" style="background:#41b5e8;">
                           <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article Author Image {{ forloop.index }}{% endif %}" loading="lazy" />
                        </div>
                        <div class="author-text">
                          <h4>{{ article.author}}</h4>
                          <span>M.S.(C), CISSN, CNC</span>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
                 {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
          </div>
         <div class="blog-column">
          {% assign count = 1 %}
          {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 4 %}
                      
                        <div class="blog-item">
                          <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                          <div class="blog-item-desc">
                            <h2>{{ article.title}}</h2>
                            {% if section.settings.hide_info ==  true %}
                              <div class="author-wraper">
                                <div class="author-img" style="background:#41b5e8;">
                                   <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article Author Image {{ forloop.index }}{% endif %}" loading="lazy" />
                                </div>
                                <div class="author-text">
                                  <h4>{{ article.author}}</h4>
                                  <span>M.S.(C), CISSN, CNC</span>
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                     
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
      
                <div class="blog-item last-blog">
                  {% if block.settings.view_all_bg != blank %}
                        <div class="blog-img" style="background:url('{{ block.settings.view_all_bg | img_url: "master" }}')"></div>  
                  {% else %}
                      <div class="blog-img" style="background:url('https://s3-alpha-sig.figma.com/img/32ff/9bea/6012fe18f6995600ad1b4dd062ea0be8?Expires=1664755200&Signature=dM1q7nsHpL2pCXchG-y1tfD98TQvLqe~qKn9BB3g1zlCGCNgdG44qqco3ViR-JrN34dSHx8eemcidMxGZfBsdqRMBIt5XzRJZ9Igqnb7B8s4iWQRBlzq1fznD5~to0aYOSkGxl8wFgtcDKKQnIU3M~bLvogKD35hyZ4NS0YG9EFYEIr2VHnDMXBmGK6wgyMRZsvfVst9rpe80yFCccCl6EusZ~ehczIDMNoXpHvnbZ5v1FtTJ1oIwwLaaxKwlNnGQdh49at21L40biNbsahqMngMqoBX3Up2YypS6~2Jljzrsr4MwDO~BVzjNJd21XrDPHbU4vpS3VdVQEjQWCwS1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')"></div>  
                  {% endif %}
                {% if title == 'All' or title == 'all' %}
                  <a class="last-block" href="{{block.settings.view_all_link}}" >
                        <h3> View more</h3>
                  </a>
                  {% else %}
                  <a class="last-block" href="{{block.settings.view_all_link}}/tagged/{{block.settings.view_all_tags}}" >
                        <h3> View more</h3>
                  </a>
                  {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  {% elsif view_as == "reverse" %}
    <!-- reverse layout      -->
    <div class="xt-latest-blog tl_desktop"  {% if title == 'All' or title == 'all' %} style="display:none;" {% endif %}>
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="title">{{ block.settings.block_heading }}</h2>
        <div class="blog-wraper">
         
          <div class="blog-column">
          {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 1 or count == 2 %}
                   <div class="blog-item">
                      <a class="blog-img"  href="{{ article.url}}"  style="background:url('{{ article.image | img_url: "master" }}')"></a>
                      <div class="blog-item-desc">
                        <h2>{{ article.title}}</h2>
                        {% if section.settings.hide_info ==  true %}
                        <div class="author-wraper">
                          <div class="author-img" style="background:#41b5e8;">
                             <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                          </div>
                          <div class="author-text">
                            <h4>{{ article.author}}</h4>
                            <span>M.S.(C), CISSN, CNC</span>
                          </div>
                        </div>
                          {% endif %}
                      </div>
                    </div>
                  {% endif %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
          </div>
          {% assign count = 1 %}
             {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 3 %}
                  <div class="blog-column single">
                    <div class="blog-item">
                      <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                      <div class="blog-item-desc">
                        <h2>{{ article.title}}</h2>
                        {% if section.settings.hide_info ==  true %}
                        <div class="author-wraper">
                          <div class="author-img" style="background:#41b5e8;">
                             <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                          </div>
                          <div class="author-text">
                            <h4>{{ article.author}}</h4>
                            <span>M.S.(C), CISSN, CNC</span>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
          
          <div class="blog-column">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 4 or count == 5 %}
                      <div class="blog-item">
                        <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                        <div class="blog-item-desc">
                          <h2>{{ article.title}}</h2>
                          {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author}}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
          </div>
        
          <div class="blog-column">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 6 %}
                      <div class="blog-item">
                        <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                        <div class="blog-item-desc">
                          <h2>{{ article.title}}</h2>
                        {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author}}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                {% endif %}
                  {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
      
            <div class="blog-item last-blog">
                {% if block.settings.view_all_bg != blank %}
                      <div class="blog-img" style="background:url('{{ block.settings.view_all_bg | img_url: "master" }}')"></div>  
                {% else %}
                  <div class="blog-img" style="background:url('https://s3-alpha-sig.figma.com/img/32ff/9bea/6012fe18f6995600ad1b4dd062ea0be8?Expires=1664755200&Signature=dM1q7nsHpL2pCXchG-y1tfD98TQvLqe~qKn9BB3g1zlCGCNgdG44qqco3ViR-JrN34dSHx8eemcidMxGZfBsdqRMBIt5XzRJZ9Igqnb7B8s4iWQRBlzq1fznD5~to0aYOSkGxl8wFgtcDKKQnIU3M~bLvogKD35hyZ4NS0YG9EFYEIr2VHnDMXBmGK6wgyMRZsvfVst9rpe80yFCccCl6EusZ~ehczIDMNoXpHvnbZ5v1FtTJ1oIwwLaaxKwlNnGQdh49at21L40biNbsahqMngMqoBX3Up2YypS6~2Jljzrsr4MwDO~BVzjNJd21XrDPHbU4vpS3VdVQEjQWCwS1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')"></div>  
                {% endif %}
                 {% if title == 'All' or title == 'all' %}
                  <a class="last-block" href="{{block.settings.view_all_link}}" >
                        <h3> View more</h3>
                  </a>
                  {% else %}
                  <a class="last-block" href="{{block.settings.view_all_link}}/tagged/{{block.settings.view_all_tags}}" >
                        <h3> View more</h3>
                  </a>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <!-- normal layout      -->
    
    <div class="xt-latest-blog tl_desktop"  {% if title == 'All' or title == 'all' %} style="display:none;" {% endif %}>
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="title">{{ block.settings.block_heading }}</h2>
        <div class="blog-wraper">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 1 %}
                      <div class="blog-column single">
                        <div class="blog-item">
                          <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                          <div class="blog-item-desc">
                            <h2>{{ article.title }}</h2>
                            {% if section.settings.hide_info ==  true %}
                            <div class="author-wraper">
                              <div class="author-img" style="background:#41b5e8;">
                                 <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                              </div>
                              <div class="author-text">
                                <h4>{{ article.author }}</h4>
                                <span>M.S.(C), CISSN, CNC</span>
                              </div>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
    
          <div class="blog-column">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 2 or count == 3 %}
                      <div class="blog-item">
                        <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                        <div class="blog-item-desc">
                          <h2>{{ article.title }}</h2>
                          {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author }}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                            {% endif %}
                        </div>
                      </div>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
          </div>
    
          {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 4 %}
                  <div class="blog-column single">
                    <div class="blog-item">
                      <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                      <div class="blog-item-desc">
                        <h2>{{ article.title }}</h2>
                        {% if section.settings.hide_info ==  true %}
                        <div class="author-wraper">
                          <div class="author-img" style="background:#41b5e8;">
                             <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                          </div>
                          <div class="author-text">
                            <h4>{{ article.author }}</h4>
                            <span>M.S.(C), CISSN, CNC</span>
                          </div>
                        </div>
                          {% endif %}
                      </div>
                    </div>
                  </div>
              {% endif %}
                {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
    
          
          <div class="blog-column">
            {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 5 %}
                  <div class="blog-item">
                    <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title }}</h2>
                        {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author }}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
      
            <div class="blog-item last-blog">
                  {% if block.settings.view_all_bg != blank %}
                      <div class="blog-img" style="background:url('{{ block.settings.view_all_bg | img_url: "master" }}')"></div>  
                  {% else %}
                    <div class="blog-img" style="background:url('https://s3-alpha-sig.figma.com/img/32ff/9bea/6012fe18f6995600ad1b4dd062ea0be8?Expires=1664755200&Signature=dM1q7nsHpL2pCXchG-y1tfD98TQvLqe~qKn9BB3g1zlCGCNgdG44qqco3ViR-JrN34dSHx8eemcidMxGZfBsdqRMBIt5XzRJZ9Igqnb7B8s4iWQRBlzq1fznD5~to0aYOSkGxl8wFgtcDKKQnIU3M~bLvogKD35hyZ4NS0YG9EFYEIr2VHnDMXBmGK6wgyMRZsvfVst9rpe80yFCccCl6EusZ~ehczIDMNoXpHvnbZ5v1FtTJ1oIwwLaaxKwlNnGQdh49at21L40biNbsahqMngMqoBX3Up2YypS6~2Jljzrsr4MwDO~BVzjNJd21XrDPHbU4vpS3VdVQEjQWCwS1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')"></div>  
                  {% endif %}
                   {% if title == 'All' or title == 'all' %}
                  <a class="last-block" href="{{block.settings.view_all_link}}" >
                        <h3> View more</h3>
                  </a>
                  {% else %}
                  <a class="last-block" href="{{block.settings.view_all_link}}/tagged/{{block.settings.view_all_tags}}" >
                        <h3> View more</h3>
                  </a>
                  {% endif %}
            </div>
          </div>
    
          
        </div>
      </div>
    </div>
      
  {% endif %}
{% endfor %}

<!-- mobile  -->
<div class="max-w-7xl mx-auto px-4 tl_mobile">
<div class="tltab">
  
  {% for block in section.blocks %}
  {% if forloop.index == 1 %}
    <button class="tltablinks" onclick="openCity(event, 'tab_{{ forloop.index }}')" id="defaultOpen">{{ block.settings.block_heading }}</button>  
    {% else %}
      <button class="tltablinks" onclick="openCity(event, 'tab_{{ forloop.index }}')">{{ block.settings.block_heading }}</button>
    {% endif %}
  {% endfor %}
  </div>

{% for block in section.blocks %}
  <div id="tab_{{ forloop.index }}" class="tltabcontent">
    {% assign view_as = block.settings.layout %}
    {% assign title = block.settings.block_heading %}
    {% assign tag = block.settings.view_all_tags | strip %}
    {% if tag == blank %}
      {% assign tag = 'all' %}
      {% endif %}

     {% if view_as == "featured" %}
    <!-- featured layout      -->
    <div class="xt-latest-blog ">
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="title">{{ block.settings.block_heading }}</h2>
        <div class="blog-wraper">
         {% if title == 'All' or title == 'all' %} 
          {% for article in blog.articles limit: 4 %}
                <div class="blog-column ">
                  <div class="blog-item">
                    <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title}}</h2>
                      {% if section.settings.hide_info ==  true %}
                      <div class="author-wraper">
                        <div class="author-img" style="background:#41b5e8;">
                           <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                        </div>
                        <div class="author-text">
                          <h4>{{ article.author}}</h4>
                          <span>M.S.(C), CISSN, CNC</span>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
          {% endfor %}
            <div class="blog-column ">
             <div class="blog-item last-blog">
                    <div class="blog-img" style="background:url('https://cdn.shopify.com/s/files/1/0866/7664/articles/TL_Blog_Template_30_1200x1200.png?v=1655416126')"></div>  
                    <a class="last-block" href="{{block.settings.view_all_link}}" >
                          <h3> View more</h3>
                    </a>
                    
                </div>
            </div>
           {% else %}

   {% assign count = 1 %}
          {% for article in blog.articles %}
            {% if article.tags contains tag %}
              {% if count == 1 %}
                <div class="blog-column single featured">
                  <div class="blog-item">
                    <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title}}</h2>
                      {% if section.settings.hide_info ==  true %}
                      <div class="author-wraper">
                        <div class="author-img" style="background:#41b5e8;">
                           <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                        </div>
                        <div class="author-text">
                          <h4>{{ article.author}}</h4>
                          <span>M.S.(C), CISSN, CNC</span>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
          
          <div class="blog-column">
            {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 2 or count == 3 %}
                  <div class="blog-item" >
                    <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title}}</h2>
                    {% if section.settings.hide_info ==  true %}
                      <div class="author-wraper">
                        <div class="author-img" style="background:#41b5e8;">
                           <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                        </div>
                        <div class="author-text">
                          <h4>{{ article.author}}</h4>
                          <span>M.S.(C), CISSN, CNC</span>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
                 {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
          </div>
         <div class="blog-column">
          {% assign count = 1 %}
          {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 4 %}
                      
                        <div class="blog-item">
                          <a class="blog-img" href="{{ article.url}}" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                          <div class="blog-item-desc">
                            <h2>{{ article.title}}</h2>
                            {% if section.settings.hide_info ==  true %}
                              <div class="author-wraper">
                                <div class="author-img" style="background:#41b5e8;">
                                   <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                                </div>
                                <div class="author-text">
                                  <h4>{{ article.author}}</h4>
                                  <span>M.S.(C), CISSN, CNC</span>
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                     
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
      
                <div class="blog-item last-blog">
                  {% if block.settings.view_all_bg != blank %}
                        <div class="blog-img" style="background:url('{{ block.settings.view_all_bg | img_url: "master" }}')"></div>  
                  {% else %}
                      <div class="blog-img" style="background:url('https://s3-alpha-sig.figma.com/img/32ff/9bea/6012fe18f6995600ad1b4dd062ea0be8?Expires=1664755200&Signature=dM1q7nsHpL2pCXchG-y1tfD98TQvLqe~qKn9BB3g1zlCGCNgdG44qqco3ViR-JrN34dSHx8eemcidMxGZfBsdqRMBIt5XzRJZ9Igqnb7B8s4iWQRBlzq1fznD5~to0aYOSkGxl8wFgtcDKKQnIU3M~bLvogKD35hyZ4NS0YG9EFYEIr2VHnDMXBmGK6wgyMRZsvfVst9rpe80yFCccCl6EusZ~ehczIDMNoXpHvnbZ5v1FtTJ1oIwwLaaxKwlNnGQdh49at21L40biNbsahqMngMqoBX3Up2YypS6~2Jljzrsr4MwDO~BVzjNJd21XrDPHbU4vpS3VdVQEjQWCwS1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')"></div>  
                  {% endif %}
                   {% if title == 'All' or title == 'all' %}
                  <a class="last-block" href="{{block.settings.view_all_link}}" >
                        <h3> View more</h3>
                  </a>
                  {% else %}
                  <a class="last-block" href="{{block.settings.view_all_link}}/tagged/{{block.settings.view_all_tags}}" >
                        <h3> View more</h3>
                  </a>
                  {% endif %}
              </div>
       
          
           {% endif %}
       
          </div>
        </div>
      </div>
    </div>
  {% elsif view_as == "reverse" %}
    <!-- reverse layout      -->
    <div class="xt-latest-blog tl_desktop"  {% if title == 'All' or title == 'all' %} style="display:none;" {% endif %}>
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="title">{{ block.settings.block_heading }}</h2>
        <div class="blog-wraper">
         
          <div class="blog-column">
          {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 1 or count == 2 %}
                   <div class="blog-item">
                      <a class="blog-img"  href="{{ article.url}}"  style="background:url('{{ article.image | img_url: "master" }}')"></a>
                      <div class="blog-item-desc">
                        <h2>{{ article.title}}</h2>
                        {% if section.settings.hide_info ==  true %}
                        <div class="author-wraper">
                          <div class="author-img" style="background:#41b5e8;">
                             <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                          </div>
                          <div class="author-text">
                            <h4>{{ article.author}}</h4>
                            <span>M.S.(C), CISSN, CNC</span>
                          </div>
                        </div>
                          {% endif %}
                      </div>
                    </div>
                  {% endif %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
          </div>
          {% assign count = 1 %}
             {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 3 %}
                  <div class="blog-column single">
                    <div class="blog-item">
                      <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                      <div class="blog-item-desc">
                        <h2>{{ article.title}}</h2>
                        {% if section.settings.hide_info ==  true %}
                        <div class="author-wraper">
                          <div class="author-img" style="background:#41b5e8;">
                             <img src="{{ article.user.image | img_url: 'master' }}" />
                          </div>
                          <div class="author-text">
                            <h4>{{ article.author}}</h4>
                            <span>M.S.(C), CISSN, CNC</span>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
          
          <div class="blog-column">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 4 or count == 5 %}
                      <div class="blog-item">
                        <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                        <div class="blog-item-desc">
                          <h2>{{ article.title}}</h2>
                          {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author}}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
          </div>
        
          <div class="blog-column">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 6 %}
                      <div class="blog-item">
                        <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                        <div class="blog-item-desc">
                          <h2>{{ article.title}}</h2>
                        {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author}}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                {% endif %}
                  {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
      
            <div class="blog-item last-blog">
                {% if block.settings.view_all_bg != blank %}
                      <div class="blog-img" style="background:url('{{ block.settings.view_all_bg | img_url: "master" }}')"></div>  
                {% else %}
                  <div class="blog-img" style="background:url('https://s3-alpha-sig.figma.com/img/32ff/9bea/6012fe18f6995600ad1b4dd062ea0be8?Expires=1664755200&Signature=dM1q7nsHpL2pCXchG-y1tfD98TQvLqe~qKn9BB3g1zlCGCNgdG44qqco3ViR-JrN34dSHx8eemcidMxGZfBsdqRMBIt5XzRJZ9Igqnb7B8s4iWQRBlzq1fznD5~to0aYOSkGxl8wFgtcDKKQnIU3M~bLvogKD35hyZ4NS0YG9EFYEIr2VHnDMXBmGK6wgyMRZsvfVst9rpe80yFCccCl6EusZ~ehczIDMNoXpHvnbZ5v1FtTJ1oIwwLaaxKwlNnGQdh49at21L40biNbsahqMngMqoBX3Up2YypS6~2Jljzrsr4MwDO~BVzjNJd21XrDPHbU4vpS3VdVQEjQWCwS1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')"></div>  
                {% endif %}
                 {% if title == 'All' or title == 'all' %}
                  <a class="last-block" href="{{block.settings.view_all_link}}" >
                        <h3> View more</h3>
                  </a>
                  {% else %}
                  <a class="last-block" href="{{block.settings.view_all_link}}/tagged/{{block.settings.view_all_tags}}" >
                        <h3> View more</h3>
                  </a>
                  {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <!-- normal layout      -->
    
    <div class="xt-latest-blog tl_desktop"  {% if title == 'All' or title == 'all' %} style="display:none;" {% endif %}>
      <div class="max-w-7xl mx-auto px-4">
        <h2 class="title">{{ block.settings.block_heading }}</h2>
        <div class="blog-wraper">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 1 %}
                      <div class="blog-column single">
                        <div class="blog-item">
                          <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                          <div class="blog-item-desc">
                            <h2>{{ article.title }}</h2>
                            {% if section.settings.hide_info ==  true %}
                            <div class="author-wraper">
                              <div class="author-img" style="background:#41b5e8;">
                                 <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                              </div>
                              <div class="author-text">
                                <h4>{{ article.author }}</h4>
                                <span>M.S.(C), CISSN, CNC</span>
                              </div>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
    
          <div class="blog-column">
            {% assign count = 1 %}
               {% for article in blog.articles %}
                  {% if article.tags contains tag %}
                    {% if count == 2 or count == 3 %}
                      <div class="blog-item">
                        <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                        <div class="blog-item-desc">
                          <h2>{{ article.title }}</h2>
                          {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author }}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                            {% endif %}
                        </div>
                      </div>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                  {% endif %}
                {% endfor %}
          </div>
    
          {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 4 %}
                  <div class="blog-column single">
                    <div class="blog-item">
                      <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                      <div class="blog-item-desc">
                        <h2>{{ article.title }}</h2>
                        {% if section.settings.hide_info ==  true %}
                        <div class="author-wraper">
                          <div class="author-img" style="background:#41b5e8;">
                             <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                          </div>
                          <div class="author-text">
                            <h4>{{ article.author }}</h4>
                            <span>M.S.(C), CISSN, CNC</span>
                          </div>
                        </div>
                          {% endif %}
                      </div>
                    </div>
                  </div>
              {% endif %}
                {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
    
          
          <div class="blog-column">
            {% assign count = 1 %}
            {% for article in blog.articles %}
              {% if article.tags contains tag %}
                {% if count == 5 %}
                  <div class="blog-item">
                    <a  href="{{ article.url}}"  class="blog-img" style="background:url('{{ article.image | img_url: "master" }}')"></a>
                    <div class="blog-item-desc">
                      <h2>{{ article.title }}</h2>
                        {% if section.settings.hide_info ==  true %}
                          <div class="author-wraper">
                            <div class="author-img" style="background:#41b5e8;">
                               <img src="{{ article.user.image | img_url: 'master' }}" alt="{% if article.user.image.alt %}{{ article.user.image.alt }}{% else %}Article User Image {{ forloop.index }}{% endif %}" loading="lazy" />
                            </div>
                            <div class="author-text">
                              <h4>{{ article.author }}</h4>
                              <span>M.S.(C), CISSN, CNC</span>
                            </div>
                          </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
      
            <div class="blog-item last-blog">
                  {% if block.settings.view_all_bg != blank %}
                      <div class="blog-img" style="background:url('{{ block.settings.view_all_bg | img_url: "master" }}')"></div>  
                  {% else %}
                    <div class="blog-img" style="background:url('https://s3-alpha-sig.figma.com/img/32ff/9bea/6012fe18f6995600ad1b4dd062ea0be8?Expires=1664755200&Signature=dM1q7nsHpL2pCXchG-y1tfD98TQvLqe~qKn9BB3g1zlCGCNgdG44qqco3ViR-JrN34dSHx8eemcidMxGZfBsdqRMBIt5XzRJZ9Igqnb7B8s4iWQRBlzq1fznD5~to0aYOSkGxl8wFgtcDKKQnIU3M~bLvogKD35hyZ4NS0YG9EFYEIr2VHnDMXBmGK6wgyMRZsvfVst9rpe80yFCccCl6EusZ~ehczIDMNoXpHvnbZ5v1FtTJ1oIwwLaaxKwlNnGQdh49at21L40biNbsahqMngMqoBX3Up2YypS6~2Jljzrsr4MwDO~BVzjNJd21XrDPHbU4vpS3VdVQEjQWCwS1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA')"></div>  
                  {% endif %}
                   {% if title == 'All' or title == 'all' %}
                  <a class="last-block" href="{{block.settings.view_all_link}}" >
                        <h3> View more</h3>
                  </a>
                  {% else %}
                  <a class="last-block" href="{{block.settings.view_all_link}}/tagged/{{block.settings.view_all_tags}}" >
                        <h3> View more</h3>
                  </a>
                  {% endif %}
            </div>
          </div>
    
          
        </div>
      </div>
    </div>
      
  {% endif %}
  </div>
{% endfor %}

</div>


{% endif %}

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tltabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tltablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
<!-- End blog template  -->
{% schema %}
{
  "blocks": [
    {
      "limit": 15,
      "name": "Blog section",
      "settings": [
        {
          "id": "block_heading",
          "label": "Block heading",
          "type": "text",
          "default":"Nutrition"
        },
        {
           "type":"radio",
           "id":"layout",
           "label":"View as",
           "options": [
             { "value": "normal", "label": "normal view" },
             { "value": "reverse", "label": "reverse view" },
             { "value": "featured", "label": "featured view" }
           ],
           "default":   "normal"
          },
          {
            "content": "View all details",
            "type": "header"
          },
          {
            "id": "view_all_link",
            "label": "View all link",
            "type": "url"
          },
          {
            "id": "view_all_tags",
            "label": "Article tagged by",
            "type": "text"
          },
          {
            "id": "view_all_bg",
            "label": "View all background image",
            "type": "image_picker"
          }
      ],
      "type": "Blog_section"
    }
  ],
  "name": "Latest Blog Template",
  "settings": [
    {
      "content": "Featured Article",
      "type": "header"
    },
    {
        "id": "hide_info",
        "label": "hide author information",
        "type": "checkbox",
        "default":true
    }
    
  ],
  "presets":[
      {
        "name": "Latest Blog Template"
      }
    ]
}
{% endschema %}
