<style>
  .ing-imges{}
</style>
<div class="max-w-7xl mt-12 mx-auto px-5 md:mt-16 xl:mt-32 xl:px-4">
  <div class="grid grid-cols-1 xl:gap-8 xl:grid-cols-3">
    <div class="col-span-2 relative">
      <custom-tabs data-mode="alt">
        <div aria-label="Details" class="hidden border-b border-gray-400 space-x-8 md:flex" role="tablist">
          <button aria-controls="overview-tab-panel" aria-selected="true" class="border-b-2 border-blue-light font-bold pb-3 transition-colors" id="overview-tab" role="tab">
            Overview
          </button>
          {% if template != 'product.asrv' %}
          <button aria-controls="ingredients-tab-panel" aria-selected="false" class="border-b-2 border-transparent font-bold pb-3 transition-colors" id="ingredients-tab" role="tab">
            Ingredients
          </button>
          <button aria-controls="htu-tab-panel" aria-selected="false" class="border-b-2 border-transparent font-bold pb-3 transition-colors" id="htu-tab" role="tab">
            How To Use
          </button>
          <button aria-controls="reviews-tab-panel" aria-selected="false" class="border-b-2 border-transparent font-bold pb-3 transition-colors" id="reviews-tab" role="tab">
            Reviews
          </button>
          <button aria-controls="faq-tab-panel" aria-selected="false" class="border-b-2 border-transparent font-bold pb-3 transition-colors" id="faq-tab" role="tab">
            FAQs
          </button>
          {% endif %}
          
        </div>

        <button aria-controls="overview-tab-panel" class="accordion-tab border-t border-[#F0F0F0] flex justify-between py-3 w-full md:hidden" type="button">
          <span class="font-bold">Overview</span>
          {% render 'icon-chevron-down' %}
        </button>

        <div aria-labelledby="overview-tab" class="hidden py-6 md:pb-0" id="overview-tab-panel" role="tabpanel" tabindex="0">
          <div class="text-gray-500">
            {% if product.metafields.custom.product_overview_detail != blank %}
              {{ product.metafields.custom.product_overview_detail }}
            {% else %}
              {{ section.settings.overview }}
            {% endif %}
          </div>
          <div class="gap-4 flex flex-col mt-4 uppercase md:gap-8 md:grid md:grid-flow-col md:auto-cols-fr">
            {%- if section.settings.no_sweetners -%}
              <div class="flex items-center">
                <div class="">
                  {% render 'no-sweeteners-icon' %}
                </div>
                <p class="font-bold ml-3 text-xs">No Artificial Sweeteners</p>
              </div>
            {%- endif -%}
            {%- if section.settings.no_artificial_coloring -%}
              <div class="flex items-center">
                <div class="">
                  {% render 'no-artificial-coloring-icon' %}
                </div>
                <p class="font-bold ml-3 text-xs">No Artificial Coloring</p>
              </div>
            {%- endif -%}
            {%- if section.settings.gluten_free -%}
              <div class="flex items-center">
                <div class="">
                  {% render 'gluten-free-icon' %}
                </div>
                <p class="font-bold ml-3 text-xs">Gluten-Free and Non-GMO</p>
              </div>
            {%- endif -%}
            {%- if section.settings.no_preservatives -%}
              <div class="flex items-center">
                <div class="">
                  {% render 'no-preservatives-icon' %}
                </div>
                <p class="font-bold ml-3 text-xs">No Artificial Preservatives</p>
              </div>
            {%- endif -%}
          </div>
        </div>
      {% if template != 'product.asrv' %}
        <button aria-controls="ingredients-tab-panel" class="accordion-tab border-t border-[#F0F0F0] flex justify-between py-3 w-full md:hidden" type="button">
          <span class="font-bold">Ingredients</span>
          {% render 'icon-chevron-down' %}
        </button>
        <div aria-labelledby="ingredients-tab" class="hidden py-6 md:pb-0" id="ingredients-tab-panel" role="tabpanel" tabindex="0">
          <div class="gap-8 grid grid-cols-1 md:grid-cols-2">
            <div>
              <div class="space-y-4" id="ingredients-content"></div>
              <button class="button-alt mt-4 w-full" id="view-more-ingredients" type="button">
                View More Ingredients
              </button>
            </div>

            <div class="ing-imges">
              {%- if product.metafields.product_details.sfp -%}
                <div class="max-w-sm mx-auto" id="main-product-sfp">
                  {% render 'lazy-image',
                    image: product.metafields.product_details.sfp.value,
                    width: 400
                  %}
                </div>
              {%- endif -%}

              {%- for variant in product.variants -%}
                {%- if variant.metafields.product_details.sfp -%}
                  
                    <div class="hidden  max-w-sm mx-auto" data-variant-sfp="{{ variant.id }}">
                    {% render 'lazy-image',
                      image: variant.metafields.product_details.sfp.value,
                      width: 400
                    %}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
        <button aria-controls="htu-tab-panel" class="accordion-tab border-t border-[#F0F0F0] flex justify-between py-3 w-full md:hidden" type="button">
          <span class="font-bold">How To Use</span>
          {% render 'icon-chevron-down' %}
        </button>
        <div aria-labelledby="htu-tab" class="hidden py-6 md:pb-0" id="htu-tab-panel" role="tabpanel" tabindex="0" >
          {% if product.metafields.custom.how_to_use != blank %}
            {{ product.metafields.custom.how_to_use }}
          {% else %}
            Not available
          {% endif %}
        </div>

        <button aria-controls="reviews-tab-panel" class="accordion-tab border-t border-[#F0F0F0] flex justify-between py-3 w-full md:hidden" type="button">
          <span class="font-bold">Reviews</span>
          {% render 'icon-chevron-down' %}
        </button>
        <div aria-labelledby="reviews-tab"  class="hidden py-6 md:pb-0"         id="reviews-tab-panel"          role="tabpanel"          tabindex="0" >
          <div>
            <div class="yotpo yotpo-main-widget"
              data-product-id="{{ product.id }}"
              data-name="{{ product.title | escape }}"
              data-url="{{ shop.url }}{{ product.url }}"
              data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
              data-description="{{ product.description | escape }}">
            </div>
          </div>
        </div>

        <button aria-controls="faq-tab-panel" class="accordion-tab border-t border-[#F0F0F0] flex justify-between py-3 w-full md:hidden" type="button">
          <span class="font-bold">FAQs</span>
          {% render 'icon-chevron-down' %}
        </button>
        <div aria-labelledby="faq-tab" class="hidden py-6 md:pb-0" id="faq-tab-panel" role="tabpanel" tabindex="0" >
          <div class="space-y-4" id="faq-content"></div>
        </div>
        {% endif %}
        
        
      </custom-tabs>
    </div>

    <div></div>
  </div>
</div>

<div class="hidden" id="raw-faq-content">
  {{ product.metafields.product_details.faq }}
</div>

<div class="hidden" id="raw-ingredients-content">
  {{ product.metafields.product_details.ingredients }}
</div>

{% raw %}
<script id="faq-template" type="text/x-handlebars-template">
  {{#each items}}
  <div>
    <custom-accordion>
      <div class="bg-white rounded-xl text-blue-500">
        <button
          aria-controls="faq-{{index}}"
          class="border-2 border-transparent flex items-center justify-between p-4 rounded-xl text-left transition-all w-full hover:border-blue-400 hover:opacity-70"
          type="button"
        >
          <div class="flex items-center">
            <div class="bg-orange-400 bg-opacity-20 font-semibold py-2 rounded-md text-center text-orange-400 w-8">
              Q.
            </div>
            <div class="flex-1 mx-3 text-sm sm:text-base">{{{header}}}</div>
          </div>
          {% endraw %}
          <div class="plus-icon text-blue-400 transition-transform">
            {% render 'icon-plus' %}
          </div>
          {% raw %}
        </button>

        <div
          aria-labelled-by="faq-{{index}}"
          class="max-h-0 overflow-hidden text-sm"
          role="region"
        >
          <div class="p-4">
            <div class="flex h-full">
              <div class="bg-blue-400 bg-opacity-20 font-semibold mr-3 py-2 rounded-md text-blue-400 text-center w-8">
                A.
              </div>

              <div class="flex-1 font-semibold">
                {{{description}}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </custom-accordion>
  </div>
  {{/each}}
</script>
{% endraw %}

{% raw %}
<script id="ingredients-template" type="text/x-handlebars-template">
  {{#each items}}
  <div class="ingredients-element">
    <custom-accordion>
      <div class="bg-white rounded-xl text-blue-500">
        <button
          aria-controls="ingredient-acc-{{index}}"
          class="border-2 border-transparent flex items-center justify-between p-4 rounded-xl text-left transition-all w-full hover:border-blue-400 hover:opacity-70"
          type="button"
        >
          <span class="text-sm sm:text-base">{{{title}}}</span>
          {{#unless emptyDescription}}
          {% endraw %}
          <div class="plus-icon text-blue-400 transition-transform">
            {% render 'icon-plus' %}
          </div>
          {% raw %}
          {{/unless}}
        </button>

        <div
          aria-labelled-by="ingredient-acc-{{index}}"
          class="max-h-0 overflow-hidden text-sm"
          role="region"
        >
          <div class="p-6 rich-text">
            {{{description}}}
          </div>
        </div>
      </div>
    </custom-accordion>
  </div>
  {{/each}}
</script>
{% endraw %}

{% schema %}
{
  "blocks": [
    {
      "name": "Frequently Asked Question",
      "settings": [
        {
          "id": "question",
          "label": "Question",
          "type": "textarea"
        },
        {
          "id": "answer",
          "label": "Answer",
          "type": "richtext"
        }
      ],
      "type": "faq"
    }
  ],

  "name": "Product Details",
  "settings": [
    {
      "id": "overview",
      "label": "Overview",
      "type": "richtext"
    },
    {
      "default": true,
      "id": "no_sweetners",
      "label": "No Artificial Sweetners?",
      "type": "checkbox"
    },
    {
      "default": true,
      "id": "no_artificial_coloring",
      "label": "No Artificial Coloring?",
      "type": "checkbox"
    },
    {
      "default": true,
      "id": "gluten_free",
      "label": "Gluten Free?",
      "type": "checkbox"
    },
    {
      "default": true,
      "id": "no_preservatives",
      "label": "No Artificial Preservatives?",
      "type": "checkbox"
    }
  ]
}
{% endschema %}