<div class="bg-gradient-to-b from-[#E2E6ED] to-transparent max-w-7xl mt-12 mx-auto pt-8 lg:bg-none lg:mt-16">
  <div class="grid grid-cols-1 xl:gap-8 xl:grid-cols-3">
    <div class="col-span-2 relative">
      <div class="mb-6 px-5 xl:px-4">
        <h2 class="text-2xl lg:text-3xl">
          Bundle &amp; Save
        </h2>

        <p class="mt-4 text-gray-500 text-sm xl:text-base">
          {{ section.settings.subtitle }}
        </p>
      </div>

      <div class="gap-4 grid grid-flow-col auto-cols-max overflow-x-auto pr-4 px-4 lg:gap-8 lg:grid-cols-4 lg:grid-flow-row">
        {%- for block in section.blocks -%}
          {%- if block.type == 'bundle_product' -%}
            <div class="flex border border-[#F0F0F0] max-w-[80vw] rounded md:max-w-[40vw] lg:border-none lg:flex-col lg:max-w-full lg:w-[180px]">

              <div class="bg-gray-300 flex items-center justify-center w-[96px] lg:p-4 lg:w-full">
                <div class="max-h-[96px] max-w-[96px]">
                  {%- render 'lazy-image',
                    image: block.settings.product.featured_image,
                    width: 240,
                  -%}
                </div>
              </div>

              <div class="bg-white flex flex-row-reverse flex-1 justify-between gap-5 p-4 lg:flex-row lg:mt-4 lg:p-0">
                <input
                  class="border-2 border-blue-light bundle-option cursor-pointer h-4 rounded text-blue-light w-4 focus:ring-blue-light"
                  id="bundle-option-{{ block.id }}"
                  type="checkbox"
                />

                <div class="flex-1">
                  <div class="space-y-0.5 lg:-mt-1">
                    <label class="cursor-pointer font-bold text-sm" for="bundle-option-{{ block.id }}">
                      {{ block.settings.product.metafields.product_details.title }}
                    </label>

                    <p class="text-xs">
                      {%- assign discount = block.settings.product.price | times: 0.05 -%}
                      {{ block.settings.product.price | minus: discount | money }}
                      <span class="text-gray-500">(Save {{ discount | money }})</span>
                    </p>

                    <p class="text-gray-500 text-xs">
                      <s>{{ block.settings.product.price | money }}</s>
                    </p>
                  </div>

                  {%- assign product = block.settings.product -%}

                  <div class="mt-3">
                    <select name="id" class="border border-[#F0F0F0] rounded-md text-xs w-full">
                      {%- for variant in product.variants -%}
                        {%- unless variant.option2 == '2 Tub' or variant.option2 == '3 Tub' or variant.available == false -%}
                          <option value="{{ variant.id }}">{{ variant.option1 }}</option>
                        {%- endunless -%}
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

    <div></div>
  </div>
</div>

{% schema %}
{
  "blocks": [
    {
      "name": "Bundle Product",
      "settings": [
        {
          "id": "product",
          "label": "Product",
          "type": "product"
        }
      ],
      "type": "bundle_product"
    }
  ],
  "name": "Product Bundles",
  "settings": [
    {
      "default": "Get the most out of your training with these recommended products to optimize your performance and recovery.",
      "id": "subtitle",
      "label": "Subtitle",
      "type": "text"
    }
  ]
}
{% endschema %}