<style>
.xt-collection-list
{
  display:block;
  width:100%;
}
.xt-collection-list .title
{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}


.xt-collection-list .collection-wraper
{
  margin:32px 0 64px 0;
  display:flex;
  align-items: flex-start;
  row-gap: 32px;
  column-gap: 16px;
  flex-wrap:wrap;
}
.xt-collection-list .collection-wraper .collection-item
{
  width:calc(100% - 8px);
}
.xt-collection-list .collection-wraper .collection-img
{
  border-radius: 8px;
  overflow:hidden;
  width:100%;
  height:228px;
}
.xt-collection-list .collection-wraper .collection-img img
{
  object-fit: cover;
  width:100%;
  height:100%;
}
.xt-collection-list .collection-wraper .collection-desc
{
  display:flex;
  flex-direction:column;
  gap:8px;
  margin-top:24px;
}
.xt-collection-list .collection-wraper .collection-desc h2
{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.xt-collection-list .collection-wraper .collection-desc p
{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C787C;
}



@media only screen and (min-width:768px) and (max-width:1023px)
{
  .xt-collection-list .collection-wraper .collection-item 
  {
    width: calc(33.333% - 12px);
  }
  .xt-collection-list .collection-wraper .collection-img
  {
    height:250px;
  }
}
@media only screen and (min-width:1024px)
{
  .xt-collection-list .collection-wraper .collection-item 
  {
    width: calc(25% - 12px);
  }
  .xt-collection-list .collection-wraper .collection-img
  {
    height:350px;
  }
}
  


  
</style>
<div class="xt-collection-list">
 <div class="container">
   {%  if section.settings.title != blank  %}
    <div class="title">{{ section.settings.title }}</div>
  {% endif %}
    <div class="collection-wraper">
       {% for block in section.blocks %}
        {% assign collection = block.settings.collection %}
        {% assign custom_collection_title = block.settings.collection_title %}
        {% assign custom_collection_desc = block.settings.collection_subtitle %}
        {% assign custom_collection_img = block.settings.collection_img %}
         <a class="collection-item" href="{{ collection.url }}">
          <div class="collection-img">
            {% if collection.image.src != blank %}
              <img src="{{ collection.image.src | img_url: "master" }}" alt="{{ collection.title }}" loading="lazy">
            {% else %}
              <img src="{{ custom_collection_img | img_url: "master" }}" alt="{{ custom_collection_title }}" loading="lazy">
            {% endif %}
          </div>
          <div class="collection-desc">
            {% if collection.title != blank %}
                <h2>{{ collection.title }}</h2>
            {% else %}
              <h2>{{ custom_collection_title }}</h2>
            {% endif %}
            {% if collection.description != blank %}
              <p>{{ collection.description }} </p>
            {% else %}
              <p>{{ custom_collection_desc }}</p>
            {% endif %}
          </div>
        </a>
      {% endfor %}
<!--        <div class="collection-item">
        <div class="collection-img">
          <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
        <div class="collection-desc">
          <h2>Build Muscle</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
        </div>
      </div>

      <div class="collection-item">
        <div class="collection-img">
          <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
        <div class="collection-desc">
          <h2>Collection 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
        </div>
      </div>

      <div class="collection-item">
        <div class="collection-img">
          <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
        <div class="collection-desc">
          <h2>Collection 4</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
        </div>
      </div> 

       <div class="collection-item">
        <div class="collection-img">
          <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
        <div class="collection-desc">
          <h2>Collection 4</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
        </div>
      </div>  -->
    </div>
 </div>
</div>
{% schema %}
{
  "blocks": [
    {
      "name": "Related collection",
      "settings": [
         {
          "id": "collection_img",
          "label": "Collection Image",
          "type": "image_picker"
        },
        {
            "id": "collection",
            "label": "Collection",
            "type": "collection"
          },
        {
            "id": "collection_title",
            "label": "Collection title",
            "type": "text",
            "default":"Collection title"
          },
        {
            "id": "collection_subtitle",
            "label": "Collection subtitle",
            "type": "textarea",
            "default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed "
          }
      ],
      "type": "Related_collection"
    }
  ],
  "name": "Related collection",
  "settings": [
    {
      "content": "Related collection",
      "type": "header"
    },
    {
        "id": "title",
        "label": "Section title",
        "type": "text"
    }
  ],
  "presets":[
      {
        "name": "Related collection"
      }
    ]
}
{% endschema %}