{% liquid
  if section.settings.fg_color.alpha > 0
    assign border_color = section.settings.fg_color | color_modify: 'alpha', 0.3
  endif
%}
{% if border_color %}
  {%- style -%}
    #shopify-section-{{ section.id }}{
      --sb-border-color: {{ border_color }};
    }
  {% endstyle %}
{% endif %}

{%  stylesheet %}
  .sb-supporting-you__container{
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .sb-supporting-you__cards {
    display: grid;
    gap: 32px 24px;
    grid-template-columns: repeat(2, 160px);
  }
  .sb-supporting-you__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 1px solid var(--sb-border-color, #fff);
    padding-top: 8px;
  }
  .sb-supporting-you__heading {
    font-weight: 600;
    font-size: calc(28 / var(--sb-base-font-size, 16) * 1rem);
    line-height: 120%;
    color: var(--sb-fg-color, #000);
    padding: 0;
    margin: 0;
  }
  .sb-supporting-you__card-heading {
    font-weight: 400;
    font-size: calc(36 / var(--sb-base-font-size, 16) * 1rem);
    line-height: 120%;
    color: var(--sb-fg-color, #000);
    padding: 0;
    margin: 0;
  }
  .sb-supporting-you__card-content {
    font-weight: 400;
    font-size: calc(16 / var(--sb-base-font-size, 16) * 1rem);
    line-height: 130%;
    opacity: 0.72;
  }
  @media screen and (min-width: 1024px) {
    .sb-supporting-you__container{
      flex-direction: row;
      justify-content: space-between;
    }
    .sb-supporting-you__heading{
      font-size: calc(40 / var(--sb-base-font-size, 16) * 1rem);
    }
    .sb-supporting-you__cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 64px;
      max-width: 800px;
    }
    .sb-supporting-you__card{
      padding-top: 24px;
    }
    .sb-supporting-you__container {
      display: flex;
      justify-content: space-between;
    }
    .sb-supporting-you__content{
      width: 360px;
    }
  }

  @media screen and (min-width: 1920px){
    .sb-supporting-you__cards {
      max-width: 933px;
    }
  }
{% endstylesheet %}

<div class="sb-supporting-you sb-styled-element" style="{%  render 'style-attributes', settings: section.settings, mobile_multiple: 0.6 %}">
  <div class="sb-page-width sb-supporting-you__container">
    <div class="sb-supporting-you__content">
    {% if section.settings.heading != blank %}
      <h2 class="sb-supporting-you__heading">{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  {% if section.blocks.size > 0 %}
    <div class="sb-supporting-you__cards">
      {% for block in section.blocks %}
        <div class="sb-supporting-you__card">
          {% if block.settings.heading != blank %}
            <h3 class="sb-supporting-you__card-heading">{{ block.settings.heading }}</h3>
          {% endif %}
          {% if block.settings.content != blank %}
            <div class="sb-supporting-you__card-content">{{ block.settings.content }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "SB Supporting You",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "page_layout",
      "label": "Layout",
      "default": "slim",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "slim",
          "label": "Slim"
        }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "Color"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 100
    }
  ],
  "blocks": [
    {
      "type": "data",
      "name": "Data Point",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        } 
      ]
      
    },
  ],
  "presets": [
    {
      "name": "SB Supporting You",
    }
  ]
}
{% endschema %}
