{{ 'tl-info.css' | asset_url | stylesheet_tag }}
{% style %}
  #section-{{section.id}} {
    --bg-color: {{section.settings.bg_color}};
    --text-color: {{section.settings.text_color}};
    --PT:{{section.settings.padding_top}}px;
    --PB:{{section.settings.padding_bottom}}px;
  }
{% endstyle %}
<div class="tl__info-section" id="section-{{ section.id }}">
  <div class="container">
    <div class="tl__info-wrapper">
      <div class="tl__info-left">
        <h2>{{ section.settings.title }}</h2>
      </div>
      <div class="tl__info-right">
        <div class="tl__info-list">
          {% for block in section.blocks %}
            <div class="tl__info-item">
              <div class="tl__info-box">
                <h3>{{ block.settings.title }}</h3>
                <div class="tl__info-text">
                  {{ block.settings.text}}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "TL Info",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#173446"
      },
      {
       "type": "header",
        "content": "section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "default": 80
      },
      {
       "type": "range",
        "id": "padding_bottom",
        "label": "Paading bottom",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "default": 80
      }
    ],
    "blocks": [
      {
        "name":"Item",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Lorem Ipsum text lorem Ipsum text</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TL Info"
      }
    ]
  }
{% endschema %}