{{ 'upgrade-subscription-popup.css' | asset_url | stylesheet_tag }}

<!-- <h2>Manage Your Subscription</h2> -->

<!-- Trigger Button -->
<!-- <button id="openSubUpgradeModalBtn">Upgrade Subscription</button> -->

<!-- Modal Structure -->
<div class="A-B-subscription-upgrade"></div>
<div id="subUpgradeModal" class="sub-upgrade-modal">
  <div class="sub-upgrade-modal-content">
    
    <span class="sub-upgrade-close-btn">{% render 'icon-close' %}</span>

    {% if section.settings.modal_heading != blank %}
      <div class="modal-title">{{ section.settings.modal_heading }}</div>
    {% endif %}

    <div class="modal-review-wrapper">
      <div class="modal-reviewer-image">
        {% assign image = section.settings.review_text_image %}
        {% if image %}
          <img src="{{ image | image_url: width: image.width }}" 
           alt="{{ image.alt | escape }}" 
           loading="lazy" 
           width="{{ image.width }}" 
           height="{{ image.height }}">
        {% endif %}
      </div>
      {% if section.settings.review_text != blank %}
        <div class="modal-review-text">
          {{ section.settings.review_text }}
        </div>
      {% endif %}
    </div>
    
    <div class="modal-description-blocks">
      {% for block in section.blocks %}
        <div class="item-block">
          <div class="icon">
            {% assign icon = block.settings.image %}
            {% if icon %}
              <img src="{{ icon | image_url: width: icon.width }}" 
              alt="{{ icon.alt | escape }}" 
              loading="lazy" 
              width="{{ icon.width }}" 
              height="{{ icon.height }}">
            {% endif %}
          </div>
          {% if block.settings.heading != blank %}
            <div class="heading">
              {{ block.settings.heading }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if section.settings.no_thanks_text != blank %}
      <button type="button" class="btn button white-button" switch-to-subscription>
        {{ section.settings.switch_now_button_text }} 
        {% render 'switch-now-arrow' %}
      </button>
    {% endif %}

    {% if section.settings.no_thanks_text != blank %}
      <a class="link_text" add-one-time-only>
        {{ section.settings.no_thanks_text }}
      </a>
    {% endif %}
    
  </div>
</div>

{% schema %}
  {
    "name": "Subscription Modal",
    "settings": [
      {
        "type": "header",
        "content": "Subscription Modal Content",
      },
      {
        "type": "richtext",
        "id": "modal_heading",
        "label": "Heading",
        "default": "<p>Switch to Subscription & Save!</p>"
      },
      {
        "type": "image_picker",
        "id": "review_text_image",
        "label": "Reviewers Image"
      },
      {
        "type": "text",
        "id": "review_text",
        "label": "Review Text"
      },
      {
        "type": "text",
        "id": "switch_now_button_text",
        "label": "Switch Button Text"
      },
      {
        "type": "text",
        "id": "no_thanks_text",
        "label": "No Thanks Text"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "content",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<p>Heading</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Subscription Modal"
      }
    ]
  }
{% endschema %}