{{ 'value-props.css' | asset_url | stylesheet_tag }}

{% style %}
  #section-{{ section.id }} {
    color: {{ section.settings.text_color }};
    background:{{ section.settings.bg_color }};
  }
{% endstyle %}
<div class="value-props-section" id="section-{{ section.id }}">
  <div class="value-props-list marquee-slider">
    <div class="marquee-swiper-wrapper">
      {% for i in (1..20) %}
        {% for block in section.blocks %}
          <div class="value-props-item marquee-swiper-slide">
            <div class="value-props-box">
              {% if block.settings.icon != blank %}
                <div class="value-props-icon {{ block.settings.icon.alt }}">
                    {{ block.settings.icon | image_url: width: 32 | image_tag: alt: block.settings.title, loading: 'lazy' }}
                </div>
              {% endif %}
              <div class="value-props-text">
                <h2>{{ block.settings.title }}</h2>  
              </div>
            </div>  
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .marquee-slider {
    overflow: hidden;
    cursor: grab;
    position: relative;
  }
  .marquee-swiper-wrapper {
    display: flex;
    will-change: transform;
  }
  .marquee-swiper-slide {
    flex: 0 0 auto;
    padding: 10px 20px;
  }
</style>

{% schema %}
  {
    "name": "Value Props",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#101820"
      },
      {
       "type": "header",
        "content": "section padding"
      },
      {
        "type": "range",
        "id": "padding-top",
        "label": "Padding top",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "default": 36
      },
      {
       "type": "range",
        "id": "padding-bottom",
        "label": "Paading bottom",
        "min": 0,
        "max": 120,
        "step": 2,
        "unit": "px",
        "default": 36
      }
    ],
    "blocks": [
      {
        "name":"Props Item",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Value Props"
      }
    ]
  }
{% endschema %}