{% assign productn = section.settings.prod %}
{% assign product = section.settings.prod %}

<style>
      .unique-{{template.suffix}}{background:#E8EEF2;}
      a.open-ingradiant-details:hover {    cursor: pointer;}
      .product_slider{display:none;}
      .slick-initialized{display:block;}
    /*   #product-thumbnails-2{display:none;} */
    /*   .swiper-initialized{display:block !important;} */
      #product-thumbnails-2 .swiper-wrapper {
        justify-content: center;
    }

      button#add-to-cart-button:disabled {    cursor: not-allowed;}
      #price .line_thue {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #6c787c;
        text-decoration: line-through;
        display: inline-flex;
        margin-left: 15px;
    }
      p#price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }


    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    .row{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
        justify-content:center;
        gap:18px;
    }

    /* .row:after {
      content: "";
      display: table;
      clear: both;
    } */

    .column {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }

    .active,
    .demo:hover {
      opacity: 1;
    }
      .xt-mobile #overview-tab-panel-1 > div.gap-4 {
      display:none;
    }
    .mobile_show {
     display:none;
    }
  .tl-badge-mobile{
    display:none;
  }
    @media only screen and (max-width: 1279px){
      .mobile_show {
         display:flex;
      }
      .tl-badge-mobile{
      display:block;
      }
    }
</style>
{%- liquid
  assign current_variant = productn.selected_or_first_available_variant
  assign short_title = productn.metafields.product_details.title
  assign subtitle = productn.metafields.product_details.subtitle
-%}
{% if productn.selected_or_first_available_selling_plan_allocation != blank %}
  {{ 'new-product-hero.css' | asset_url | stylesheet_tag }}

  <div id="new-product-template" style="">
    <div class="new-product-grid xt-product flex flex-col-reverse xl:block xt-protein-product">
      <div class="grid new-grid grid-cols-1 max-w-7xl pt-4 relative top-0 w-full xl:absolute xl:grid-cols-3 xl:h-full xl:left-1/2 xl:pt-16 xl:-translate-x-1/2">
        <div class="col-span-2"></div>

        <div class=" xl:top-4 xl:h-max right-dbox">
          <div class="right-tag desktop">
            {% if section.settings.tag != blank %}
              <p class="">{{ section.settings.tag | capitalize }}</p>
            {% endif %}
            {% comment %}
              {%- for tag in product.tags -%}
                {%- liquid
                  assign start_series = tag | slice: 0, 7 | downcase
                  assign start_badge = tag | slice: 0, 6 | downcase
                -%}

                {%- if start_badge == 'badge-' -%}
                  <p class="">
                    {%- liquid
                      assign split_tag = tag | split: 'badge-'
                      assign split_words = split_tag[1] | split: '-'
                    -%}

                    {%- for word in split_words -%}
                      {{ word | capitalize }}
                    {%- endfor -%}
                  </p>
                {%- elsif start_series == 'series-' -%}
                  <p class="">
                    {%- liquid
                      assign split_tag = tag | split: 'series-'
                      assign split_words = split_tag[1] | split: '-'
                    -%}

                    {%- for word in split_words -%}
                      {{ word | capitalize }}
                    {%- endfor -%}

                    Series
                  </p>
                {%- endif -%}
              {%- endfor -%}
            {% endcomment %}
          </div>
          <div class="right-dboxin">
            <div class="pt-6 xl:px-6">
              <div class="flex items-center text-sm xtreview">
                <div class="flex space-x-1 text-orange-400">
                  {%- assign review_average = productn.metafields.yotpo.reviews_average | times: 1 -%}
                  {%- for i in (1..5) -%}
                    {%- assign index_minus_one = i | minus: 1 -%}
                    {%- assign mod = review_average | modulo: index_minus_one -%}

                    {%- if review_average >= i -%}
                      <svg class="h-4 w-4" version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                        <path d="m47.961 48h-47.945l39.914 31.543-15.941 48.441 40.059-29.871 39.938 29.871-15.871-48.863 39.918-31.121h-47.945l-16.094-47.996z" fill="currentColor"/>
                      </svg>
                    {%- elsif mod >= 0.5 -%}
                      <svg class="h-4 w-4" version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                        <path d="m128.02 48h-47.953l-16.094-48-16.031 48h-47.969l39.937 31.555-15.953 48.445 39.984-29.812 0.09375-0.0625 39.938 29.875-15.875-48.867zm-39.594 58.531-24.371-18.547-0.058594 0.0625v-56.953l10.164 24.906h29.812l-25.453 19.43z" fill="currentColor"/>
                      </svg>
                    {%- else -%}
                      <svg class="h-4 w-4" version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                        <path d="m64.008 31.113 10.172 24.887h29.809l-25.449 19.426 9.9023 31.105-24.387-18.543-24.387 18.109 9.8711-30.156-25.539-19.941h29.871l10.137-24.887m-16.043 16.887h-47.949l39.914 31.551-15.93 48.445 40.055-29.867 39.934 29.871-15.875-48.871 39.918-31.129h-47.945l-16.094-47.996z" fill="currentColor"/>
                      </svg>
                    {%- endif %}
                  {%- endfor -%}
                </div>

                <p class="ml-3 text-gray-500">
                  <span class="font-bold text-black">{{ productn.metafields.yotpo.reviews_average }}</span>/5.0
                  <a class="open-review-details">{{ productn.metafields.yotpo.reviews_count }} Reviews</a>
                </p>
              </div>

              <h1 class="">
                {{ short_title }}
              </h1>
              <h2 class="mb-2 text-gray-500">
                {{ subtitle }}
              </h2>

              <div class="desc">
                {% if section.settings.prod_desc!=blank %}
                  {{ section.settings.prod_desc }}
                  <p><a href="#xt-protein-ingredients" class="open-ingradiant-details">View Ingredient Breakdown</a></p>
                {% else %}
                  <p>
                    {{ productn.metafields.custom.product_overview_detail | truncate: 205 }}
                    <a href="#xt-protein-ingredients" class="open-ingradiant-details">View Ingredient Breakdown</a>
                  </p>
                {% endif %}
              </div>

              <!--
                <div class="my-6 md:my-3">
                  <p id="price" class="product-price font-bold text-xl md:text-2xl">{{ current_variant.price | money }}</p>
                  <p class="compare-at-price text-sm text-gray-500">
                    <s>{{ current_variant.compare_at_price | money }}</s>
                  </p>
                </div>
              -->
            </div>

            <div class="bg-white pt-0 relative xl:relative">
              {% form 'product', productn, data-productid: productn.id %}
                <div class="p1_selling_plan"></div>
                <select class="hidden" name="id" data-productid="{{ productn.id }}">
                  {% for variant in productn.variants %}
                    <option
                      data-available="{{ variant.available }}"
                      data-option-1="{{ variant.option1 }}"
                      data-option-2="{{ variant.option2 }}"
                      data-price="{{ variant.price }}"
                      {% if current_variant.id == variant.id %}
                        selected
                      {% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                    </option>
                  {% endfor %}
                </select>
                <input
                  type="hidden"
                  name="id"
                  id="product-select_{{productn.id}}"
                  class="stack_vid"
                  value="{{ productn.selected_or_first_available_variant.id }}"
                >
                <input type="hidden" name="sp" id="selected_selling_plan" class="" value="">

                

                <div class="stack-row" {{ productn.variants.size }}>
                  {% if productn.variants.size > 1 %}
                    <div class="stack-row-item flavor">
                      <div class="take_price_sss" style="display:block;">
                        {% if productn.options[0] %}
                          {% assign used = '' %}
                          <div class="input-wraper ">
                            <label for="select-one1_{{productn.id}}">Select {{ productn.options[0] }}:</label>
                            <select
                              data-option-position="1"
                              id="select-one1_{{ productn.id}}"
                              dataval="{{ productn.variants.first.id }}"
                              onchange="lletsDoThis_{{ productn.id}}()"
                            >
                              {% for variant in productn.variants %}
                                {% unless variant.metafields.secomapp.freegifts %}
                                  {% unless variant.title contains '(Freegifts)' %}
                                    {% unless used contains variant.option1 %}
                                      {% if productn.selected_or_first_available_variant.id == variant.id %}
                                        <option value="{{ variant.option1 }}" selected>{{ variant.option1 }}</option>
                                      {% else %}
                                        <option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
                                      {% endif %}
                                      {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
                                    {% elsif used contains 'Peanut Butter' %}
                                      {% if productn.selected_or_first_available_variant.id == variant.id %}
                                        <option value="{{ variant.option1 }}" selected>{{ variant.option1 }}</option>
                                      {% else %}
                                        <option value="{{ variant.option1 }}">{{ variant.option1 }}</option>
                                      {% endif %}
                                    {% endunless %}
                                  {% endunless %}
                                {% endunless %}
                              {% endfor %}
                            </select>
                          </div>
                        {% endif %}

                        {% if productn.options[1] %}
                          <div
                            class="input-wraper"
                            {%- for value in productn.options_by_name.quantity.values %}
                              {% if value == '1 Tub' or value == '2 Tub' %} style="display:none;" {% endif %}
                            {% endfor %}
                          >
                            {% assign used = '' %}
                            <label for="select-two2_{{ productn.id}}">Select {{ productn.options[1] }}:</label>
                            <select
                              id="select-two2_{{ productn.id}}"
                              dataval="{{ productn.variants.first.id }}"
                              onchange="lletsDoThis_{{ productn.id}}()"
                            >
                              {% for variant in productn.variants %}
                                {% unless variant.metafields.secomapp.freegifts %}
                                  {% unless variant.title contains '(Freegifts)' %}
                                    {% unless used contains variant.option2 %}
                                      {% if productn.selected_or_first_available_variant.id == variant.id %}
                                        <option {{ used }} value="{{ variant.option2 }}" selected>
                                          {{ variant.option2 }}
                                        </option>
                                      {% else %}
                                        <option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
                                      {% endif %}
                                      {% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
                                    {% endunless %}
                                  {% endunless %}
                                {% endunless %}
                              {% endfor %}
                            </select>
                          </div>
                        {% endif %}

                        {% if productn.options[2] %}
                          <div class="input-wraper">
                            {% assign used = '' %}
                            <label for="select-three3_{{productn.id}}">Select {{ productn.options[2] }}:</label>
                            <select
                              id="select-three3_{{productn.id}}"
                              dataval="{{ productn.variants.first.id }}"
                              onchange="lletsDoThis_{{productn.id}}()"
                            >
                              {% for variant in productn.variants %}
                                {% unless variant.metafields.secomapp.freegifts %}
                                  {% unless variant.title contains '(Freegifts)' %}
                                    {% unless used contains variant.option3 %}
                                      {% if productn.selected_or_first_available_variant.id == variant.id %}
                                        <option value="{{ variant.option3 }}" selected>{{ variant.option3 }}</option>
                                      {% else %}
                                        <option value="{{ variant.option3 }}">{{ variant.option3 }}</option>
                                      {% endif %}
                                      {% capture used %}{{ used }} {{ variant.option3 }}{% endcapture %}
                                    {% endunless %}
                                  {% endunless %}
                                {% endunless %}
                              {% endfor %}
                            </select>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}

                  <div class="stack-row-item active_class">
                    <input
                      type="radio"
                      id="onetime"
                      data-text="One-Time Purchase"
                      class="stack-radio-2"
                      name="newpurchaseoption"
                      value="onetime"
                      checked
                    >
                    <label for="onetime" class="stack-100">
                      {% if section.settings.onetimetext %}
                        {{ section.settings.onetimetext }}
                      {% endif %}
                    </label>
                    <span class="pass_otp take_price onetimeprice"> </span>
                  </div>

                  <div class="stack-row-item">
                    <input
                      type="radio"
                      id="subsave"
                      data-text="Deliver Every Month"
                      class="stack-radio ddoption1"
                      name="newpurchaseoption"
                      value="subsave"
                    >
                    <label for="subsave" class="stack-100">
                      {% if section.settings.subscribetext %}
                        {{ section.settings.subscribetext }}
                        <span class="save_price"></span>
                      {% endif %}
                    </label>

                    <div class="take_price_ss" style="display:none;">
                      <span class="sub_price take_price sub_price1"></span>
                      <!-- <span class=" save_price_text"></span> -->
                      <div class="xtags">
                        {% if section.settings.sdetail != blank %}
                          <span>{{ section.settings.sdetail }}</span>
                        {% endif %}
                        {% if section.settings.sdetail1 != blank %}
                          <span>{{ section.settings.sdetail1 }}</span>
                        {% endif %}
                        {% if section.settings.sdetail2 != blank %}
                          <span>{{ section.settings.sdetail2 }}</span>
                        {% endif %}
                      </div>

                      {% if section.settings.slistinformation != blank %}
                        <ul class="xstacklist">
                          {{ section.settings.slistinformation }}
                        </ul>
                      {% endif %}

                      <div class="input-wraper">
                        <label class="rc-selling-plans__label" for="selling_plan_{{ productn.id }}"
                          >Select Frequency:<small class="selected_freq"> {% for group in productn.selling_plan_groups %}{%  for plan in group.selling_plans limit:1 %}{{ plan.name | remove:"Delivery" }}{% endfor %}{% endfor %}</small></label
                        >
                     {% comment %}   <select
                          id="selling_plan_{{ product.id }}"
                          class="rc_widget__option__plans__dropdown rc-selling-plans__dropdown"
                        ></select>
                {% endcomment %}
                {% for group in productn.selling_plan_groups %}
 
                    <div class="d-flex">
                     {%  for plan in group.selling_plans %}
                          <div class="selling_plan">
                            <input type="radio" id="{{ plan.id }}"  name="pro_selling_plan" value="{{ plan.id }}" data-name="{{ plan.name | remove:"Delivery" }}" {% if forloop.index == 1 %}checked{% endif %}>
                            <label for="{{ plan.id }}">{{ plan.name | remove:"Delivery every" }}</label>
                          </div>
                      {% endfor %}
                    </div>
                     
                    {% endfor %}     

                      </div>
                    </div>
                  </div>
                </div>

                <div class="flex items-center quant-btn">
                  <div class="">
                    <quantity-input>
                      <div class="flex items-center text-blue-500 quant-box">
                        <button
                          class=" flex h-10 items-center justify-center rounded-full w-10"
                          type="button"
                        >
                          -
                        </button>

                        <input
                          class="bg-transparent hide-selectors mx-2 rounded text-center w-16 focus:ring-0"
                          min="1"
                          name="quantity"
                          type="number"
                          value="1"
                        >

                        <button
                          class=" flex h-10 items-center justify-center rounded-full w-10"
                          type="button"
                        >
                          +
                        </button>
                      </div>
                    </quantity-input>
                  </div>

                  <div class="w-full" id="add-to-cart-button-container">
                    <button
                      class="bg-blue-light font-bold py-2 rounded text-white w-full {% unless current_variant.available %}opacity-70{% endunless %}"
                      id="add-to-cart-button"
                      type="button"
                    >
                      <span id="product-availability" {{ current_variant.available }}>
                        {%- if current_variant.available %}Add to Cart{% else %}Sold Out{% endif -%}
                      </span>
                    </button>
                  </div>
                </div>
              {% endform %}
            </div>

            <a style="display:none;" id="hideme" class="klaviyo-bis-trigger" href="#"
              ><span>Notify Me When Available</span></a
            >

          </div>
        </div>

        <div class="xt-mobile xt-accor max-w-7xl  mx-auto px-5 xl:px-4">
          <div class="">
            <div class="col-span-2 relative">
              
            </div>
          </div>
        </div>
      </div>

      <div class="lg:py-8  xl:py-16">
        <div class="max-w-7xl mx-auto xl:px-4">
          <div class="gap-8 grid grid-cols-1 xl:grid-cols-3">
            <div class="relative xl:col-span-2">
              <div class="right-tag tl-badge-desktop desktop">
                {% if productn.metafields.custom.trust_badge != blank %}
                  <p class="tl-badge-img">
                    <img
                      loading="lazy"
                      src="{{ productn.metafields.custom.trust_badge.value | img_url: 'master' }}"
                      width="100px"
                      height="100px"
                    >
                  </p>
                {% endif %}
              </div>

              <div class="right-tag mobile">
                {% if section.settings.tag != blank %}
                  <p class="">{{ section.settings.tag | capitalize }}</p>
                {% endif %}

                {% comment %}
                  {%- for tag in product.tags -%}
                    {%- liquid
                      assign start_series = tag | slice: 0, 7 | downcase
                      assign start_badge = tag | slice: 0, 6 | downcase
                    -%}

                    {%- if start_badge == 'badge-' -%}
                      <p class="">
                        {%- liquid
                          assign split_tag = tag | split: 'badge-'
                          assign split_words = split_tag[1] | split: '-'
                        -%}

                        {%- for word in split_words -%}
                          {{ word | capitalize }}
                        {%- endfor -%}
                      </p>
                    {%- elsif start_series == 'series-' -%}
                      <p class="">
                        {%- liquid
                          assign split_tag = tag | split: 'series-'
                          assign split_words = split_tag[1] | split: '-'
                        -%}

                        {%- for word in split_words -%}
                          {{ word | capitalize }}
                        {%- endfor -%}

                        Series
                      </p>
                    {%- endif -%}
                  {%- endfor -%}
                {% endcomment %}
              </div>

              <div class="grid grid-flow-col auto-cols-[minmax(0,_auto)]">
                <div>
                  <div class="swiper xl:bg-none" id="product-images-2">
                    <div class=" swiper-wrapper"></div>
                    <div class="swiper-prev absolute bg-white left-1/2 p-1 rounded-md text-blue-400 -translate-x-1/2 transition-opacity top-4 z-10 hover:opacity-70">
                      {% render 'new-pdp-arrow-left' %}
                    </div>
                    <div class="swiper-next absolute bg-white bottom-4 left-1/2 p-1 rounded-md text-blue-400 -translate-x-1/2 transition-opacity z-10 hover:opacity-70">
                      {% render 'new-pdp-arrow-right' %}
                    </div>

                    <div class="swiper-pagination"></div>
                  </div>

                  <div class="max-h-max badge-mobile w-70 m-auto xl:block yyyy">
                    <div class="swiper" id="product-thumbnails-2" style="max-height: 677px;">
                      <div class="swiper-wrapper"></div>
                      {% comment %}
                        <div class="swiper-prev absolute bg-white left-1/2 p-1 rounded-md text-blue-400 -translate-x-1/2 transition-opacity top-4 z-10 hover:opacity-70">
                           <a class="prev" onclick="plusSlides(-1)">
                             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
                              </svg>
                          </a>
                        </div>

                        <div class="swiper-next absolute bg-white bottom-4 left-1/2 p-1 rounded-md text-blue-400 -translate-x-1/2 transition-opacity z-10 hover:opacity-70">
                          <a class="next" onclick="plusSlides(1)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                            </svg>
                            </a>
                        </div>
                      {% endcomment %}
                    </div>
                    <div class="tl-badge-mobile mobile">
                      {% if productn.metafields.custom.trust_badge != blank %}
                        <p class="tl-badge-img">
                          <img
                            loading="lazy"
                            src="{{ productn.metafields.custom.trust_badge.value | img_url: 'master' }}"
                            width="100px"
                            height="100px"
                          >
                        </p>
                      {% endif %}
                    </div>
                  </div>
                  <script>
                    var swiper = new Swiper("#product-thumbnails-2", {
                      spaceBetween: 8,
                      slidesPerView: 5,
                      freeMode: true,
                      watchSlidesProgress: true,
                    });
                    var swiper2 = new Swiper("#product-images-2", {
                      spaceBetween: 10,
                      navigation: {
                        nextEl: ".swiper-next",
                        prevEl: ".swiper-prev",
                      },
                      thumbs: {
                        swiper: swiper,
                      },
                    });
                  </script>

                  <div class="xt-accor max-w-7xl  mx-auto px-5 xl:px-4">
                    <div class="">
                      <div class="col-span-2 relative">
                        
                      </div>

                      <div></div>
                    </div>
                  </div>

                  <div class="hidden" id="raw-faq-content">
                    {{ productn.metafields.product_details.faq }}
                  </div>

                  <div class="hidden" id="raw-ingredients-content">
                    {{ productn.metafields.product_details.ingredients }}
                  </div>

                  {% raw %}
<script id="faq-template" type="text/x-handlebars-template">
  {{#each items}}
  <div>
    <custom-accordion>
      <div class="bg-white rounded-xl text-blue-500">
        <button
          aria-controls="faq-{{index}}"
          class="border-2 border-transparent flex items-center justify-between p-4 rounded-xl text-left transition-all w-full hover:border-blue-400 hover:opacity-70"
          type="button"
        >
          <div class="flex items-center">
            <div class="bg-orange-400 bg-opacity-20 font-semibold py-2 rounded-md text-center text-orange-400 w-8">
              Q.
            </div>
            <div class="flex-1 mx-3 text-sm sm:text-base">{{{header}}}</div>
          </div>
          {% endraw %}
                  <div class="plus-icon text-blue-400 transition-transform">
                    {% render 'icon-plus' %}
                  </div>
                  {% raw %}
        </button>

        <div
          aria-labelled-by="faq-{{index}}"
          class="max-h-0 overflow-hidden text-sm"
          role="region"
        >
          <div class="p-4">
            <div class="flex h-full">
              <div class="bg-blue-400 bg-opacity-20 font-semibold mr-3 py-2 rounded-md text-blue-400 text-center w-8">
                A.
              </div>

              <div class="flex-1 font-semibold">
                {{{description}}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </custom-accordion>
  </div>
  {{/each}}
</script>
{% endraw %}

                  {% raw %}
<script id="ingredients-template" type="text/x-handlebars-template">
  {{#each items}}
  <div class="ingredients-element">
    <custom-accordion>
      <div class="bg-white rounded-xl text-blue-500">
        <button
          aria-controls="ingredient-acc-{{index}}"
          class="border-2 border-transparent flex items-center justify-between p-4 rounded-xl text-left transition-all w-full hover:border-blue-400 hover:opacity-70"
          type="button"
        >
          <span class="text-sm sm:text-base">{{{title}}}</span>
          {{#unless emptyDescription}}
          {% endraw %}
                  <div class="plus-icon text-blue-400 transition-transform">
                    {% render 'icon-plus' %}
                  </div>
                  {% raw %}
          {{/unless}}
        </button>

        <div
          aria-labelled-by="ingredient-acc-{{index}}"
          class="max-h-0 overflow-hidden text-sm"
          role="region"
        >
          <div class="p-6 rich-text">
            {{{description}}}
          </div>
        </div>
      </div>
    </custom-accordion>
  </div>
  {{/each}}
</script>
{% endraw %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var variant_values = {{ productn.variants | json }};
      var len = variant_values.length;
      for(var i = 0; i < len; i++)
      {
        //console.log(variant_values[i].id);
        var len2 = variant_values[i].selling_plan_allocations.length;
        var plans = variant_values[i].selling_plan_allocations;
        for(var j=0; j < len2; j++)
        {
          if(i==0){
          if(j == 0)
          {
            $("#selling_plan_{{ productn.id }}").append('<option value="selling_plan_00">30 days</option>');
          }
          if(j == 1)
          {
            $("#selling_plan_{{ productn.id }}").append('<option value="selling_plan_11">45 days</option>');
          }
          if(j == 2)
          {
            $("#selling_plan_{{ productn.id }}").append('<option value="selling_plan_22">60 days</option>');
          }
          if(j == 3)
          {
            $("#selling_plan_{{ productn.id }}").append('<option value="selling_plan_33">75 days</option>');
          }
          if(j == 4)
          {
            $("#selling_plan_{{ productn.id }}").append('<option value="selling_plan_44">90 days</option>');
          }}
          $(".p1_selling_plan").append('<input type=hidden data-stack="'+variant_values[i].id+'" data-price='+ Shopify.formatMoney(plans[j].price) +' data-otp= '+ Shopify.formatMoney(plans[j].compare_at_price)+'  class="selling_plan_'+j+j+'" name="selling_plan" value="'+plans[j].selling_plan_id+'">');
          //console.log(plans);
        }
        // if(i == 0)
        // {
        //    break;
        // }
      }
    </script>
    <script type="text/javascript">
      
      
      
      
  function lletsDoThis_{{productn.id}}()
  {
    
      {% if productn.options[0] %}
        var opt1 = $("#select-one1_{{ productn.id}}").val();
      {% endif %}
      {% if producnt.options[1] %}
        var opt2 = $("#select-two2_{{ productn.id}}").val();
      {% endif %}
      {% if productn.options[2] %}
        var opt3 = $("#select-three3_{{ productn.id}}").val();
      {% endif %}

      var id = '';
      {% for v in productn.variants %}
        {% unless v.metafields.secomapp.freegifts %}
          {% unless v.title contains '(Freegifts)' %}
            if(opt1=="{{ v.option1 }}"{% if productn.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}{% if productn.options[2] %} && opt3=="{{ v.option3 }}"{% endif %}) 
            {
              var id = {{ v.id }};
              var price = "{{ v.price | money }}";
              var condition = "{{ v.available }}";
              var com_at_price = "{{ productn.price }}";
              var feature_image ="{{v.featured_image | img_url : 'master'}}";
            }
         {%endunless%}
       {%endunless%}
     {% endfor %}
  
    if(typeof opt1 !== 'undefined' && typeof opt2 !== 'undefined')
      {
          var media = {{ productn.media | json }};
          var variants = {{ productn.variants | json }};
          console.log(variants);
          console.log(media);
          var product_title = "{{ productn.title }}";
          var flag = false;
          var x = 1;
          for(var j=0; j < media.length; j++)
          {
             //second way to remove slides
              $('.swiper-slide2').last().remove();
              $('.swiper-slide1').last().remove();
              swiper2.update();
              swiper.update();
          }
          /* add selected variant im age at first position       */
        
        
          /* console.log(feature_image); */
          if(feature_image == null)
          {
              console.log("Variant image is not defined. Please define variant image.")
          }
          else
          {
              var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+feature_image+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image></div>`;
              swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
              
              var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+feature_image+`" width="960"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image>`;
              swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
          } 
          
          for(var i=0; i < media.length; i++)
          {
             if(media[i].alt !== null )
             {
                var text  = media[i].alt;
                var text1 = text.split('-');
                if(opt1 === text1[0] && opt2 === text1[1] )
                { 
                    flag = true;
                    htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                    swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                    mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                    swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                    x = x+1;
                }
                else if(opt1 === text && opt2 !== text1[1])
                {
                    flag = true;
                    htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                    swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                    mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                    swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                    x = x+1;          
                }
                else if(text1[0] === 'all')
                {
                    flag = true;
                    htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                    swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                    mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                    swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                    x = x+1; 
                }
                else
                {
                  
                }
    
            }
            else
            {
                // flag = true;
                // htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                // swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                // mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                // swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                // x = x+1;
            }
         }
      }

      if(typeof opt1 !== 'undefined' && typeof opt2 === 'undefined')
      {
          var media = {{ productn.media | json }};
          var variants = {{ productn.variants | json }};
          console.log(variants);
          console.log(media);
          var product_title = "{{ productn.title }}";
          var flag = false;
          var x = 1;
          for(var j=0; j < media.length; j++)
          {
             //second way to remove slides
              $('.swiper-slide2').last().remove();
              $('.swiper-slide1').last().remove();
              swiper2.update();
              swiper.update();
          }
          /* add selected variant im age at first position       */
        
        
          /* console.log(feature_image); */
/*           if(feature_image == null)
          {
              console.log("Variant image is not defined. Please define variant image.")
          }
          else
          {
              var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+feature_image+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image></div>`;
              swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
              
              var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+feature_image+`" width="960"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image>`;
              swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
          }  */
          
          for(var i=0; i < media.length; i++)
          {
             if(media[i].alt !== null )
             {
                var text  = media[i].alt;
                var text1 = text.split('-');
               
                if(opt1 === text)
                {
                    flag = true;
                    htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                    swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                    mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                    swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                    x = x+1;          
                }
                else if(text1[0] === 'all')
                {
                    flag = true;
                    htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                    swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                    mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                    swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                    x = x+1; 
                }
                else
                {
                  
                }
    
            }
            else
            {
                // flag = true;
                // htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                // swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                // mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                // swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                // x = x+1;
            }
         }
      }

  if(typeof opt1 === 'undefined' && typeof opt2 === 'undefined')
   {
      var media = {{ productn.media | json }};
      var product_title = "{{ productn.title }}";
      var flag = false;
      var x = 1;
       var y = 1;

        
      for(var i=0; i < media.length; i++)
      {
         if(media[i].alt !== null )
         {
            var text  = media[i].alt;
            var text1 = text.split('-');
            if(opt1 === text)
            {
                 flag = true;
                htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1;          
            }
            else if(text1[0] === '')
            {
                flag = true;
                htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1; 
            }
            else
            {
                            
            }
  
        }
        else
        {
            //flag = true;
            //htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
            //swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
            //mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img alt="Watermelon" class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
            //swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
            //x = x+1;
        }
     }
  }
 
  if(condition == 'true') 
  {
      document.getElementById('product-select_{{productn.id}}').value = id;
      var selling_plan_val = $("input[name='newpurchaseoption']:checked").val();
      $(".p1_selling_plan [data-stack]").each(function(i,Data)
      {
          var vid = parseInt($(Data).data("stack"));
          if(vid == id)
          {
              var otpprice = $(Data).data("otp");
              var new_price = $(Data).data("price");

              var oldprice = otpprice.split("$");
              var discounted_price = new_price.split("$");
              
              var save_price = parseFloat(oldprice[1]) - parseFloat(discounted_price[1]);
  
            $('.save_price_text').text("save $"+save_price.toFixed());
              $('.onetimeprice').text(otpprice);
              $(".sub_price").html(new_price+"<br><span class='line_thue'>"+otpprice+"</span>");  
              $('.save_price').text("& save $"+save_price.toFixed()+" + Free Shipping");
          }
      });
      if(selling_plan_val == "onetime")
      {
        $("#product-availability").text("Add to Cart"); 
        $("#add-to-cart-button").removeClass("opacity-70"); 
        $("#add-to-cart-button").prop('disabled', false); 
      }
      else
      {
        $("#product-availability").text("Subscribe"); 
        $("#add-to-cart-button").removeClass("opacity-70"); 
        $("#add-to-cart-button").prop('disabled', false); 
      }
  }  
  else if(condition == 'false')
  {
      var selling_plan_val = $("input[name='newpurchaseoption']:checked").val();
      $(".p1_selling_plan [data-stack]").each(function(i,Data)
      {
        var vid = parseInt($(Data).data("stack"));
        if(vid == id)
        {
              var otpprice = $(Data).data("otp");
              var new_price = $(Data).data("price");
          
              var oldprice = otpprice.split("$");
              var discounted_price = new_price.split("$");
              
              var save_price = parseFloat(oldprice[1]) - parseFloat(discounted_price[1]);
  
  $('.save_price_text').text("save $"+save_price.toFixed());
              $('.onetimeprice').text(otpprice);
              $(".sub_price").html(new_price+"<br><span class='line_thue'>"+otpprice+"</span>");  
              $('.save_price').text("& save $"+save_price.toFixed()+" + Free Shipping");
        }
      });
        document.getElementById('product-select_{{productn.id}}').value = '';
        $("#product-availability").text("Sold Out"); 
        $("#add-to-cart-button").addClass("opacity-70"); 
        $("#add-to-cart-button").prop('disabled', true);  
  }
  else 
  {
      document.getElementById('product-select_{{productn.id}}').value = "000";
      $("#product-availability").text("Unavailable"); 
      $("#add-to-cart-button").addClass("opacity-70"); 
      $("#add-to-cart-button").prop('disabled', true);
  }
}




    </script>

    <script>
      
      
      
      
  $(document).ready(function()
  {
    var feature_image = "{{ current_variant.featured_image | img_url: 'master' }}";
    
    var opt1 = $("#select-one1_{{ productn.id}}").val();
    var opt2 = $("#select-two2_{{ productn.id}}").val();

  
    $(".accordion-tab").click(function(){
      $(this).toggleClass("active");
    });
    $(".accordion-tab-1").click(function(){
      $(this).toggleClass("active");
    });

    $('input[type=radio][name=newpurchaseoption]').change(function() {
    $(".stack-row-item").removeClass("active_class");
    $(this).parent().addClass("active_class");
});

  $('input[name="pro_selling_plan"]').change(function() {
    $(".selected_freq").text($(this).data("name"));
});
  

  
  var idd = $("#product-select_{{ productn.id }}").val();
  //console.log(idd);
  document.querySelectorAll('div[data-variant-sfp]').forEach((elem) => {
    if (elem.dataset.variantSfp == idd) 
    {
      elem.classList.remove('hidden');
    } 
    else 
    {
      elem.classList.add('hidden');
    }
  });
  
  
   if(typeof opt1 !== 'undefined' && typeof opt2 !== 'undefined')
   {
      var media = {{ productn.media | json }};
      var product_title = "{{ productn.title }}";
      var flag = false;
      var x = 1;
       var y = 1;
     /* console.log(feature_image); */
      if(feature_image == null)
      {
        console.log("Variant image is not defined. Please define variant image.")
      }
      else
      {
        var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+feature_image+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image></div>`;
        swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
        
        var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+feature_image+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image>`;
        swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
      }  
        
      for(var i=0; i < media.length; i++)
      {
         if(media[i].alt !== null )
         {
            var text  = media[i].alt;
            var text1 = text.split('-');
            if(opt1 === text1[0] && opt2 === text1[1] )
            { 
                flag = true;
               var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1;
            }
            else if(opt1 === text && opt2 !== text1[1])
            {
                 flag = true;
               var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
               var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1;          
            }
            else if(text1[0] === 'all')
            {
                flag = true;
               var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
               var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1; 
            }
            else
            {
                            
            }
  
        }
        else
        {
            //flag = true;
            //htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
            //swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
            //mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img alt="Watermelon" class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
            //swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
            //x = x+1;
        }
     }
  }
        
   if(typeof opt1 !== 'undefined' && typeof opt2 === 'undefined')
   {
      var media = {{ productn.media | json }};
      var product_title = "{{ productn.title }}";
      var flag = false;
      var x = 1;
       var y = 1;
     /* console.log(feature_image); */
/*       if(feature_image == null)
      {
        console.log("Variant image is not defined. Please define variant image.")
      }
      else
      {
        var htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+feature_image+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image></div>`;
        swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
        
        var mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+feature_image+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+feature_image+`" loading="lazy" src="`+feature_image+`"></div></lazy-image>`;
        swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
      }  */
        
      for(var i=0; i < media.length; i++)
      {
         if(media[i].alt !== null )
         {
            var text  = media[i].alt;
            var text1 = text.split('-');
            if(opt1 === text)
            {
                 flag = true;
                htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1;          
            }
            else if(text1[0] === 'all')
            {
                flag = true;
                htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1; 
            }
            else
            {
                            
            }
  
        }
        else
        {
            //flag = true;
            //htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
            //swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
            //mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img alt="Watermelon" class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
            //swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
            //x = x+1;
        }
     }
  }

    if(typeof opt1 === 'undefined' && typeof opt2 === 'undefined')
   {
      var media = {{ productn.media | json }};
      var product_title = "{{ productn.title }}";
      var flag = false;
      var x = 1;
       var y = 1;

        
      for(var i=0; i < media.length; i++)
      {
         if(media[i].alt !== null )
         {
            var text  = media[i].alt;
            var text1 = text.split('-');

            if(opt1 === text)
            {
                 flag = true;
                htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1;          
            }
            else if(text1[0] === 'all')
            {
                flag = true;
                htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
                swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
                mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img  class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
                swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
                x = x+1; 
            }
            else
            {
                            
            }
  
        }
        else
        {
            flag = true;
            htmlString = `<div class="h-36 xt-thumb object-contain w-36"><lazy-image><div class="relative"><img class="relative z-0 h-36 object-contain opacity-0" data-placeholder="" height="1200" loading="lazy" src="`+media[i].src+`" width="1200"><img class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 h-36 object-contain" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image></div>`;
            swiper.appendSlide(`<div class="swiper-slide swiper-slide2">`+htmlString+`</div>`);
            mainhtmlstring = `<lazy-image><div class="relative"><img class="relative z-0 max-h-[300px] object-contain lg:max-h-[600px] opacity-0" data-placeholder="" height="960" loading="lazy" src="`+media[i].src+`" width="960"><img alt="Watermelon" class="absolute h-full inset-0 opacity-100 transition-opacity w-full z-10 max-h-[300px] object-contain lg:max-h-[600px]" data-src="`+media[i].src+`" loading="lazy" src="`+media[i].src+`"></div></lazy-image>`;
            swiper2.appendSlide(`<div class="swiper-slide swiper-slide1">`+mainhtmlstring+`</div>`);
            x = x+1; 
        }
     }
  }
  
             
  var selling_plan_val = $("input[name='newpurchaseoption']:checked").val();
  // var available = document.getElementById('product-select_{{productn.id}}').value;
  // var available = $('product-select_{{productn.id}}').find(':selected').data('available');
    
    if(selling_plan_val == "onetime")
    {
      
      var current_variant_id =  $("input[name='id']").val();
      // if(available == "")
      // {
      //   $("#product-availability").text("Sold Out"); 
      //   $("#add-to-cart-button").addClass("opacity-70"); 
      //   $("#add-to-cart-button").prop('disabled', true);
      // }
      // else if(available == "000")
      // {
      //   $("#product-availability").text("Unavailable"); 
      //   $("#add-to-cart-button").addClass("opacity-70"); 
      //   $("#add-to-cart-button").prop('disabled', true);
      // }
      // else
      // {
      //   $("#product-availability").text("Add to Cart"); 
      //   $("#add-to-cart-button").removeClass("opacity-70"); 
      //   $("#add-to-cart-button").prop('disabled', false);
      // }
      $(".p1_selling_plan [data-stack]").each(function(i,Data){
        var vid = parseInt($(Data).data("stack"));
          //console.log(vid);
          if(vid == current_variant_id)
          {
            var otpprice = $(Data).data("otp");
            var new_price = $(Data).data("price");
              var oldprice = otpprice.split("$");
              var discounted_price = new_price.split("$");
              var save_price = parseFloat(oldprice[1]) - parseFloat(discounted_price[1]);
              
              $('.save_price_text').text("save $"+save_price.toFixed());
              $('.onetimeprice').text(otpprice);
              $(".sub_price").html(new_price+"<br><span class='line_thue'>"+otpprice+"</span>");  
              $('.save_price').text("& save $"+save_price.toFixed()+" + Free Shipping");
          }
      });
    }
    else
    {
      var current_variant_id =  $("input[name='id']").val();
      // if(available == "")
      // {
      //   $("#product-availability").text("Sold Out"); 
      //   $("#add-to-cart-button").addClass("opacity-70"); 
      //   $("#add-to-cart-button").prop('disabled', true);
      // }
      // else if(available == "000")
      // {
      //   $("#product-availability").text("Unavailable"); 
      //   $("#add-to-cart-button").addClass("opacity-70"); 
      //   $("#add-to-cart-button").prop('disabled', true);
      // }
      // else
      // {
      //   $("#product-availability").text("Subscribe"); 
      //   $("#add-to-cart-button").removeClass("opacity-70"); 
      //   $("#add-to-cart-button").prop('disabled', false);
      // }
       $(".p1_selling_plan [data-stack]").each(function(i,Data){
        var vid = parseInt($(Data).data("stack"));
          //console.log(vid);
          if(vid == current_variant_id)
          {
            var otpprice = $(Data).data("otp");
            var new_price = $(Data).data("price");
              var oldprice = otpprice.split("$");
              var discounted_price = new_price.split("$");
              var save_price = parseFloat(oldprice[1]) - parseFloat(discounted_price[1]);

              $('.save_price_text').text("save $"+save_price.toFixed());
              $(".sub_price").html(new_price+"<br><span class='line_thue'>"+otpprice+"</span>");  
              $('.save_price').text("& save $"+save_price.toFixed()+" + Free Shipping");
          }
      });
    }

    $('#selling_plan_{{productn.id}}').change(function() 
    {
      var selected_plan_val = $('#selling_plan_{{productn.id}}').val();
      var selling_plan_val = $("input[name='newpurchaseoption']:checked").val();
      if(selling_plan_val == "subsave")
      {
        var total  = 0;
        var otptotal  = 0;
        if(selected_plan_val == "selling_plan_00")
        {
          var selling_plan = parseInt($(".selling_plan_00").val());
          $("#selected_selling_plan").val(selling_plan);
        }
        if(selected_plan_val == "selling_plan_11")
        {
          var selling_plan = parseInt($(".selling_plan_11").val());
          $("#selected_selling_plan").val(selling_plan);
        }
        if( selected_plan_val == "selling_plan_22")
        {
          var selling_plan = parseInt($(".selling_plan_22").val());
          $("#selected_selling_plan").val(selling_plan);
        }
        if( selected_plan_val == "selling_plan_33")
        {
          var selling_plan = parseInt($(".selling_plan_33").val());
          $("#selected_selling_plan").val(selling_plan);
        }
        if( selected_plan_val == "selling_plan_44")
        {
          var selling_plan = parseInt($(".selling_plan_44").val());
          $("#selected_selling_plan").val(selling_plan);
        }
      }
      else
      {
      
      }
    });


      $('input[type=radio][name=newpurchaseoption]').change(function() 
      {
        $(".take_price_ss").slideUp();
        $(this).siblings (".take_price_ss").slideDown();
        
        var selling_plan_val = $("input[name='newpurchaseoption']:checked").val();
        if(selling_plan_val == "onetime")
        {
          var current_variant_id =  $("input[name='id']").val();
           $("#product-availability").text("Add to Cart"); 
           $(".p1_selling_plan [data-stack]").each(function(i,Data){
            var vid = parseInt($(Data).data("stack"));
            console.log(vid);
            if(vid == current_variant_id)
            {
              var otpprice = $(Data).data("otp");
              var new_price = $(Data).data("price");
               var oldprice = otpprice.split("$");
              var discounted_price = new_price.split("$");
              var save_price = parseFloat(oldprice[1]) - parseFloat(discounted_price[1]);

              $('.save_price_text').text("save $"+save_price.toFixed());
              $('.onetimeprice').text(otpprice);
              $(".sub_price").html(new_price+"<br><span class='line_thue'>"+otpprice+"</span>");  
              $('.save_price').text("& save $"+save_price.toFixed()+" + Free Shipping");
            }
          });
          document.querySelector('select[name="id"]', 'input[name="id"]').dispatchEvent(new Event('change'));
        }
        else
        {
          var current_variant_id =  $("input[name='id']").val();
          $("#product-availability").text("Subscribe"); 
          $(".p1_selling_plan [data-stack]").each(function(i,Data)
          {
            var vid = parseInt($(Data).data("stack"));
            console.log(vid);
            if(vid == current_variant_id)
            {
              var otpprice = $(Data).data("otp");
              var new_price = $(Data).data("price");
               var oldprice = otpprice.split("$");
              var discounted_price = new_price.split("$");
              var save_price = parseFloat(oldprice[1]) - parseFloat(discounted_price[1]);
              
              $('.save_price_text').text("save $"+save_price.toFixed());
              $(".sub_price").html(new_price+"<br><span class='line_thue'>"+otpprice+"</span>");  
              $('.save_price').text("& save $"+save_price.toFixed()+" + Free Shipping");
            }
          });
          document.querySelector('select[name="id"]', 'input[name="id"]').dispatchEvent(new Event('change'));
        }
      });

      $("#add-to-cart-button").on("click", function ()
      {
  
          var selling_plan_val= "";
          var items = [];
          var selected_plan_val = $('#selling_plan_{{productn.id}}').val();
          var selling_plan_val = $("input[name='newpurchaseoption']:checked").val();
          if(selling_plan_val == "subsave")
          {
              var total  = 0;
              var otptotal  = 0;
            var data = { id: parseInt($('.stack_vid').val()), quantity:$("input[name='quantity']").val(), selling_plan: parseInt($('input[name="pro_selling_plan"]:checked').val()) }

              // call ajax 
              jQuery.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: data,
              dataType: 'json',
              success: function(response) 
              { 
                $.getJSON('/cart.js', function(cart) 
                {
                  if(cart.item_count < 1 )
                  {
                      $('#cart-count').html("");
                  }
                  else
                  {
                      $('#cart-count').html("<number class='number'>"+cart.item_count+"</number>");
                  }
                                     
                }); 
                  openCartMenu();
              }
          });
      }
      else
      {
          var data = {id: parseInt($('.stack_vid').val()), quantity:$("input[name='quantity']").val() }
          jQuery.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: data,
              dataType: 'json',
              success: function(response) 
              {
                $.getJSON('/cart.js', function(cart) 
                {
                  if(cart.item_count < 1 )
                  {
                      $('#cart-count').html("");
                  }
                  else
                  {
                      $('#cart-count').html("<number class='number'>"+cart.item_count+"</number>");
                  }
                                     
                }); 
                  openCartMenu();
              }
          });
      }
  });
  });
  
  $(".open-ingradiant-details").click(function(){
    $(".accordion-tab-1").removeClass("active");
    $(".accordion-tab").removeClass("active");
    $(".accor-cont ").addClass("hidden");
      $(".ingred-btn").addClass("active");
      $(".ingred-con").removeClass("hidden");
       
document.getElementById('ingredients-tab-panel').scrollIntoView({
  behavior: 'smooth'
});
  document.getElementById('ingredients-tab-panel-1').scrollIntoView({
  behavior: 'smooth'
});
  });
  
  $(".open-review-details").click(function(){
    $(".accordion-tab-1").removeClass("active");
    $(".accordion-tab").removeClass("active");
    $(".accor-cont ").addClass("hidden");
      $(".review-btn").addClass("active");
      $(".review-con").removeClass("hidden");

    document.getElementById('reviews-tab-panel').scrollIntoView({
      behavior: 'smooth'
});
  document.getElementById('reviews-tab-panel-1').scrollIntoView({
  behavior: 'smooth'
});
  });




    </script>
  </div>
{% endif %}

{% schema %}
{
  "name": "xt Protine Product",
  "settings": [
    {
      	"type":"product",
      	"id":"prod",
      	"label":"Product"
      },
    {
      	"type":"richtext",
      	"id":"prod_desc",
      	"label":"Product Description"
      },
    {
      	"type":"text",
      	"id":"tag",
      	"label":"Paroduct tag",
		"default":"Product tag"
      },
      {
      	"type":"text",
      	"id":"sdetail",
      	"label":"Badge 1",
		"default":"NEW!"
      },
      {
      	"type":"text",
      	"id":"sdetail1",
      	"label":"Badge 2",
		"default":"15% off"
      },
      {
      	"type":"text",
      	"id":"sdetail2",
      	"label":"Badge 3",
		"default":"Free Shipping"
      },
      {
      	"type":"textarea",
      	"id":"slistinformation",
      	"label":"information"
      },{
    	"type":"text",
        "id":"title",
        "label":"Section Title"
	},
    {
    	"type":"textarea",
        "id":"subtitle",
        "label":"Section Subtitle"
	},
	{
    	"type":"text",
        "id":"onetimetext",
        "label":"One time purchase text",
		"default":"One-Time Purchase"
	},
	{
    	"type":"text",
        "id":"subscribetext",
        "label":"Subscribe and Save text",
		"default":"Subscribe & Save",
        "info":"Use <span></span> tag to make text in other color"
	},
    {
      "content": "Accordian Section",
      "type": "header"
    },
    {
      "id": "overview",
      "label": "Overview",
      "type": "richtext"
    },
    {
      "default": true,
      "id": "no_sweetners",
      "label": "No Artificial Sweetners?",
      "type": "checkbox"
    },
    {
      "default": true,
      "id": "no_artificial_coloring",
      "label": "No Artificial Coloring?",
      "type": "checkbox"
    },
    {
      "default": true,
      "id": "gluten_free",
      "label": "Gluten Free?",
      "type": "checkbox"
    },
    {
      "default": true,
      "id": "no_preservatives",
      "label": "No Artificial Preservatives?",
      "type": "checkbox"
    }
],
"blocks": [
    {
      "name": "Frequently Asked Question",
      "settings": [
        {
          "id": "question",
          "label": "Question",
          "type": "textarea"
        },
        {
          "id": "answer",
          "label": "Answer",
          "type": "richtext"
        }
      ],
      "type": "faq"
    }
  ],
"presets":[
		{
			"name": "xt Protine Product"
		}
	]
}
{% endschema %}
