{% layout none %}
<div class="xproduct custom-drawer-qv" id="variant-drawer-{{ product.id }}"  style="">
  <a href="{{ product.url }}" target="new">
    <div class="img">
      {% assign variants = product.variants %}
      {% if variants.size == 1 %}
        {% assign variant = variants.first %}
        <img src="{{ variant.image | img_url: 'medium' }}" alt="{{ variant.title }}">
      {% else %}
        {% for variant in variants %}
          <img data-variant-id="{{ variant.id }}" src="{{ variant.image | img_url: 'medium' }}" alt="{{ variant.title }}" style="display:none;">
        {% endfor %}
      {% endif %}
    </div>
  </a>
  <div class="rating">
    <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
      {{ product.metafields.judgeme.badge }} 
      <p class="ml-3 text-gray-500">
        <!-- <span class="font-bold text-black">{{ product.metafields.reviews.rating.value }}</span>
        /5.0 -->
        <a class="open-review-details">{{ product.metafields.reviews.rating_count }} Reviews</a>
      </p>
    </div>
  </div>
  <div class="pname"><a href="{{ product.url }}" target="new">{{ product.title }}</a></div>
  <form method="post" action="/cart/add" class="variant-form" data-product-id="{{ product.id }}">
    {% assign option_index = 0 %}
    {% for option in product.options_with_values %}
      {% assign option_name_downcase = option.name | downcase %}

      {% if option_name_downcase == 'size' or option_name_downcase == 'serving size' %}
        <div class="sizes">
          <div class="label">{{ option.name }}:</div>
          <div class="sizes-wrap">
            {% for value in option.values %}
              {% assign option_available = false %}
              {% for variant in product.variants %}
                {% if variant.available and variant.options[option_index] == value %}
                  {% assign option_available = true %}
                {% endif %}
              {% endfor %}
              {% if option_available %}
                <label class="size {% if forloop.first %} active {% endif %}">
                  <input
                    type="radio"
                    name="option-{{ option_index }}"
                    value="{{ value }}"
                    class="product-option-radio"
                    data-product-id="{{ product.id }}"
                    data-option-index="{{ option_index }}"
                    {% if forloop.first %} checked {% endif %}
                  >
                  {{ value }}
                </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="flavors">
          {% assign flavor_count = 0 %}
          {% for option in product.options_with_values %}
            {% if option.name == 'Flavor' %}
              {% assign flavor_count = option.values | size %}
            {% endif %}
          {% endfor %}
          <div class="label">
            {% if flavor_count > 0 %}
              Available in {{ flavor_count }} flavors
            {% else %}
              No flavors available
            {% endif %}
          </div>
          <select
            class="flavor-select product-option-dropdown"
            data-product-id="{{ product.id }}"
            data-option-index="{{ option_index }}"
          >
            {% for value in option.values %}
              {% assign option_available = false %}
              {% for variant in product.variants %}
                {% if variant.available and variant.options[option_index] == value %}
                  {% assign option_available = true %}
                {% endif %}
              {% endfor %}
              {% if option_available %}
                <option {% if forloop.first %} selected="selected" {% endif %} value="{{ value }}">
                  {{ value }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      {% endif %}
      {% assign option_index = option_index | plus: 1 %}
    {% endfor %}

    <div class="frequency">
      <div class="label">Frequency:</div>
      <div class="freq-box active">
        <div class="name-price">
          <label class="freq-selection">
            <input type="radio" name="plan-freq" class="freq-radio" value="subscription" checked>
            <div class="name">Subscribe and Save</div>
          </label>

          <div class="price ">
            <span class="product-price">{{ product.selected_or_first_available_selling_plan_allocation.price | money}}</span>
            <del class="product-compare-price">{{ product.selected_or_first_available_selling_plan_allocation.compare_at_price | money}}</del>
          </div>
        </div>
        <div class="desc-box">
          <ul>
            <li>Free Shipping</li>
            <li>Save 10% on every order</li>
            <li>Cancel or pause anytime</li>
          </ul>
          {% if product.selling_plan_groups.size > 0 %}
            <select
              name="selling_plan"
              id="selling-plan-{{ product.id }}"
              class="plan-select selling-plan-dropdown"
            >
              {% for group in product.selling_plan_groups %}
                {% for plan in group.selling_plans %}
                  <option value="{{ plan.id }}" {% if plan.name contains '30 days' %} selected {% endif %}>{{ plan.name | replace: 'Every', '' }}</option>
                {% endfor %}
              {% endfor %}
            </select>
          {% endif %}
        </div>
      </div>
      <div class="freq-box">
        <div class="name-price">
           <label class="freq-selection">
              <input type="radio" name="plan-freq" class="freq-radio" value="onetime">
              <div class="name">One-Time Purchase</div>
           </label>
          <div class="price one-time-price">{{ product.selected_or_first_available_selling_plan_allocation.compare_at_price | money}}</div>
        </div>
      </div>
    </div>
    <input type="hidden" name="id" class="selected-variant-id" data-product-id="{{ product.selected_or_first_available_variant.id }}" value="{{ product.selected_or_first_available_variant.id }}">
    <button type="submit" class="btn" data-product-id="{{ product.id }}">Add to Cart</button>
    <script type="application/json" id="product-variants-{{ product.id }}">
    {{ product.variants | json }}
  </script>
  </form>

  
</div>
